/*------------------------------------------------------------
	background
------------------------------------------------------------*/
#bg-header {
  background-image: url("../img/dex-slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 840px;
}

#bg-header1280 {
  background-image: url("../img/1280-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
}

#bg-ftbanner {
  background-image: url("../img/1280-bg-ft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-silde {
  height: 960px;
}

.c-silde .u-logo {
  padding-top: 34px;
  overflow: hidden;
}

.c-silde .u-logo img {
  float: right;
  margin-right: 40px;
}

.c-silde .u-logo img:first-child {
  float: left;
  margin-left: 40px;
  margin-top: 7px;
}

.c-silde .u-logo a {
  float: right;
  width: 190px;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 19px;
}

.c-silde .u-logo a img:first-child {
  float: none;
  margin-left: 0;
  margin-top: 6px;
}

.c-silde .u-logo a img {
  display: inline-block;
  width: 24px;
  height: 16px;
  margin-right: 10px;
}

.c-silde .u-logo p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
}

.c-silde .u-logo2 {
  overflow: hidden;
  margin-top: 187px;
  margin-right: 80px;
}

.c-silde .u-logo2 img {
  float: right;
  margin-left: 39px;
}

.c-silde .u-logo2 img:last-child {
  margin-left: 0;
}

.c-silde .u-content {
  margin-top: 232px;
}

.c-menu {
  background-color: #fff;
  border-bottom: 1px solid #0075a9;
}

.c-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-menu li {
  width: 25%;
  border-right: 1px solid #999;
}

.c-menu li:first-child {
  border-left: 1px solid #999;
}

.c-menu a {
  padding: 27px 0 25px 0;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-menu img {
  margin-bottom: 10px;
}

.c-menu div {
  text-align: center;
}

.c-menu--1280 {
  margin-top: 226px;
  background: none;
  border: none;
}

.c-menu--1280 li {
  border: none;
}

.c-menu--1280 li:first-child {
  border: none;
}

.c-menu--1280 a {
  padding: 0;
}

.c-listmedia-1 {
  margin-top: 81px;
  display: -webkit-box;
}

.c-listmedia-1 .media {
  width: 300px;
  height: 294px;
  background-color: #007bb1ba;
  border-radius: 8px;
  margin-left: 30px;
}

.c-listmedia-1 .media .u-text {
  padding: 15px 0 15px 0;
  color: #fff;
  text-align: center;
}

.c-listmedia-1 .media h6 {
  font-size: 1.6rem;
  padding-bottom: 8px;
}

.c-listmedia-1 .media p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 23px;
}

.c-listmedia-1 .media img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.c-listmedia-1 .media .stick {
  width: 18px;
  height: 30px;
  position: relative;
  margin: -15px auto 0;
}

.c-listmedia-1 .media:first-child {
  margin-left: 0;
}

.c-listmedia-2 {
  margin-top: 60px;
  display: -webkit-box;
}

.c-listmedia-2 .media {
  width: 300px;
  margin-left: 30px;
}

.c-listmedia-2 .media img {
  border-radius: 5px;
}

.c-listmedia-2 .media .u-text {
  text-align: center;
  padding: 18px 0 18px 0;
}

.c-listmedia-2 .media .u-text h6 {
  font-size: 1.6rem;
  color: #0068b7;
  padding-bottom: 13px;
}

.c-listmedia-2 .media .u-text p {
  font-size: 1.4rem;
  font-weight: 500;
}

.c-listmedia-2 .media:first-child {
  margin-left: 0;
}

.c-listmedia-3 {
  margin-top: 60px;
  margin-bottom: 77px;
  overflow: hidden;
}

.c-listmedia-3 .u-left {
  float: left;
  width: 440px;
}

.c-listmedia-3 .u-left .media {
  margin-top: 38px;
}

.c-listmedia-3 .u-left .media h6 {
  font-size: 1.4rem;
  color: #0075a9;
  padding-bottom: 13px;
  font-weight: 500;
}

.c-listmedia-3 .u-left .media p {
  font-size: 1.6rem;
  font-weight: 500;
}

.c-listmedia-3 .u-right {
  float: right;
  width: 440px;
}

.c-listmedia-3 .u-right .u-title {
  padding-bottom: 10px;
}

.c-listmedia-3 .u-right .media {
  margin-top: 30px;
  overflow: hidden;
}

.c-listmedia-3 .u-right .media img {
  float: left;
  border-radius: 8px;
}

.c-listmedia-3 .u-right .media .u-text {
  float: left;
  margin-left: 16px;
  font-weight: 500;
}

.c-listmedia-3 .u-right .media .u-text h6 {
  font-size: 1.4rem;
  color: #0075a9;
  padding-bottom: 10px;
}

.c-listmedia-3 .u-right .media .u-text span {
  font-size: 1.4rem;
  color: #666666;
}

.c-listmedia-3 .u-right .media .u-text span:before {
  content: " | ";
}

.c-listmedia-3 .u-right .media .u-text p {
  width: 336px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 23px;
}

.c-listmedia-3 .u-btn-link {
  text-align: center;
  margin-top: 40px;
}

.c-listmedia-3 .u-btn-link button {
  padding: 12px 22px 12px 22px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.c-listmedia-3 .u-btn-link button b {
  font-size: 1.4rem;
  font-weight: 500;
}

.c-listmedia-3 .u-btn-link button b:after {
  content: url("../img/icon-agrow-right.png");
  margin-left: 10px;
}

.c-line {
  border-bottom: 1px solid #0075a9;
}

.c-line-ddd {
  border-bottom: 1px solid #dddddd7a;
}

.c-ftmenu {
  padding-top: 38px;
  padding-bottom: 54px;
  background-color: #f8f8f8;
  overflow: hidden;
}

.c-ftmenu h5 {
  font-size: 1.5rem;
  color: #003567;
  padding: 20px 0 16px 0;
}

.c-ftmenu ul:last-child {
  margin-right: 0;
  padding-top: 15px;
}

.c-ftmenu ul {
  width: 150px;
  float: left;
  margin-right: 40px;
}

.c-ftmenu a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 5px 0 5px 5px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 18px;
}

.c-ftmenu a:before {
  content: url("../img/icon-agrow-right.png");
  margin-right: 3px;
}

.c-ftmenu--ftmenu2 {
  padding-bottom: 44px;
}

.c-ftmenu--ftmenu2 ul {
  width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
}

.c-ftmenu--ftmenu2 li:first-child {
  margin-left: 0;
}

.c-ftmenu--ftmenu2 li {
  float: left;
  margin-left: 72px;
}

.c-plugin {
  padding: 39px 0 40px 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-plugin img {
  float: left;
  margin-left: 15px;
}

.c-plugin a {
  text-decoration: none;
}

.c-plugin a:first-child img {
  margin-left: 0;
}

.c-ftinfo {
  background-color: #003567;
  padding: 60px 0 0 0;
}

.c-ftinfo .u-ftlogo {
  overflow: hidden;
}

.c-ftinfo .u-ftlogo .u-logo {
  float: left;
  padding-top: 10px;
}

.c-ftinfo .u-ftlogo .u-contact {
  float: left;
  margin-left: 165px;
  border: 1px solid #ffffff7a;
  border-radius: 4px;
}

.c-ftinfo .u-ftlogo .u-contact a {
  width: 230px;
  padding: 20px 0 20px 0;
  text-decoration: none;
  color: white;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.c-ftinfo .u-ftlogo .u-contact a:before {
  content: url("../img/dex-ftmail.png");
  margin-right: 10px;
  margin-left: 22px;
}

.c-ftinfo .u-ftlogo .u-phone {
  float: left;
  margin-left: 18px;
  margin-top: 3px;
}

.c-ftinfo .u-address {
  padding-top: 40px;
  padding-bottom: 59px;
  overflow: hidden;
}

.c-ftinfo .u-address .cont {
  float: left;
}

.c-ftinfo .u-address h5 {
  font-size: 1.4rem;
  color: #bfccd9;
  padding: 2px 0 10px 0;
}

.c-ftinfo .u-address p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #bfccd9;
  line-height: 19px;
}

.c-ftinfo .u-address img {
  float: left;
  padding: 5px 30px 0 31px;
}

.c-ftinfo .u-address .logo-green {
  float: right;
}

.c-ftinfo .u-address .logo-green img {
  padding: 0;
}

.c-ftinfo .tm p {
  font-size: 1.2rem;
  color: #bfccd9;
  padding: 33px 0 33px 0;
  text-align: center;
}

.btn-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  -webkit-box-shadow: #4471c696 0px 3px 10px;
          box-shadow: #4471c696 0px 3px 10px;
}

.c-cont1 {
  padding-bottom: 80px;
}

.c-cont1 .u-title:first-child {
  padding: 30px 0 30px 0;
}

.c-cont1 .u-title {
  padding: 60px 0 30px 0;
}

.c-cont1 .card-lg, .c-cont1 .card-md, .c-cont1 .card-sm {
  position: relative;
  display: inline-block;
}

.c-cont1 .card-lg img, .c-cont1 .card-md img, .c-cont1 .card-sm img {
  border-radius: 5px;
}

.c-cont1 .card-lg {
  width: 910px;
  height: 445px;
  margin-right: 17px;
}

.c-cont1 .card-md {
  width: 445px;
  height: 445px;
  margin-right: 17px;
}

.c-cont1 .card-sm {
  width: 445px;
  height: 215px;
  display: block;
  margin-top: 15px;
}

.c-cont1 .card-sm:first-child {
  margin-top: 0;
}

.c-cont1 .card-double {
  display: inline-grid;
}

.c-cont1 .list-md .card-md:last-child {
  margin-right: 0;
}

.c-cont1 .overlay {
  padding: 20px 0 20px 0;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.c-cont1 .overlay h5 {
  color: #fff;
  font-size: 1.6rem;
  margin-left: 31px;
  width: 335px;
  line-height: 20px;
}

.c-cont1 .overlay .icon-stick {
  width: 18px;
  height: 30px;
  position: absolute;
  margin-left: 50%;
  top: -12px;
}

.c-cont1 .overlay p, .c-cont1 .overlay h6 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 12px;
  margin-left: 31px;
}

.c-cont1 .overlay p:before {
  content: url("../img/1280-clock.png");
  margin-right: 3px;
}

.c-cont1 .overlay .btn-sm {
  width: 64px;
  padding: 5px 0 5px 0;
  border-radius: 4px;
  background-color: #32b16c;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

.c-cont1 .overlay .btn-sm--brown {
  background-color: #7e6b5a;
}

.c-cont1 .overlay .btn-sm--purple {
  background-color: #8957a1;
}

.c-cont1 .overlay .btn-sm--blue {
  background-color: #0075a9;
}

.c-cont1 .overlay .btn-sm--orange {
  background-color: #f39800;
}

.c-cont1 .overlay .list-btn {
  margin: 3px 0 15px 31px;
}

.c-ftbanner {
  padding: 40px 0 38px 0;
  overflow: hidden;
}

.c-ftbanner h4 {
  float: left;
  font-size: 2rem;
  width: 460px;
  margin-top: 26px;
}

.c-ftbanner a {
  float: right;
  width: 190px;
  padding: 18px 20px 18px 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 19px;
}

.c-ftbanner a img:first-child {
  float: none;
  margin-left: 0;
  margin-top: 6px;
}

.c-ftbanner a img {
  display: inline-block;
  width: 24px;
  height: 16px;
  margin-right: 10px;
}

.c-ftbanner p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
}

.c-ftbanner .u-phone {
  float: right;
}

@media only screen and (max-width: 1280px) {
  #bg-header1280 {
    background-image: url("../img/slide-1280.jpg");
    height: 640px;
  }
  .c-silde .u-logo2 img {
    width: 288px;
    height: 240px;
  }
  .c-silde .u-logo2 img:last-child {
    width: 240px;
    height: 240px;
  }
  .c-menu--1280 {
    margin-top: 40px;
  }
  .c-cont1 {
    padding-bottom: 80px;
  }
  .c-cont1 .card-lg, .c-cont1 .card-md, .c-cont1 .card-sm {
    position: relative;
    display: inline-block;
  }
  .c-cont1 .card-lg img, .c-cont1 .card-md img, .c-cont1 .card-sm img {
    border-radius: 5px;
  }
  .c-cont1 .card-lg {
    width: 590px;
    height: 288px;
    margin-right: 17px;
  }
  .c-cont1 .card-lg img {
    width: 100%;
  }
  .c-cont1 .card-md {
    width: 285px;
    height: 285px;
    margin-right: 17px;
  }
  .c-cont1 .card-md img {
    width: 100%;
  }
  .c-cont1 .card-sm {
    width: 285px;
    height: 138px;
    display: block;
    margin-top: 15px;
  }
  .c-cont1 .card-sm img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #bg-header {
    background-image: url("../img/mob-slide.jpg");
    height: auto;
  }
  .c-menu-sp {
    overflow: hidden;
    position: fixed;
    width: 100%;
    padding: 10px 0 10px 0;
    z-index: 9999;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    background: transparent;
  }
  .c-silde {
    overflow: hidden;
  }
  .c-silde .u-logo {
    padding-top: 0;
    float: left;
    width: 157px;
    height: 20px;
    margin-left: 20px;
  }
  .c-silde .u-logo img {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .c-silde .u-logo img:first-child {
    float: none;
    margin: 0;
  }
  .c-silde .u-content {
    width: 300px;
    height: 131px;
    margin-top: 0;
    padding: 177px 0 550px 0;
  }
  .c-silde .u-content img {
    width: 100%;
  }
  .c-silde .c-menuSP {
    width: 25px;
    height: 25px;
    float: right;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
  }
  .c-silde .c-menuSP__1, .c-silde .c-menuSP__2, .c-silde .c-menuSP__3 {
    width: 100%;
    height: 2px;
    background: #0075a9;
    margin: 5px auto;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .c-silde .is-open .c-menuSP__1 {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
    transform: rotate(45deg) translate(4px, 4px);
    background: #0075a9 !important;
  }
  .c-silde .is-open .c-menuSP__2 {
    opacity: 0;
  }
  .c-silde .is-open .c-menuSP__3 {
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
    transform: rotate(-45deg) translate(6px, -6px);
    background: #0075a9 !important;
  }
  .c-silde .c-menulistSP {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #FFF;
    overflow-y: auto;
  }
  .c-silde .c-menulistSP ul {
    height: 100vh;
  }
  .c-silde .c-menulistSP ul li {
    width: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
  }
  .c-silde .c-menulistSP ul li:first-child {
    border-top: 1px solid #0075a9;
  }
  .c-silde .c-menulistSP ul a {
    width: 100%;
    text-decoration: none;
    padding: 20px 10px 20px 10px;
    display: inline-block;
    overflow: hidden;
  }
  .c-silde .c-menulistSP ul h5 {
    font-size: 1.5rem;
    color: #003567;
    float: left;
    margin-top: 5px;
  }
  .c-silde .c-menulistSP ul p {
    font-size: 1.3rem;
    font-weight: 500;
    float: left;
    color: #000;
    margin-left: 50px;
  }
  .c-silde .c-menulistSP ul .ag2 {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 30px;
  }
  .c-silde .c-menulistSP ul .ag1 {
    width: 7px;
    height: 12px;
    float: right;
    margin-right: 36px;
  }
  .c-silde .c-menulistSP ul img {
    width: 100%;
  }
  .c-silde .c-menulistSP ul .imgcal {
    width: 22px;
    height: 24px;
  }
  .c-silde .c-menulistSP ul .imgtaxi {
    width: 24px;
    height: 24px;
  }
  .c-silde .c-menulistSP ul .imgcom {
    width: 22px;
    height: 24px;
  }
  .c-silde .c-menulistSP ul .imgleaf {
    width: 26px;
    height: 22px;
  }
  .c-silde .c-menulistSP ul .imgflag {
    width: 24px;
    height: 24px;
  }
  .c-silde .c-menulistSP ul .imgre {
    width: 24px;
    width: 24px;
  }
  .c-silde .c-menulistSP ul .imgcal, .c-silde .c-menulistSP ul .imgtaxi, .c-silde .c-menulistSP ul .imgcom, .c-silde .c-menulistSP ul .imgleaf, .c-silde .c-menulistSP ul .imgflag, .c-silde .c-menulistSP ul .imgre {
    margin-right: 16px;
    float: left;
    margin-left: 10px;
  }
  .c-listmedia-1 {
    margin-top: 20px;
    display: block;
    text-align: center;
  }
  .c-listmedia-1 .media {
    float: none;
    width: 280px;
    height: auto;
    margin-left: 0;
    margin-top: 10px;
    display: inline-block;
  }
  .c-listmedia-1 .media h6 {
    font-size: 1.5rem;
  }
  .c-listmedia-1 .media p {
    font-size: 1.3rem;
  }
  .c-listmedia-1 .media .stick {
    width: 18px;
    height: 18px;
  }
  .c-listmedia-1 .media img {
    width: 100%;
  }
  .c-listmedia-2 {
    margin-top: 20px;
    display: block;
    text-align: center;
  }
  .c-listmedia-2 .media {
    width: 280px;
    height: 112px;
    margin-left: 0;
    float: none;
    display: inline-block;
    margin-top: 10px;
  }
  .c-listmedia-2 .media .image {
    width: 280px;
    height: 112px;
  }
  .c-listmedia-2 .media img {
    width: 100%;
  }
  .c-listmedia-2 .media .u-text {
    display: none;
  }
  .c-listmedia-3 {
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .c-listmedia-3 .u-left {
    float: none;
    width: 100%;
  }
  .c-listmedia-3 .u-left .u-title {
    width: 190px;
    height: 59px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .c-listmedia-3 .u-left .u-title img {
    width: 100%;
  }
  .c-listmedia-3 .u-left .media {
    margin-top: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .c-listmedia-3 .u-left .media h6 {
    font-size: 1.1rem;
    width: 200px;
  }
  .c-listmedia-3 .u-left .media p {
    font-size: 1.3rem;
    width: 240px;
  }
  .c-listmedia-3 .u-left .media .for-mob {
    float: left;
  }
  .c-listmedia-3 .u-left .media .image {
    float: right;
    width: 7px;
    height: 12px;
    padding: 20px 0 20px 0;
  }
  .c-listmedia-3 .u-left .media .image img {
    width: 100%;
  }
  .c-listmedia-3 .u-right {
    float: none;
    width: 100%;
  }
  .c-listmedia-3 .u-right .u-title {
    padding-bottom: 10px;
    width: 136px;
    height: 58px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .c-listmedia-3 .u-right .u-title img {
    width: 100%;
  }
  .c-listmedia-3 .u-right .media {
    margin-top: 0;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
  }
  .c-listmedia-3 .u-right .media .u-text {
    margin-left: 10px;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
  }
  .c-listmedia-3 .u-right .media .u-text h6 {
    font-size: 1.1rem;
  }
  .c-listmedia-3 .u-right .media .u-text span {
    font-size: 1.1rem;
  }
  .c-listmedia-3 .u-right .media .u-text p {
    float: left;
    width: 65%;
    font-size: 1.3rem;
  }
  .c-listmedia-3 .u-right .media .u-text .imgsm {
    float: left;
  }
  .c-listmedia-3 .u-right .media .u-text .imgsm img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .c-listmedia-3 .u-right .media .u-text .icon {
    float: right;
    height: auto;
    margin-right: 10px;
    margin-top: 5px;
  }
  .c-listmedia-3 .u-right .media .u-text .icon img {
    width: 7px;
    height: 12px;
  }
  .c-listmedia-3 .u-btn-link {
    text-align: center;
    margin-top: 0;
  }
  .c-listmedia-3 .u-btn-link button {
    padding: 20px 10px 20px 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
    text-align: left;
  }
  .c-listmedia-3 .u-btn-link button b {
    font-size: 1.3rem;
  }
  .c-listmedia-3 .u-btn-link button b:after {
    content: url("");
    margin-left: 0;
  }
  .c-listmedia-3 .u-btn-link button img {
    width: 7px;
    height: 12px;
    float: right;
  }
  .c-plugin {
    padding: 30px 0 30px 0;
    width: 618px;
    margin: 0 auto;
  }
  .c-plugin img {
    width: 135px;
    height: 54px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .c-plugin img:first-child {
    display: none;
  }
  .c-plugin a:first-child img {
    margin-left: 10px;
  }
  .c-ftinfo {
    padding: 30px 0 0 0;
  }
  .c-ftinfo .u-ftlogo .u-logo {
    width: 99%;
    float: none;
    padding: 20px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .c-ftinfo .u-ftlogo .u-logo img {
    width: 240px;
    height: 48px;
    margin: 0 auto;
  }
  .c-ftinfo .u-ftlogo .u-contact {
    float: none;
    margin-left: 0;
    width: 99%;
    margin-top: 10px;
  }
  .c-ftinfo .u-ftlogo .u-contact a {
    width: 196px;
    font-size: 1.4rem;
    margin: 0 auto;
  }
  .c-ftinfo .u-ftlogo .u-phone {
    float: none;
    margin-left: 0;
    width: 157px;
    height: 20px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .c-ftinfo .u-ftlogo .u-phone img {
    width: 100%;
  }
  .c-ftinfo .u-address {
    padding: 20px 0 20px 0;
  }
  .c-ftinfo .u-address .cont {
    float: none;
  }
  .c-ftinfo .u-address h5 {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.3rem;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    text-align: center;
  }
  .c-ftinfo .u-address p {
    font-size: 1.1rem;
    text-align: center;
  }
  .c-ftinfo .u-address img {
    float: left;
    padding: 5px 30px 0 31px;
  }
  .c-ftinfo .u-address .logo-green {
    float: none;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  .c-ftinfo .u-address .logo-green img {
    padding-top: 30px;
    width: 100%;
  }
  .c-ftinfo .tm p {
    width: 60%;
    font-size: 1.2rem;
    color: #bfccd9;
    padding: 33px 0 33px 0;
    margin: 0 auto;
  }
  .btn-top {
    border-radius: 5px;
  }
  .btn-top img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 499px) {
  .c-silde .u-content {
    padding: 80px 0 209px 0;
  }
  .c-plugin {
    width: 310px;
  }
}
