@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/ 
body{
	min-width: 1670px;
	max-width: 1920px;
	margin: 0 auto;
}
.container{
	width: 1440px;
	margin: 0 auto;
}
.web{
	display: block;
}
.mob{
	display: none;
}
.center{
	text-align: center;
}
.w100{
	width: 100%;
}
@media only screen and (max-width: 768px){
	body{
		min-width: 320px;
		max-width: auto;
	}
	.container{
		width: 100%;
	}
	.web{
		display: none;
	}
	.mob{
		display: block;
	}
}