@charset "UTF-8";
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body{
	max-width: 1920px;
	min-width: 1200px;
	margin-left: 220px;
}
.container{
	width: 960px;
	margin: 0 auto;
}