@charset "UTF-8";
/*------------------------------------------------------------
	background
------------------------------------------------------------*/
#bg-dexslide{
    background-image: url("../img/dex-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1035px;
}
#bg-dexnews{
    background: linear-gradient(to right, #1085b0 0%,#1085b0 50%,#1085b0 50%,#fff 50%,#fff 100%);
}
#bg-dexabout{
    background-image: url("../img/dex-bg-about.jpg");
}
#bg-dexinfo{
    background: linear-gradient(to right, #2aa4d1 0%,#2aa4d1 50%,#2aa4d1 50%,#3dafd9 50%,#3dafd9 100%);
    transition: .8s;
}
#bg-dexworks{
    background-image: url("../img/bg-dexworks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
    transition: .8s;
}
#bg-dexworks-son{
    background-image: url("../img/bg-dexworks-son.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
}
#bg-dexflow{
    background-image: url("../img/bg-flow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
    transition: .8s;
}
#bg-dexflow-son{
    background-image: url("../img/bg-flow-son.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
}
#bg-dexpolicy{
    background-image: url("../img/bg-dexpolicy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
    transition: .8s;
}
#bg-dexpolicy-son{
    background-image: url("../img/bg-dexpolicy-son.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
}
#bg-footer{
    background-color: #269eca;
}
#bg-comslide{
    background-image: url("../img/com-sidetop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
#bg-busslide{
    background-image: url("../img/bus-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}#bg-wslide{
    background-image: url("../img/w-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
#bg-floslide{
    background-image: url("../img/flo-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
#bg-poslide{
    background-image: url("../img/po-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
#bg-contslide{
    background-image: url("../img/cont-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-navbar{
    .c-sidenav {
        height: 100%;
        width: 220px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #1085b0;
        overflow-x: hidden;
        box-shadow: 5px 10px 18px #00000045;
        ul{
            margin-top: 20px;
        }
        li{
            width: 100%;
            a{
                font-size: 17px;
                font-weight: bold;
                color: #ffffff;
                height: 45px;
                display: flex;
                justify-content: center;
                text-decoration: none;
                align-items: center;
                letter-spacing: -1px;
            }
        }
       li:hover{
        background-color: #269eca;
       }
    }
    .c-topnav{
        width: 100%;
        background-color: #ffffff;
        .l-nav{
            width: 180px;
            margin: 0 auto;
        } 
        p{
            font-size: 11px;
            font-weight: 500;
            line-height: 16px;
            padding: 17px 0 13px 0;
            text-align: justify;
        }
        hr{
            border: 0.5px solid #1085b0;
        }
        h1{
            font-size: 23px;
            font-weight: bold;
            padding: 14px 0 18px 0;
            text-align: justify;
            letter-spacing: -0.5px;
        }
    }
    .c-contact{
        width: 100%;
        background-color: #269eca;
        position: absolute;
        bottom: 0;
        .l-nav2{
            width: 180px;
            margin: 0 auto;
        }
        .u-text{
            padding: 20px 0 20px 0; 
            font-size: 13px; 
            color: #ffffff;
            letter-spacing: -0.6px;
            text-align: center;
            h6{
                font-weight: bold;
            }
            p{
                font-weight: 500;
                font-size: 12px; 
            }
        }
        .btn-light{
            width: 178px;
            padding: 14px 0 14px 0;
            border: 1px solid #ddd;
            text-align: center;
            margin-top: 10px;
        }
        a:link{
            background-color: #fff;
            width: 100%;
            padding: 14px 0 14px 0;
            font-size: 13px;
            text-decoration: none;
            display: inline-block;
            text-align: center;
        }
        b{
            color: black;
        }
        b:after{
            content: url("../img/dex-icon-arow.png");
            margin-left: 1em;
        }
        b:before{
            content: url("../img/dex-icon-home.png");
            margin-right: 1em;
        }
        a:hover{
            background-color: #36c1ac;
           b{
               color: #fff;
           }
            b:after{
                content: url("../img/dex-icon-arow-w.png");
                margin-left: 1em;
            }
            b:before{
                content: url("../img/dex-icon-home-w.png");
                margin-right: 1em;
            }
        }
    }
}
.c-dexslide{
    .u-title{
        width: 960px;
        display: flex;
        align-content: center;
        justify-content: center;
        float: right;
        margin-top: 281px;
        img{
            margin-left: 14px;
        }
    }
    .u-scroll{
        width: 960px;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -45px;
        margin-left: 8px;
    }
}
.c-dexnews{
    overflow: hidden;
    .u-left{
        float: left;
        h3{
            font-size: 19px;
            font-weight: bold;
            color: #fff;
            padding: 13px 0 13px 0;
            margin-right: 20px;
        }
    }
    .u-right{
        float: left;
        background-color: #fff;
        display: -webkit-box;
        width: 883px;
        position: relative;
        p{
            font-size: 14px;
            font-weight: 500;
            padding: 13px 0 18px 30px;
        }
    }
    .u-right:before{
        content: '';
        position: absolute;
        top: 0; left: 0;
        border-bottom: 46px solid white;
        border-left: 17px solid #1085b0;
        width: 0;
    }
}
.c-about{
    width: 960px;
    display: flex;
    justify-content: center;
    img{
        padding: 50px 0 50px 14px;
    }
}
.c-dexinfo{
    overflow: hidden;
    .c-company,.c-business{
        overflow: hidden;
        padding: 42px 0 52px 0;
        width: 430px;
        img{
            float: left;
        }
       .u-text{
           float: left;
           width: 212px;
           margin-top: 8px;
        img{
            margin-right: 0;
            padding-bottom: 10px;
            margin-left: 0;
        }
        p{
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            line-height: 20px;
            padding-bottom: 12px;
            display: inline-block;
            text-align: justify;
            line-height: 25px;
        }
        a{
            border: 1px solid #fff;
        }
        a:link{
            width: 100%;
            padding: 10px 0 10px 0;
            background: none;
            text-decoration: none;
            display: inline-block;
            display: flex;
            justify-content: center;
            img{
                margin-left: 0;
                padding-bottom: 0;
            }
        }
        a:hover{
            background-color: #fff;
            img{
                content: url("../img/dex-more1-b.png")
            }
        }
       }
    }
    .c-company{
        float: left;
        background-color: #2aa4d1;
      img{
        margin-left: 7px;
        margin-right: 21px;
      }

    }
    .c-business{
        float: left;
        background-color: #3dafd9;
      img{
        margin-left: 24px;
        margin-right: 12px;
      }
    }
    .jus{
        float: left;
        width: 100px;
        height: 280px;
        background: #2aa4d1;
        position: relative;
    }
    .jus:before {
        content: '';
        position: absolute;
        top: 0;
        right: -4px;
        border-bottom: 280px solid #3dafd9;
        border-left: 96px solid #2aa4d1;
        width: 0;
    }
}
.c-dexworks,.c-dexflow,.c-dexpolicy{
    overflow: hidden;
    margin-top: 10px;
    .u-content{
        float: right;
        width: 890px;
        .u-works,.u-flow,.u-policy{
            width: 406px;
            margin-left: 124px;
            margin-top: 48px;
        }
        img{
            padding-bottom: 20px;
        }
        p{
            font-size: 14px;
            font-weight: 500;
            line-height: 26px;
            color: #fff;
           
        }
        a{
            border: 1px solid #fff;
        }
        a:link{
            width: 212px;
            padding: 15px 0 15px 0;
            background:  none;
            margin-top: 16px;
            text-decoration: none;
            display: inline-block;
            display: flex;
            justify-content: center;
            img{
                padding-bottom: 0;
            }
        }
        a:hover{
            background-color: #fff;
            img{
                content: url("../img/dex-more-g.png")
            }
        }
    }
}
.c-dexflow{
    .u-content{
        float: left;
        .u-flow{
            float: right;
            margin-left: 0;
            margin-right: 114px;
        }
        button:hover{
            img{
                content: url("../img/dex-more1-b.png")
            }
        }
    }
}
.c-footer{
    margin-top: 10px;
    overflow: hidden;
    padding: 39px 0 30px 0;
    .c-logo{
        float: left;
        margin-right: 39px;
        margin-left: 9px;
    }
    .c-btn{
        float: left;
        margin-right: 40px;
        .btn-light{
            width: 178px;
            padding: 7px 0 7px 0;
            border: 1px solid #ddd;
            text-align: center;
            margin-top: 5px;
        }
        a:link{
            width: 180px;
            padding: 7px 0 7px 0;
            background-color: #fff;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        b{
            font-size: 13px;
            color: #000;
        }
        b:after{
            content: url("../img/dex-icon-arow.png");
            margin-left: 1em;
        }
        b:before{
            content: url("../img/dex-icon-home.png");
            margin-right: 1em;
        }
        a:hover{
            background-color: #36c1ac;
            b{
                color: #fff;
            }
            b:after{
                content: url("../img/dex-icon-arow-w.png");
                margin-left: 1em;
            }
            b:before{
                content: url("../img/dex-icon-home-w.png");
                margin-right: 1em;
            }
        }
    }
    ul{
        float: left;
        margin-right: 20px;
        li{
            padding-bottom: 10px;
        }
        li:last-child{
            padding-bottom: 0;
        }
        li:before{
            content: url("../img/ft-arow.png");
            margin-right: 1em;
        }
        a{
            font-size: 13px;
            color: #fff;
            text-decoration: none;
        }
    }
    .btn-go-top{
        width: 50px;
        height: 50px;
        background: none;
        float: right;
        cursor: pointer;
    }

}
.c-textft{
    text-align: center;
    font-size: 12px;
    padding: 20px 0 20px 0;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: #666666;
}
.c-comslide,.c-busslide,.c-wslide,.c-floslide,.c-poslide,.c-contslide{
    .u-title{
      text-align: center;
      padding-top: 73px;
      margin-left: 16px;
    }
}
.back-to-home{
    font-size: 12px;
    font-weight: 500;
    padding: 30px 0 12px 8px;
    span{
        color: #000;
    }
   a{
       color: #1085b0;
   }
}
.c-comtable{
    .u-title{
        text-align: center;
        margin-top: 29px;
        margin-left: 18px;
    }
    table{
        border-collapse: collapse;
        width: 700px;
        margin: 0 auto;
        margin-top: 40px;
    }
    tr:first-child{
        border-top: 1px solid #ccc;
    }
    td{
        border-bottom: 1px solid #ccc;
        padding: 17px 0 17px 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #333333;
    }  
    td:first-child{
        width: 180px;
        background-color: #e0f4fc;
    }
    .u-btn{
        text-align: center;
        margin-top: 38px;
        a:link{
            width: 272px;
            text-align: center;
            background-color: #269eca;
            margin-left: 14px;
            display: inline-block;
            padding: 17px 0 17px 0;
            text-decoration: none;
            b{
                font-size: 15px;
            }
            b:after{
                content: url("../img/com-icon2.png");
                margin-left: 1em;
            }
            b:before{
                content: url("../img/com-icon1.png");
                margin-right: 1em;
            }
        }
        a:hover{
            opacity: 0.5;
        }
        a{
            color: #fff;
        }
    }
}
.c-map{
    .u-title{
        text-align: center;
        margin-top: 80px;
        margin-left: 16px;
    }
    .map{
        margin-top: 40px;
    }
    .u-text{
        margin-top: 22px;
        padding-bottom: 64px;
        h6{
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 1px;
            font-weight: 500;
            padding-bottom: 5px
        }
        p{
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 1px;
            font-weight: 500;
        }
        p:before{
            content: url("../img/com-train.png");
            margin-right: 1em;
        }
    }
}
.c-buscontent{
    padding: 29px 0 71px 7px;
    .u-title{
        text-align: center;
        margin-left: 17px;
    }
    .content{
        margin-top: 40px;
        overflow: hidden;
        transition: .8s;
        img{
            float: left;
            margin-right: 30px;
        }
        .u-text{
            width: 560px;
            float: left;
            h3{
                font-size: 20px;
                color: #269eca;
                letter-spacing: 1px;
                padding-bottom: 16px;
            }
            p{
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.5px;
                line-height: 23px;
            }
        }
    }
}
.c-wcontent{
    .u-title{
        text-align: center;
        margin-top: 29px;
        margin-left: 18px;
    }
    .c-listcard{
        overflow: hidden;
        margin-top: 7px;
        padding-bottom: 71px;
        .card{
            transition: .8s;
            float: left;
            width: 300px;
            margin-left: 30px;
            margin-top: 33px;
        }
        .card:first-child{
            margin-left: 0;
        }
        .card:nth-child(3n+1){
            margin-left: 0;
        }
        .u-image{
            width: 300px;
            height: 300px;
            background-color: #cccccc;
            p{
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                color: #666666;
                padding-top: 142px;
            }
            img{
                position: relative;
                top: 80px;
                right: 10px;
                float: right;
            }
        }
        .u-image:hover{
            background-color: #dbdbdb;
        }
        .u-card-title{
            background-color: #269eca;
            h3{
                text-align: center;
                font-size: 20px;
                color: #fff;
                padding: 14px 0 14px 0;
            }
        }
        .u-info{
            background-color: #e0f4fc;
            padding: 14px 0 14px 0;
            p{
                font-size: 14px;
                line-height: 23px;
                text-align: center;
                font-weight: 500;
                color: #333333;
            }
        }
    }
}
.c-flocontent{
    padding-bottom: 72px;
    .u-title{
        text-align: center;
        margin-top: 29px;
        margin-left: 22px;
        padding-bottom: 30px;
    }
    .content{
        overflow: hidden;
        padding-top: 10px;
        margin-left: 8px;
        transition: .8s;
        .u-step{
            float: left;
            margin-right: 20px;
        }
        .u-text{
            float: left;
            padding-bottom: 30px;
            border-bottom: 1px solid #ddd;
            h3{
                font-size: 20px;
                color: #269eca;
                letter-spacing: 0px;
                padding: 20px 0 25px 0;
            }
        }
        .u-text__2{
            overflow: hidden;
            img{
                float: left;
                margin-right: 22px;
            }
            .u-right{
                float: left;
                width: 550px;
                p{
                    font-size: 14px; 
                    font-weight: 500;
                    letter-spacing: 1px;
                    line-height: 23px;
                }
            }
            .u-box{
                overflow: hidden;
                background-color: #269eca;
                padding: 20px;
                margin-top: 20px;
                a{
                    color: #000; 
                }
                a:link{
                    float: left;
                    width: 250px;
                    padding: 20px 0 20px 0;
                    background-color: #fff;
                    margin-right: 8px;
                    text-align: center;
                    display: inline-block;
                    text-decoration: none;
                    b{
                      font-size: 14px; 
                    }
                    b:after{
                        content: url("../img/dex-icon-arow.png");
                        margin-left: 1em;
                    }
                    b:before{
                        content: url("../img/dex-icon-home.png");
                        margin-right: 1em;
                    }
                }
                a:hover{
                    background-color: #36c1ac;
                    color: #fff;
                    b:after{
                        content: url("../img/dex-icon-arow-w.png");
                    }
                    b:before{
                        content: url("../img/dex-icon-home-w.png");
                    }
                }
                .phone{
                    float: left;
                    width: 250px;
                    padding: 12px 0 12px 0;
                    border: 1px solid #dddddd;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
.c-pocontent{
    padding-bottom: 56px;
    .u-title{
        text-align: center;
        margin-top: 29px;
        img{
            margin-left: 16px;
        }
    }
    .u-text-title{
        margin-top: 30px;
        p{
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            line-height: 23px;
        }
    }
    .c-pomedia{
        overflow: hidden;
        margin-top: 44px;
        margin-left: 8px;
        padding-bottom: 16px;
        transition: .8s;
        img{
            float: left;
        }
        .c-card-text{
            float: left;
            width: 400px;
            height: 320px;
            margin: 40px 0 40px 0;
            background-color: #e0f4fc;
            position: absolute;
            margin-left: 560px;
        }
        h3{
            font-size: 20px;
            color: #269eca;
            padding: 40px 40px 25px 40px;
        }
        p{
            font-size: 14px;
            line-height: 23px;
            padding: 0 30px 0 40px;
            line-height: 27px;
        }
        &--swap{
            img{
                float: right;
            }
            .c-card-text{
                float: left;
                margin-left: 0;
            }
        }
    }
}
.c-contcontent{
    padding: 29px 0 63px 0;
    .u-title{
        text-align: center;
        margin-left: 17px;
        padding-bottom: 35px;
    }
    .u-text{
       padding-bottom: 25px;
        p{
            font-size: 14px;
            font-weight: 500px;
            text-align: center;
            line-height: 23px;
        }
    }
    .u-table{
        margin-top: 20px;
        table{
            border-collapse: collapse;
            width: 700px;
            margin: 0 auto;
        }
        td{
            border-bottom: 1px solid #ccc;
            padding: 20px 20px 20px 20px;
        }
        td:first-child{
            width: 170px;
            background-color: #e0f4fc;
            overflow: hidden;
            p{
                margin-top: 0;
                float: left;
            }
        }
        tr:first-child{
            border-top: 1px solid #ccc;
        }
        p{
            font-size: 14px;
            margin-top: 10px;
        }
        button{
            float: right;
            height: 14px;
            width: 32px;
            background-color: #cf3d3d;
            font-size: 11px;
            font-weight: 500;
            color: #fff;
        }
        .btn-dark{
            background-color: #999999;
        }
        input{
            width: 90%;
            height: 29px;
            border: 1px solid #ddd;
            padding-left: 12px;
            margin-top: 10px;
        }
        input:first-child{
            margin-top: 0;
        }
        .ip-sm{
            width: 32%;
        }
        select{
            width: 35%;
            height: 33px;
            border: 1px solid #ddd;
            padding-left: 10px;
            color: #666;
        }
        textarea{
            width: 90%;
            height: 130px;
            padding: 10px 0 0 12px;
            border: 1px solid #ddd;
        }
    }
    .u-btn{
        text-align: center;
        margin-top: 20px;
        a:link{
            width: 184px;
            padding: 17px 0 17px 0;
            background-color: #269eca;
            text-decoration: none;
            text-align: center;
            display: inline-block;
        }
        b{
            font-size: 15px;
        }
        b:after{
            content: url("../img/cont-arow-w.png");
            margin-left: 1em;
        }
        a:hover{
            opacity: 0.6;
        }
        a{
            color: #fff;
        }
     }
}
.tranf{
	opacity: 0;
}
.tran{
	opacity: 1.0;
}
