/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-menu {
  overflow: hidden;
}

.c-menu .c-menu__img {
  float: left;
}

.c-main {
  margin-top: 16px;
}

.c-collection01 {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.c-collection01 .c-collection01__left {
  width: 550px;
  float: left;
}

.c-collection01 .c-collection01__right {
  width: 522px;
  float: left;
  margin-left: 28px;
}

.c-collection01 .c-collection01__right .u-collection01 {
  margin-top: 4px;
}

.c-collection01 .c-collection01__right .u-discription {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 42px;
  margin-left: 8px;
  letter-spacing: -0.6px;
}

.c-collection01 .c-collection01__right .u-discription .p-mt7 {
  margin-top: 7px;
}

.c-collection01 .c-collection01__right .u-tilte {
  margin-top: 22px;
  margin-left: 3px;
}

.c-collection01 .c-collection01__right select {
  padding-left: calc(50% - 8em);
}

.c-collection01 .c-collection01__right .u-select01 {
  width: 390px;
  height: 44px;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 37px;
  margin-left: 10px;
  border-radius: 2px;
  border: 1px solid;
}

.c-collection01 .c-collection01__right .u-code {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 37px;
  margin-left: 7px;
}

.c-collection01 .c-collection01__right .u-logo {
  overflow: hidden;
  margin-top: 13px;
}

.c-collection01 .c-collection01__right .u-logo .u-logo__img {
  float: left;
  margin-left: 9px;
}

.c-collection01 .c-collection01__right .u-logo .u-logo__text {
  margin-top: 18px;
  margin-left: 11px;
  letter-spacing: -0.7px;
  font-size: 2rem;
  font-weight: bold;
  float: left;
}

.c-collection01 .c-collection01__right .u-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 12px;
}

.c-collection01 .c-collection01__right .u-price .u-price__30 {
  font-size: 3rem;
  font-weight: bold;
}

.c-collection01 .c-collection01__right .u-price .u-price__20 {
  font-size: 2rem;
  font-weight: bold;
}

.c-collection01 .c-collection01__right .u-btn {
  overflow: hidden;
  margin-top: 20px;
}

.c-collection01 .c-collection01__right .u-btn .u-btn__list {
  float: left;
  margin-left: 9px;
}

.c-collection01 .c-collection01__right .u-btn .u-btn__shop {
  float: left;
  margin-left: 8px;
}

.c-material {
  width: 1100px;
  height: 497px;
  margin: 0 auto;
  background-color: #eef2f5;
  border-radius: 10px;
  overflow: hidden;
}

.c-material .c-material__left {
  float: left;
  margin-top: 87px;
}

.c-material .c-material__left .u-mat-text {
  margin-left: 50px;
}

.c-material .c-material__left .u-mat-btn {
  margin-top: 38px;
  margin-left: 77px;
}

.c-material .c-material__right {
  float: left;
  margin-left: 42px;
  margin-top: 72px;
}

.c-btn-alllineup {
  width: 1000px;
  margin: 0 auto;
}

.c-collection02 {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.c-collection02 .c-collection02__left {
  float: left;
}

.c-collection02 .c-collection02__left .u-collection02 {
  margin-top: 3px;
  margin-left: -4px;
}

.c-collection02 .c-collection02__left .u-tilte02 {
  margin-top: 23px;
}

.c-collection02 .c-collection02__left .u-discription02 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 42px;
  margin-left: 3px;
}

.c-collection02 .c-collection02__left .u-code02 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 150px;
  margin-left: 5px;
}

.c-collection02 .c-collection02__left .u-logo02 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 9px;
}

.c-collection02 .c-collection02__left .u-price02 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 6px;
}

.c-collection02 .c-collection02__left .u-price02 .u-price02__30 {
  font-size: 3rem;
}

.c-collection02 .c-collection02__left .u-price02 .u-price02__20 {
  font-size: 2rem;
}

.c-collection02 .c-collection02__left .u-btn02 {
  overflow: hidden;
  margin-top: 19px;
}

.c-collection02 .c-collection02__left .u-btn02 .u-btn02-list {
  float: left;
  margin-left: 6px;
}

.c-collection02 .c-collection02__left .u-btn02 .u-btn02-shop {
  float: left;
  margin-left: 7px;
}

.c-collection02 .c-collection02__right {
  float: left;
  margin-left: 61px;
}

.c-collection03 {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.c-collection03 .c-collection03__right {
  float: left;
  margin-left: 58px;
}

.c-collection03 .c-collection03__right .u-collection03 {
  margin-top: 4px;
}

.c-collection03 .c-collection03__right .u-tilte03 {
  margin-top: 24px;
}

.c-collection03 .c-collection03__right .u-discription03 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 37px;
  margin-left: 6px;
}

.c-collection03 .c-collection03__right .u-discription03 .u-mt7 {
  margin-top: 7px;
  margin-left: 2px;
}

.c-collection03 .c-collection03__right .u-code03 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 122px;
  margin-left: 8px;
}

.c-collection03 .c-collection03__right .u-logo03 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 11px;
  margin-left: 4px;
}

.c-collection03 .c-collection03__right .u-price03 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 13px;
  margin-left: 14px;
}

.c-collection03 .c-collection03__right .u-price03 .u-price03__30 {
  font-size: 3rem;
}

.c-collection03 .c-collection03__right .u-price03 .u-price03__20 {
  font-size: 2rem;
}

.c-collection03 .c-collection03__right .u-btn03 {
  margin-top: 19px;
  overflow: hidden;
}

.c-collection03 .c-collection03__right .u-btn03 .u-btn03-list {
  float: left;
  margin-left: 10px;
}

.c-collection03 .c-collection03__right .u-btn03 .u-btn03-shop {
  margin-left: 8px;
  float: left;
}

.c-collection03 .c-collection03__left {
  float: left;
}

/*------------------------------------------------------------
	page
------------------------------------------------------------*/
.p-menu {
  border-left: 1px solid;
  border-right: 1px solid;
}

.p-menu__right {
  border-right: 1px solid;
}

.p-img100 {
  width: 100%;
}

.p-text-head {
  font-weight: bold;
  text-align: center;
  font-size: 1.6rem;
}

.p-text-head .p-p1 {
  margin-top: 44px;
  margin-left: 5px;
}

.p-text-head .p-p2 {
  margin-top: 11px;
  margin-left: 5px;
}

.p-text-head .p-p3 {
  margin-top: 12px;
  margin-left: 5px;
}

.p-collection01 {
  margin-top: 101px;
}

.p-collection02 {
  margin-top: 90px;
}

.p-collection03 {
  margin-top: 83px;
}

.p-material {
  margin-top: 29px;
}

.p-btn-alllineup {
  margin-top: 44px;
}

.p-btn-alllineup2 {
  margin-top: 64px;
}

.footer {
  width: 1300px;
  margin: 0 auto;
  margin-top: 71px;
}

.p-bg-ft {
  background-color: #f3f3f3;
}

.web {
  display: inherit;
}

.mob {
  display: none;
}

#myBtn {
  width: 48px;
  height: 48px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  padding: 0;
}

/*------------------------------------------------------------
	slider
------------------------------------------------------------*/
.u-slider {
  max-width: 519px;
  position: relative;
}

.mySlides, .mySlides2, .mySlides3, .mySlides4 {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 245px;
  width: 30px;
  height: 76px;
  padding: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.u-dot {
  margin-left: 223px;
}

.dot, .dot2, .dot3, .dot4 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 14px 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------------------------------------
	Reponsive Breakpoint 736px
------------------------------------------------------------*/
@media only screen and (max-width: 736px) {
  body {
    min-width: auto;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .c-main {
    margin-top: 0;
  }
  .web {
    display: none;
  }
  .mob {
    display: inherit;
  }
  .p-text-head {
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
  }
  .p-text-head .p-p1 {
    margin-top: 20px;
    margin-left: 5px;
  }
  .p-text-head .p-p2 {
    margin-top: 5px;
    margin-left: 5px;
  }
  .p-text-head .p-p3 {
    margin-top: 5px;
    margin-left: 5px;
  }
  .u-slider {
    width: 100%;
  }
  .u-dot {
    margin-left: 0;
    text-align: center;
  }
  .dot, .dot2, .dot3, .dot4 {
    height: 5px;
    width: 5px;
  }
  .prev, .next {
    top: 40%;
    width: 15px;
    height: 38px;
  }
  .p-collection01 {
    margin-top: 30px;
  }
  .p-collection02 {
    margin-top: 45px;
  }
  .p-collection03 {
    margin-top: 45px;
  }
  .c-collection01 {
    width: 94%;
    margin: 0 auto;
  }
  .c-collection01 .c-collection01__left {
    width: 100%;
  }
  .c-collection01 .c-collection01__right {
    margin-left: 0;
    width: 100%;
  }
  .c-collection01 .c-collection01__right .u-collection01 {
    width: 144px;
    height: 24px;
    margin-top: 10px;
  }
  .c-collection01 .c-collection01__right .u-tilte {
    width: 169px;
    height: 82px;
    margin-top: 13px;
    margin-left: 0;
  }
  .c-collection01 .c-collection01__right .u-discription {
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 28px;
    margin-left: 0;
  }
  .c-collection01 .c-collection01__right .u-select01 {
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 0;
  }
  .c-collection01 .c-collection01__right select {
    padding-left: calc(50% - 5em);
  }
  .c-collection01 .c-collection01__right .u-code {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 0;
  }
  .c-collection01 .c-collection01__right .u-logo {
    overflow: hidden;
    margin-top: 8px;
  }
  .c-collection01 .c-collection01__right .u-logo .u-logo__img {
    width: 48px;
    height: 26px;
    float: left;
    margin-left: 0;
  }
  .c-collection01 .c-collection01__right .u-logo .u-logo__text {
    font-size: 1.5rem;
    font-weight: bold;
    float: left;
    margin-left: 7px;
    margin-top: 10px;
  }
  .c-collection01 .c-collection01__right .u-price {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: 0;
  }
  .c-collection01 .c-collection01__right .u-price .u-price__30 {
    font-size: 2rem;
    font-weight: bold;
  }
  .c-collection01 .c-collection01__right .u-price .u-price__20 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .c-collection01 .c-collection01__right .u-btn {
    overflow: hidden;
    margin-top: 15px;
  }
  .c-collection01 .c-collection01__right .u-btn .u-btn__list {
    float: left;
    margin-left: 0px;
  }
  .c-collection01 .c-collection01__right .u-btn .u-btn__shop {
    float: left;
    margin-top: 5px;
    margin-left: 0px;
  }
  .c-collection02 {
    width: 94%;
    margin: 0 auto;
  }
  .c-collection02 .c-collection02__left .u-collection02 {
    width: 144px;
    height: 24px;
    margin-top: 18px;
    margin-left: 0;
  }
  .c-collection02 .c-collection02__left .u-tilte02 {
    width: 270px;
    height: 84px;
    margin-top: 10px;
    margin-left: 0;
  }
  .c-collection02 .c-collection02__left .u-discription02 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 0;
  }
  .c-collection02 .c-collection02__left .u-code02 {
    margin-top: 20px;
    font-size: 1rem;
    margin-left: 0;
  }
  .c-collection02 .c-collection02__left .u-logo02 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 0;
  }
  .c-collection02 .c-collection02__left .u-price02 {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: 0;
  }
  .c-collection02 .c-collection02__left .u-price02 .u-price__30 {
    font-size: 2rem;
    font-weight: bold;
  }
  .c-collection02 .c-collection02__left .u-price02 .u-price__20 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .c-collection02 .c-collection02__left .u-btn02 {
    margin-top: 10px;
  }
  .c-collection02 .c-collection02__left .u-btn02 .u-btn02-list {
    margin-top: 10px;
    margin-left: 0;
  }
  .c-collection02 .c-collection02__left .u-btn02 .u-btn02-shop {
    margin-top: 5px;
    margin-left: 0;
  }
  .c-collection03 {
    width: 94%;
    margin: 0 auto;
  }
  .c-collection03 .c-collection03__right {
    margin-left: 0;
  }
  .c-collection03 .c-collection03__right .u-collection03 {
    width: 144px;
    height: 24px;
    margin-top: 10px;
  }
  .c-collection03 .c-collection03__right .u-tilte03 {
    width: 191px;
    height: 84px;
    margin-top: 10px;
    margin-left: 0;
  }
  .c-collection03 .c-collection03__right .u-discription03 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 0;
  }
  .c-collection03 .c-collection03__right .u-code03 {
    margin-top: 20px;
    font-size: 1rem;
    margin-left: 0;
  }
  .c-collection03 .c-collection03__right .u-logo03 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 0;
  }
  .c-collection03 .c-collection03__right .u-price03 {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: 0;
  }
  .c-collection03 .c-collection03__right .u-price03 .u-price__30 {
    font-size: 2rem;
    font-weight: bold;
  }
  .c-collection03 .c-collection03__right .u-price03 .u-price__20 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .c-collection03 .c-collection03__right .u-btn03 {
    margin-top: 10px;
  }
  .c-collection03 .c-collection03__right .u-btn03 .u-btn03-list {
    margin-top: 10px;
    margin-left: 0;
  }
  .c-collection03 .c-collection03__right .u-btn03 .u-btn03-shop {
    margin-top: 5px;
    margin-left: 0;
  }
  .c-material {
    width: 94%;
    height: auto;
    margin: 0 auto;
  }
  .c-material .c-material__mob {
    max-width: 295px;
    min-width: 295px;
    margin: 0 auto;
  }
  .c-material .c-material__mob .u-mat-text {
    width: 295px;
    height: 136px;
    margin-top: 20px;
  }
  .c-material .c-material__mob .u-mat-details {
    width: 295px;
    height: 209px;
    margin-top: 20px;
  }
  .c-material .c-material__mob .u-mat-btn {
    width: 295px;
    height: 32px;
    margin-top: 20px;
  }
  .c-material .c-material__mob .p-h20 {
    height: 20px;
  }
  .c-btn-alllineup {
    width: 94%;
    margin: 0 auto;
  }
  .p-btn-alllineup {
    margin-top: 30px;
  }
  .p-btn-alllineup2 {
    margin-top: 50px;
  }
  .footer {
    width: 100%;
    margin-top: 70px;
  }
}
