/*------------------------------------------------------------
	background
------------------------------------------------------------*/
#bg-abslide {
  background-image: url("../img/ab-slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

#bg-clslide {
  background-image: url("../img/cl-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

#bg-ablist {
  background-color: #faf2e5;
  height: 2143px;
}

#bg-abslider01 {
  background-color: #e5f5e9;
  height: 577px;
}

#bg-abslider02 {
  background-color: #fbf4e6;
  height: 815px;
}

#bg-abinfo {
  background-color: #f3ebdc;
}

#bg-clcontent {
  background-color: #fbf5e7;
  height: 2841px;
}

#bg-banner {
  background-image: url("../img/cl-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 191px;
}

#bg-ftmenu {
  background-color: black;
  height: 375px;
}

#bg-ftlogo {
  background-image: url("../img/bg-ftlogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 141px;
}

#bg-evslide {
  background-image: url("../img/ev-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

#bg-evcontent {
  background-color: #faf3e5;
  height: 1374px;
}

#bg-topslide {
  background-image: url("../img/top-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 610px;
}

#bg-topmenu {
  background-color: #f9f3e4;
}

#bg-topmenu2 {
  background-color: #f9f3e4;
}

#bg-topbanner1 {
  background-image: url("../img/top-banner1bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-topbanner2 {
  background-image: url("../img/top-banner2bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-banner {
  overflow: hidden;
}

.c-banner .u-logo {
  float: left;
}

.c-banner .u-phone {
  float: right;
}

.c-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
}

.c-menu li {
  width: 25%;
  border-right: 1px solid #ccc;
}

.c-menu li:first-child {
  border-left: 1px solid #ccc;
}

.c-menu a {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-abslider {
  text-align: center;
  margin-top: 19px;
}

.c-abslider .text {
  margin-top: 96px;
}

.c-clslider {
  text-align: center;
  margin-top: 19px;
}

.c-clslider .text {
  margin-top: 96px;
}

.c-ablist {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.c-ablist .u-cont, .c-ablist .u-cont2, .c-ablist .u-cont3, .c-ablist .u-cont4 {
  overflow: hidden;
}

.c-ablist .u-cont .u-left, .c-ablist .u-cont2 .u-left, .c-ablist .u-cont3 .u-left, .c-ablist .u-cont4 .u-left {
  width: 460px;
  float: left;
}

.c-ablist .u-cont .u-right, .c-ablist .u-cont2 .u-right, .c-ablist .u-cont3 .u-right, .c-ablist .u-cont4 .u-right {
  margin-left: 20px;
  width: 460px;
  float: left;
}

.c-ablist .u-cont .p-h61, .c-ablist .u-cont2 .p-h61, .c-ablist .u-cont3 .p-h61, .c-ablist .u-cont4 .p-h61 {
  height: 61px;
}

.c-ablist .u-cont .u-left .tilte {
  margin-top: 34px;
}

.c-ablist .u-cont .u-right .tilte {
  margin-top: 31px;
}

.c-ablist .u-cont2 {
  margin-top: 32px;
}

.c-ablist .u-cont2 .u-left .tilte {
  margin-top: 28px;
}

.c-ablist .u-cont2 .u-right .tilte {
  margin-top: 29px;
}

.c-ablist .u-cont3 {
  margin-top: 50px;
}

.c-ablist .u-cont3 .u-left .tilte {
  margin-top: 28px;
}

.c-ablist .u-cont3 .u-right .tilte {
  margin-top: 29px;
}

.c-ablist .u-cont4 {
  margin-top: 54px;
}

.c-ablist .u-cont4 .u-left .tilte {
  margin-top: 38px;
}

.c-ablist .u-cont4 .u-right .tilte {
  margin-top: 40px;
}

.c-ablist p {
  text-align: justify;
  margin: 14px 0 14px 0;
  letter-spacing: 2.8px;
}

.c-abslider01 {
  text-align: center;
}

.c-abslider01 .u-tilte {
  margin-left: 3px;
}

.c-abslider01 .p-h80 {
  height: 80px;
}

.c-abslider01 .u-slider {
  margin-top: 61px;
  margin-left: -20px;
}

.c-abslider01 .u-slider .prev, .c-abslider01 .u-slider .next {
  top: 80px;
}

.c-abslider01 .u-slider .next {
  right: 50px;
}

.c-abslider01 .u-slider .prev {
  left: 50px;
}

.c-abslider01 .u-slider .dot, .c-abslider01 .u-slider .dot2 {
  margin: 30px 5px;
}

.c-abslider02 {
  text-align: center;
}

.c-abslider02 .u-tilte {
  margin-left: -9px;
}

.c-abslider02 .p-h80 {
  height: 80px;
}

.c-abslider02 .u-slider {
  margin-top: 38px;
  margin-left: 0px;
}

.c-abslider02 .u-slider .prev, .c-abslider02 .u-slider .next {
  top: 215px;
}

.c-abslider02 .u-slider .next {
  right: 50px;
}

.c-abslider02 .u-slider .prev {
  left: 29px;
}

.c-abslider02 .u-slider .dot, .c-abslider02 .u-slider .dot2 {
  margin: 40px 5px;
}

.u-slider {
  position: relative;
}

.u-slider .mySlides {
  display: none;
}

.u-slider .mySlides img {
  max-width: 700px;
  min-height: 200px;
}

.u-slider .mySlides2 {
  display: none;
}

.u-slider .mySlides2 img {
  max-width: 700px;
  min-height: 467px;
}

.u-slider .prev, .u-slider .next {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  color: #ffffff;
  font-size: 24px;
  background-color: #00634b;
}

.u-slider .prev:hover, .u-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.u-slider .u-dot {
  margin-left: 0px;
}

.u-slider .dot, .u-slider .dot2 {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.u-slider .active, .u-slider .dot:hover {
  background-color: #00634b;
}

.u-slider .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.c-abinfo {
  overflow: hidden;
}

.c-abinfo .u-plugin {
  overflow: hidden;
}

.c-abinfo .u-plugin .facebook {
  float: left;
}

.c-abinfo .u-plugin .twitter {
  float: left;
  margin-top: 2px;
  margin-left: 21px;
}

.c-abinfo .u-plugin .twitter img {
  border-radius: 4px;
}

.c-abinfo .u-plugin .youtube {
  float: right;
}

.c-abinfo .u-plugin .youtube img {
  border-radius: 4px;
}

.c-abinfo .u-plugin .p-h57 {
  height: 57px;
}

.c-abinfo--toppage {
  overflow: hidden;
  padding-top: 48px;
  padding-bottom: 74px;
}

.c-abinfo--toppage .c-ftlistcard {
  float: left;
  width: 460px;
  overflow: hidden;
}

.c-abinfo--toppage .c-ftlistcard .card {
  float: left;
  width: 220px;
  height: 220px;
  background-color: #00634b;
  border-radius: 4px;
  margin: 20px 20px 0 0;
}

.c-abinfo--toppage .c-ftlistcard .card h3 {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 0 10px 0 10px;
}

.c-abinfo--toppage .c-ftlistcard .card img {
  max-width: 220px;
  max-height: 146px;
  padding-bottom: 26px;
}

.c-abinfo--toppage .c-ftlistcard .card button {
  width: 105px;
  height: 25px;
  color: #ffffff;
  font-size: 12px;
  background-color: #fab445;
  position: absolute;
}

.c-abinfo--toppage .c-ftlistcard .card:first-child {
  margin: 20px 0 0 0;
}

.c-abinfo--toppage .c-ftlistcard .card:nth-child(2n+1) {
  margin: 20px 0 0 0;
}

.c-abinfo--toppage .c-plugin {
  width: 460px;
  float: right;
  margin-top: 21px;
}

.c-abinfo--toppage .c-plugin .banner {
  overflow: hidden;
}

.c-abinfo--toppage .c-plugin .banner img {
  float: left;
  margin-right: 20px;
}

.c-abinfo--toppage .c-plugin .banner img:last-child {
  margin-right: 0;
}

.c-abinfo--toppage .c-plugin .facebook {
  margin-top: 20px;
}

.c-abinfo--toppage .c-plugin .banner2 {
  margin-top: 20px;
}

.c-abinfo--toppage .c-plugin .banner2 img {
  margin-right: 20px;
}

.c-abinfo--toppage .c-plugin .banner2 img:last-child {
  margin-right: 0;
}

.c-ftmenu {
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
}

.c-ftmenu .u-menu {
  float: left;
}

.c-ftmenu h5 {
  font-size: 15px;
  margin: 0 0 0 16px;
}

.c-ftmenu .p-h48 {
  height: 48px;
}

.c-ftmenu .p-mf103 {
  margin-left: 103px;
}

.c-ftmenu .p-mf80 {
  margin-left: 80px;
}

.c-ftmenu .p-mf70 {
  margin-left: 70px;
}

.c-ftmenu ul {
  margin: 20px 0 30px 16px;
}

.c-ftmenu li {
  margin: 10px 0 10px 0;
}

.c-ftmenu a {
  color: #ffffff;
}

.c-ftlogo {
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 2px;
}

.c-ftlogo p {
  margin: 0 0 4px 260px;
}

.c-ftlogo .p-h50 {
  height: 50px;
}

.c-clcontent .u-list-card {
  overflow: hidden;
}

.c-clcontent .u-list-card .card, .c-clcontent .u-list-card .card-get {
  text-align: center;
  float: left;
  width: 220px;
  height: 221px;
  background-color: #00634b;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 20px 18px 0;
}

.c-clcontent .u-list-card .card button, .c-clcontent .u-list-card .card-get button {
  width: 130px;
  height: 35px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
  background-color: #004534;
  cursor: pointer;
}

.c-clcontent .u-list-card .card button:hover, .c-clcontent .u-list-card .card-get button:hover {
  border: 1px solid #ffffff;
}

.c-clcontent .u-list-card .card img, .c-clcontent .u-list-card .card-get img {
  max-width: 220px;
  max-height: 120px;
}

.c-clcontent .u-list-card .card p, .c-clcontent .u-list-card .card-get p {
  letter-spacing: 2px;
  margin: 20px 0 8px 0;
}

.c-clcontent .u-list-card .card-get {
  background-color: black;
}

.c-clcontent .u-list-card .card-get button {
  width: 182px;
  height: 45px;
  margin-top: 10px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  background-color: #fab445;
  letter-spacing: 1px;
}

.c-clcontent .u-list-card .card-get img {
  margin-top: 24px;
}

.c-clcontent .u-list-card .card-full {
  float: left;
  width: 940px;
  height: 250px;
  background-color: #00634b;
  font-size: 14px;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
}

.c-clcontent .u-list-card .card-full .u-left {
  margin-top: 36px;
  margin-left: 14px;
  width: 460px;
  float: left;
}

.c-clcontent .u-list-card .card-full .u-left h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 16px 0 20px 0;
  letter-spacing: 5px;
}

.c-clcontent .u-list-card .card-full .u-left hr {
  width: 236px;
  margin: 0 0 28px 110px;
}

.c-clcontent .u-list-card .card-full .u-left p {
  text-align: justify;
  width: 390px;
  margin: 0 auto;
  letter-spacing: 3px;
}

.c-clcontent .u-list-card .card-full .u-right {
  width: 460px;
  float: right;
}

.c-clcontent .u-list-card .mg0 {
  margin: 0;
}

.c-clcontent .u-class {
  overflow: hidden;
}

.c-clcontent .u-class .class {
  float: left;
  width: 222px;
  height: 270px;
  background-color: #e5f5e9;
  text-align: center;
  margin: 38px 17px 0 0;
}

.c-clcontent .u-class .class p {
  font-size: 14px;
  color: black;
  font-weight: 500;
  text-align: justify;
  letter-spacing: 2px;
  margin: 0 30px 0 30px;
}

.c-clcontent .u-class .class img {
  margin: 29px 0 29px 0;
}

.c-clcontent .u-class .mg0 {
  margin: 38px 0 0 0;
}

.c-clcontent .u-table {
  margin-top: 45px;
}

.c-clcontent .u-table p {
  font-size: 14px;
  color: black;
  font-weight: 500;
  margin: 30px 0 30px 0;
  text-align: justify;
  letter-spacing: 3px;
}

.c-clcontent .u-table table {
  width: 940px;
  border-collapse: collapse;
  background-color: #ffffff;
  font-size: 16px;
}

.c-clcontent .u-table th, .c-clcontent .u-table td {
  padding: 22px 26px;
  border: 1px solid #00634b;
  text-align: center;
}

.c-clcontent .u-table th {
  padding: 18px 20px;
  border: 1px solid #fff;
  background: #00634b;
  color: #fff;
}

.c-clcontent .u-table .bg {
  background: #e5f5e9 !important;
}

.c-clcontent .u-table .sTxt {
  font-size: 14px;
}

.c-clcontent .u-table .rTxt {
  text-align: right;
}

.c-clcontent .u-table .lTxt {
  text-align: left;
}

.c-clcontent .u-price {
  font-size: 14px;
  color: black;
  letter-spacing: 2.8px;
  font-weight: 500;
  margin-top: 34px;
}

.c-clcontent .u-price p {
  margin: 28px 0 16px 0;
}

.c-clcontent .u-price li {
  margin: 7px 0 7px 0;
}

.c-clcontent .u-price .tilte02 {
  margin-top: 33px;
}

.c-clcontent .u-price .tab-price {
  overflow: hidden;
  margin-top: 28px;
}

.c-clcontent .u-price .tab-price .tab-a {
  width: 460px;
  height: 365px;
  float: left;
  background-color: #e5f5e9;
  text-align: center;
}

.c-clcontent .u-price .tab-price .tab-a h3 {
  font-size: 18px;
  font-weight: bold;
  color: #00634b;
  margin: 24px 0 24px 0;
}

.c-clcontent .u-price .tab-price .tab-a p {
  width: 410px;
  margin: 0 auto;
  text-align: justify;
}

.c-clcontent .u-price .tab-price .tab-a ul {
  margin: 30px 0 30px 0;
}

.c-clcontent .u-price .tab-price .tab-a li {
  text-align: left;
  margin-left: 40px;
}

.c-clcontent .u-price .tab-price .tab-b {
  width: 460px;
  height: 365px;
  float: right;
  background-color: #e5f5e9;
  text-align: center;
}

.c-clcontent .u-price .tab-price .tab-b h3 {
  font-size: 18px;
  font-weight: bold;
  color: #00634b;
  margin: 24px 0 24px 0;
}

.c-clcontent .u-price .tab-price .tab-b p {
  width: 410px;
  margin: 0 auto;
  text-align: justify;
}

.c-clcontent .u-price .tab-price .tab-b ul {
  margin: 30px 0 30px 0;
}

.c-clcontent .u-price .tab-price .tab-b li {
  text-align: left;
  margin-left: 40px;
}

.c-clcontent .u-banner .u-btn {
  width: 350px;
  height: 65px;
  background-color: #00634b;
  cursor: pointer;
  float: right;
  margin-top: 86px;
  margin-right: 109px;
}

.c-clcontent .p-h41 {
  height: 41px;
}

.c-clcontent .p-mt62 {
  margin-top: 62px;
}

.c-clcontent .p-h70 {
  height: 70px;
}

.c-evslide {
  margin-top: 20px;
}

.c-evslide h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1080px;
  height: 200px;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-evtitle {
  padding-top: 73px;
  text-align: center;
}

.c-evtitle h1 {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #00634b;
  letter-spacing: 6px;
  padding: 0 0 14px 0;
  border-bottom: 3px solid;
}

.c-evtitle:first-child {
  padding-top: 54px;
}

.c-evmedia {
  overflow: hidden;
  padding-top: 40px;
}

.c-evmedia .c-left {
  float: left;
}

.c-evmedia .c-left img {
  padding-right: 20px;
}

.c-evmedia .c-right {
  width: 620px;
  float: left;
}

.c-evmedia .c-right p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 4px;
}

.c-evmedia .c-link {
  overflow: hidden;
  padding-top: 40px;
}

.c-evmedia .c-link img {
  float: left;
  padding-right: 8px;
}

.c-evmedia .c-link a {
  float: left;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 4px;
  border-bottom: 1px solid;
  display: inline-block;
  padding-bottom: 4px;
  text-decoration: none;
  color: black;
}

.c-evmedia--swap .c-left {
  float: right;
}

.c-evmedia--swap .c-left img {
  padding-left: 20px;
  padding-right: 0px;
}

.c-evmedia--swap .c-right {
  float: left;
}

.c-topslide h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1080px;
  height: 490px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
}

.c-topheader .c-menu ul {
  padding: 40px 0 40px 0;
  margin-top: 0px;
}

.c-topheader .c-menu a {
  height: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}

.c-toptitle {
  padding-bottom: 30px;
}

.c-toptitle h2 {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #cccccc;
  line-height: 0.1em;
  font-size: 30px;
  font-weight: bold;
  padding: 31px 0 0 0;
  letter-spacing: 2px;
}

.c-toptitle h2 span {
  background-color: #f9f3e4;
  padding: 0 30px;
  color: #333333;
}

.c-toptitle h2 small {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

.c-toptitle--style2 {
  padding-bottom: 16px;
}

.c-toptitle--style2 h2 {
  text-align: center;
  border-bottom: 3px solid #cccccc;
  line-height: 0.1em;
  font-size: 22px;
  padding: 31px 0 0 0;
  letter-spacing: 2px;
}

.c-toptitle--style2 h2 span {
  background-color: #f4ecdc;
  padding: 0 20px;
  color: #333333;
}

.c-toplistcard {
  overflow: hidden;
}

.c-toplistcard .u-card {
  float: left;
  width: 220px;
  height: 220px;
  background-color: #00634b;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  margin-left: 20px;
}

.c-toplistcard .u-card--bgblack {
  background-color: black;
}

.c-toplistcard .u-card--bgblack button {
  width: 182px;
  height: 45px;
  font-size: 16px;
  background-color: #fab445;
  color: black;
}

.c-toplistcard .u-card--bgblack img {
  padding: 24px 0 10px 0;
}

.c-toplistcard .u-card:first-child {
  margin-left: 0;
}

.c-toplistcard .u-card:nth-child(4n+1) {
  margin-left: 0;
}

.c-toplistcard img {
  max-width: 220px;
  max-height: 120px;
}

.c-toplistcard h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0 10px 0;
  letter-spacing: 1px;
}

.c-toplistcard button {
  width: 130px;
  height: 35px;
  font-size: 12px;
  font-weight: bold;
  background-color: #004534;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  letter-spacing: 1px;
}

.c-toplistcard button:hover {
  border: 1px solid #ffffff;
}

.c-topbanner {
  display: -webkit-box;
  padding: 41px 0 60px 0;
}

.c-topbanner .u-banner1 {
  width: 460px;
  height: 150px;
  margin-right: 20px;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-topbanner .u-banner1 .u-box {
  width: 260px;
  height: 130px;
  background-color: #fab445ba;
  text-align: center;
  margin-left: 10px;
}

.c-topbanner .u-banner1 .u-box img {
  padding: 16px 0 10px 0;
}

.c-topbanner .u-banner1 button {
  width: 130px;
  height: 30px;
  background-color: black;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-left: 30px;
  margin-top: 100px;
  cursor: pointer;
}

.c-topbanner .u-banner1 button:hover {
  border: 1px solid #ffffff;
}

.c-topbanner .u-banner2 {
  width: 460px;
  height: 150px;
}

.c-topbanner .u-banner2 img {
  display: block;
  margin-left: 32px;
  margin-top: 28px;
}

.c-topbanner .u-banner2 button {
  display: block;
  width: 130px;
  height: 30px;
  background-color: #00634b;
  border-radius: 4px;
  margin-left: 74px;
  margin-top: 16px;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}
