/*------------------------------------------------------------
	background
------------------------------------------------------------*/
#bg-dexslide {
  background-image: url("../img/dex-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1035px;
}

#bg-dexnews {
  background: -webkit-gradient(linear, left top, right top, from(#1085b0), color-stop(50%, #1085b0), color-stop(50%, #1085b0), color-stop(50%, #fff), to(#fff));
  background: -webkit-linear-gradient(left, #1085b0 0%, #1085b0 50%, #1085b0 50%, #fff 50%, #fff 100%);
  background: linear-gradient(to right, #1085b0 0%, #1085b0 50%, #1085b0 50%, #fff 50%, #fff 100%);
}

#bg-dexabout {
  background-image: url("../img/dex-bg-about.jpg");
}

#bg-dexinfo {
  background: -webkit-gradient(linear, left top, right top, from(#2aa4d1), color-stop(50%, #2aa4d1), color-stop(50%, #2aa4d1), color-stop(50%, #3dafd9), to(#3dafd9));
  background: -webkit-linear-gradient(left, #2aa4d1 0%, #2aa4d1 50%, #2aa4d1 50%, #3dafd9 50%, #3dafd9 100%);
  background: linear-gradient(to right, #2aa4d1 0%, #2aa4d1 50%, #2aa4d1 50%, #3dafd9 50%, #3dafd9 100%);
  -webkit-transition: .8s;
  transition: .8s;
}

#bg-dexworks {
  background-image: url("../img/bg-dexworks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  -webkit-transition: .8s;
  transition: .8s;
}

#bg-dexworks-son {
  background-image: url("../img/bg-dexworks-son.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
}

#bg-dexflow {
  background-image: url("../img/bg-flow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  -webkit-transition: .8s;
  transition: .8s;
}

#bg-dexflow-son {
  background-image: url("../img/bg-flow-son.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
}

#bg-dexpolicy {
  background-image: url("../img/bg-dexpolicy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  -webkit-transition: .8s;
  transition: .8s;
}

#bg-dexpolicy-son {
  background-image: url("../img/bg-dexpolicy-son.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
}

#bg-footer {
  background-color: #269eca;
}

#bg-comslide {
  background-image: url("../img/com-sidetop.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#bg-busslide {
  background-image: url("../img/bus-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#bg-wslide {
  background-image: url("../img/w-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#bg-floslide {
  background-image: url("../img/flo-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#bg-poslide {
  background-image: url("../img/po-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#bg-contslide {
  background-image: url("../img/cont-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-navbar .c-sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1085b0;
  overflow-x: hidden;
  -webkit-box-shadow: 5px 10px 18px #00000045;
          box-shadow: 5px 10px 18px #00000045;
}

.c-navbar .c-sidenav ul {
  margin-top: 20px;
}

.c-navbar .c-sidenav li {
  width: 100%;
}

.c-navbar .c-sidenav li a {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -1px;
}

.c-navbar .c-sidenav li:hover {
  background-color: #269eca;
}

.c-navbar .c-topnav {
  width: 100%;
  background-color: #ffffff;
}

.c-navbar .c-topnav .l-nav {
  width: 180px;
  margin: 0 auto;
}

.c-navbar .c-topnav p {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  padding: 17px 0 13px 0;
  text-align: justify;
}

.c-navbar .c-topnav hr {
  border: 0.5px solid #1085b0;
}

.c-navbar .c-topnav h1 {
  font-size: 23px;
  font-weight: bold;
  padding: 14px 0 18px 0;
  text-align: justify;
  letter-spacing: -0.5px;
}

.c-navbar .c-contact {
  width: 100%;
  background-color: #269eca;
  position: absolute;
  bottom: 0;
}

.c-navbar .c-contact .l-nav2 {
  width: 180px;
  margin: 0 auto;
}

.c-navbar .c-contact .u-text {
  padding: 20px 0 20px 0;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: -0.6px;
  text-align: center;
}

.c-navbar .c-contact .u-text h6 {
  font-weight: bold;
}

.c-navbar .c-contact .u-text p {
  font-weight: 500;
  font-size: 12px;
}

.c-navbar .c-contact .btn-light {
  width: 178px;
  padding: 14px 0 14px 0;
  border: 1px solid #ddd;
  text-align: center;
  margin-top: 10px;
}

.c-navbar .c-contact a:link {
  background-color: #fff;
  width: 100%;
  padding: 14px 0 14px 0;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.c-navbar .c-contact b {
  color: black;
}

.c-navbar .c-contact b:after {
  content: url("../img/dex-icon-arow.png");
  margin-left: 1em;
}

.c-navbar .c-contact b:before {
  content: url("../img/dex-icon-home.png");
  margin-right: 1em;
}

.c-navbar .c-contact a:hover {
  background-color: #36c1ac;
}

.c-navbar .c-contact a:hover b {
  color: #fff;
}

.c-navbar .c-contact a:hover b:after {
  content: url("../img/dex-icon-arow-w.png");
  margin-left: 1em;
}

.c-navbar .c-contact a:hover b:before {
  content: url("../img/dex-icon-home-w.png");
  margin-right: 1em;
}

.c-dexslide .u-title {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  margin-top: 281px;
}

.c-dexslide .u-title img {
  margin-left: 14px;
}

.c-dexslide .u-scroll {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -45px;
  margin-left: 8px;
}

.c-dexnews {
  overflow: hidden;
}

.c-dexnews .u-left {
  float: left;
}

.c-dexnews .u-left h3 {
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  padding: 13px 0 13px 0;
  margin-right: 20px;
}

.c-dexnews .u-right {
  float: left;
  background-color: #fff;
  display: -webkit-box;
  width: 883px;
  position: relative;
}

.c-dexnews .u-right p {
  font-size: 14px;
  font-weight: 500;
  padding: 13px 0 18px 30px;
}

.c-dexnews .u-right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 46px solid white;
  border-left: 17px solid #1085b0;
  width: 0;
}

.c-about {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-about img {
  padding: 50px 0 50px 14px;
}

.c-dexinfo {
  overflow: hidden;
}

.c-dexinfo .c-company, .c-dexinfo .c-business {
  overflow: hidden;
  padding: 42px 0 52px 0;
  width: 430px;
}

.c-dexinfo .c-company img, .c-dexinfo .c-business img {
  float: left;
}

.c-dexinfo .c-company .u-text, .c-dexinfo .c-business .u-text {
  float: left;
  width: 212px;
  margin-top: 8px;
}

.c-dexinfo .c-company .u-text img, .c-dexinfo .c-business .u-text img {
  margin-right: 0;
  padding-bottom: 10px;
  margin-left: 0;
}

.c-dexinfo .c-company .u-text p, .c-dexinfo .c-business .u-text p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 20px;
  padding-bottom: 12px;
  display: inline-block;
  text-align: justify;
  line-height: 25px;
}

.c-dexinfo .c-company .u-text a, .c-dexinfo .c-business .u-text a {
  border: 1px solid #fff;
}

.c-dexinfo .c-company .u-text a:link, .c-dexinfo .c-business .u-text a:link {
  width: 100%;
  padding: 10px 0 10px 0;
  background: none;
  text-decoration: none;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-dexinfo .c-company .u-text a:link img, .c-dexinfo .c-business .u-text a:link img {
  margin-left: 0;
  padding-bottom: 0;
}

.c-dexinfo .c-company .u-text a:hover, .c-dexinfo .c-business .u-text a:hover {
  background-color: #fff;
}

.c-dexinfo .c-company .u-text a:hover img, .c-dexinfo .c-business .u-text a:hover img {
  content: url("../img/dex-more1-b.png");
}

.c-dexinfo .c-company {
  float: left;
  background-color: #2aa4d1;
}

.c-dexinfo .c-company img {
  margin-left: 7px;
  margin-right: 21px;
}

.c-dexinfo .c-business {
  float: left;
  background-color: #3dafd9;
}

.c-dexinfo .c-business img {
  margin-left: 24px;
  margin-right: 12px;
}

.c-dexinfo .jus {
  float: left;
  width: 100px;
  height: 280px;
  background: #2aa4d1;
  position: relative;
}

.c-dexinfo .jus:before {
  content: '';
  position: absolute;
  top: 0;
  right: -4px;
  border-bottom: 280px solid #3dafd9;
  border-left: 96px solid #2aa4d1;
  width: 0;
}

.c-dexworks, .c-dexflow, .c-dexpolicy {
  overflow: hidden;
  margin-top: 10px;
}

.c-dexworks .u-content, .c-dexflow .u-content, .c-dexpolicy .u-content {
  float: right;
  width: 890px;
}

.c-dexworks .u-content .u-works, .c-dexworks .u-content .u-flow, .c-dexworks .u-content .u-policy, .c-dexflow .u-content .u-works, .c-dexflow .u-content .u-flow, .c-dexflow .u-content .u-policy, .c-dexpolicy .u-content .u-works, .c-dexpolicy .u-content .u-flow, .c-dexpolicy .u-content .u-policy {
  width: 406px;
  margin-left: 124px;
  margin-top: 48px;
}

.c-dexworks .u-content img, .c-dexflow .u-content img, .c-dexpolicy .u-content img {
  padding-bottom: 20px;
}

.c-dexworks .u-content p, .c-dexflow .u-content p, .c-dexpolicy .u-content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

.c-dexworks .u-content a, .c-dexflow .u-content a, .c-dexpolicy .u-content a {
  border: 1px solid #fff;
}

.c-dexworks .u-content a:link, .c-dexflow .u-content a:link, .c-dexpolicy .u-content a:link {
  width: 212px;
  padding: 15px 0 15px 0;
  background: none;
  margin-top: 16px;
  text-decoration: none;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-dexworks .u-content a:link img, .c-dexflow .u-content a:link img, .c-dexpolicy .u-content a:link img {
  padding-bottom: 0;
}

.c-dexworks .u-content a:hover, .c-dexflow .u-content a:hover, .c-dexpolicy .u-content a:hover {
  background-color: #fff;
}

.c-dexworks .u-content a:hover img, .c-dexflow .u-content a:hover img, .c-dexpolicy .u-content a:hover img {
  content: url("../img/dex-more-g.png");
}

.c-dexflow .u-content {
  float: left;
}

.c-dexflow .u-content .u-flow {
  float: right;
  margin-left: 0;
  margin-right: 114px;
}

.c-dexflow .u-content button:hover img {
  content: url("../img/dex-more1-b.png");
}

.c-footer {
  margin-top: 10px;
  overflow: hidden;
  padding: 39px 0 30px 0;
}

.c-footer .c-logo {
  float: left;
  margin-right: 39px;
  margin-left: 9px;
}

.c-footer .c-btn {
  float: left;
  margin-right: 40px;
}

.c-footer .c-btn .btn-light {
  width: 178px;
  padding: 7px 0 7px 0;
  border: 1px solid #ddd;
  text-align: center;
  margin-top: 5px;
}

.c-footer .c-btn a:link {
  width: 180px;
  padding: 7px 0 7px 0;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.c-footer .c-btn b {
  font-size: 13px;
  color: #000;
}

.c-footer .c-btn b:after {
  content: url("../img/dex-icon-arow.png");
  margin-left: 1em;
}

.c-footer .c-btn b:before {
  content: url("../img/dex-icon-home.png");
  margin-right: 1em;
}

.c-footer .c-btn a:hover {
  background-color: #36c1ac;
}

.c-footer .c-btn a:hover b {
  color: #fff;
}

.c-footer .c-btn a:hover b:after {
  content: url("../img/dex-icon-arow-w.png");
  margin-left: 1em;
}

.c-footer .c-btn a:hover b:before {
  content: url("../img/dex-icon-home-w.png");
  margin-right: 1em;
}

.c-footer ul {
  float: left;
  margin-right: 20px;
}

.c-footer ul li {
  padding-bottom: 10px;
}

.c-footer ul li:last-child {
  padding-bottom: 0;
}

.c-footer ul li:before {
  content: url("../img/ft-arow.png");
  margin-right: 1em;
}

.c-footer ul a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.c-footer .btn-go-top {
  width: 50px;
  height: 50px;
  background: none;
  float: right;
  cursor: pointer;
}

.c-textft {
  text-align: center;
  font-size: 12px;
  padding: 20px 0 20px 0;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #666666;
}

.c-comslide .u-title, .c-busslide .u-title, .c-wslide .u-title, .c-floslide .u-title, .c-poslide .u-title, .c-contslide .u-title {
  text-align: center;
  padding-top: 73px;
  margin-left: 16px;
}

.back-to-home {
  font-size: 12px;
  font-weight: 500;
  padding: 30px 0 12px 8px;
}

.back-to-home span {
  color: #000;
}

.back-to-home a {
  color: #1085b0;
}

.c-comtable .u-title {
  text-align: center;
  margin-top: 29px;
  margin-left: 18px;
}

.c-comtable table {
  border-collapse: collapse;
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
}

.c-comtable tr:first-child {
  border-top: 1px solid #ccc;
}

.c-comtable td {
  border-bottom: 1px solid #ccc;
  padding: 17px 0 17px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
}

.c-comtable td:first-child {
  width: 180px;
  background-color: #e0f4fc;
}

.c-comtable .u-btn {
  text-align: center;
  margin-top: 38px;
}

.c-comtable .u-btn a:link {
  width: 272px;
  text-align: center;
  background-color: #269eca;
  margin-left: 14px;
  display: inline-block;
  padding: 17px 0 17px 0;
  text-decoration: none;
}

.c-comtable .u-btn a:link b {
  font-size: 15px;
}

.c-comtable .u-btn a:link b:after {
  content: url("../img/com-icon2.png");
  margin-left: 1em;
}

.c-comtable .u-btn a:link b:before {
  content: url("../img/com-icon1.png");
  margin-right: 1em;
}

.c-comtable .u-btn a:hover {
  opacity: 0.5;
}

.c-comtable .u-btn a {
  color: #fff;
}

.c-map .u-title {
  text-align: center;
  margin-top: 80px;
  margin-left: 16px;
}

.c-map .map {
  margin-top: 40px;
}

.c-map .u-text {
  margin-top: 22px;
  padding-bottom: 64px;
}

.c-map .u-text h6 {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 5px;
}

.c-map .u-text p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 500;
}

.c-map .u-text p:before {
  content: url("../img/com-train.png");
  margin-right: 1em;
}

.c-buscontent {
  padding: 29px 0 71px 7px;
}

.c-buscontent .u-title {
  text-align: center;
  margin-left: 17px;
}

.c-buscontent .content {
  margin-top: 40px;
  overflow: hidden;
  -webkit-transition: .8s;
  transition: .8s;
}

.c-buscontent .content img {
  float: left;
  margin-right: 30px;
}

.c-buscontent .content .u-text {
  width: 560px;
  float: left;
}

.c-buscontent .content .u-text h3 {
  font-size: 20px;
  color: #269eca;
  letter-spacing: 1px;
  padding-bottom: 16px;
}

.c-buscontent .content .u-text p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 23px;
}

.c-wcontent .u-title {
  text-align: center;
  margin-top: 29px;
  margin-left: 18px;
}

.c-wcontent .c-listcard {
  overflow: hidden;
  margin-top: 7px;
  padding-bottom: 71px;
}

.c-wcontent .c-listcard .card {
  -webkit-transition: .8s;
  transition: .8s;
  float: left;
  width: 300px;
  margin-left: 30px;
  margin-top: 33px;
}

.c-wcontent .c-listcard .card:first-child {
  margin-left: 0;
}

.c-wcontent .c-listcard .card:nth-child(3n+1) {
  margin-left: 0;
}

.c-wcontent .c-listcard .u-image {
  width: 300px;
  height: 300px;
  background-color: #cccccc;
}

.c-wcontent .c-listcard .u-image p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #666666;
  padding-top: 142px;
}

.c-wcontent .c-listcard .u-image img {
  position: relative;
  top: 80px;
  right: 10px;
  float: right;
}

.c-wcontent .c-listcard .u-image:hover {
  background-color: #dbdbdb;
}

.c-wcontent .c-listcard .u-card-title {
  background-color: #269eca;
}

.c-wcontent .c-listcard .u-card-title h3 {
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 14px 0 14px 0;
}

.c-wcontent .c-listcard .u-info {
  background-color: #e0f4fc;
  padding: 14px 0 14px 0;
}

.c-wcontent .c-listcard .u-info p {
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  font-weight: 500;
  color: #333333;
}

.c-flocontent {
  padding-bottom: 72px;
}

.c-flocontent .u-title {
  text-align: center;
  margin-top: 29px;
  margin-left: 22px;
  padding-bottom: 30px;
}

.c-flocontent .content {
  overflow: hidden;
  padding-top: 10px;
  margin-left: 8px;
  -webkit-transition: .8s;
  transition: .8s;
}

.c-flocontent .content .u-step {
  float: left;
  margin-right: 20px;
}

.c-flocontent .content .u-text {
  float: left;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.c-flocontent .content .u-text h3 {
  font-size: 20px;
  color: #269eca;
  letter-spacing: 0px;
  padding: 20px 0 25px 0;
}

.c-flocontent .content .u-text__2 {
  overflow: hidden;
}

.c-flocontent .content .u-text__2 img {
  float: left;
  margin-right: 22px;
}

.c-flocontent .content .u-text__2 .u-right {
  float: left;
  width: 550px;
}

.c-flocontent .content .u-text__2 .u-right p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 23px;
}

.c-flocontent .content .u-text__2 .u-box {
  overflow: hidden;
  background-color: #269eca;
  padding: 20px;
  margin-top: 20px;
}

.c-flocontent .content .u-text__2 .u-box a {
  color: #000;
}

.c-flocontent .content .u-text__2 .u-box a:link {
  float: left;
  width: 250px;
  padding: 20px 0 20px 0;
  background-color: #fff;
  margin-right: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.c-flocontent .content .u-text__2 .u-box a:link b {
  font-size: 14px;
}

.c-flocontent .content .u-text__2 .u-box a:link b:after {
  content: url("../img/dex-icon-arow.png");
  margin-left: 1em;
}

.c-flocontent .content .u-text__2 .u-box a:link b:before {
  content: url("../img/dex-icon-home.png");
  margin-right: 1em;
}

.c-flocontent .content .u-text__2 .u-box a:hover {
  background-color: #36c1ac;
  color: #fff;
}

.c-flocontent .content .u-text__2 .u-box a:hover b:after {
  content: url("../img/dex-icon-arow-w.png");
}

.c-flocontent .content .u-text__2 .u-box a:hover b:before {
  content: url("../img/dex-icon-home-w.png");
}

.c-flocontent .content .u-text__2 .u-box .phone {
  float: left;
  width: 250px;
  padding: 12px 0 12px 0;
  border: 1px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-pocontent {
  padding-bottom: 56px;
}

.c-pocontent .u-title {
  text-align: center;
  margin-top: 29px;
}

.c-pocontent .u-title img {
  margin-left: 16px;
}

.c-pocontent .u-text-title {
  margin-top: 30px;
}

.c-pocontent .u-text-title p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
}

.c-pocontent .c-pomedia {
  overflow: hidden;
  margin-top: 44px;
  margin-left: 8px;
  padding-bottom: 16px;
  -webkit-transition: .8s;
  transition: .8s;
}

.c-pocontent .c-pomedia img {
  float: left;
}

.c-pocontent .c-pomedia .c-card-text {
  float: left;
  width: 400px;
  height: 320px;
  margin: 40px 0 40px 0;
  background-color: #e0f4fc;
  position: absolute;
  margin-left: 560px;
}

.c-pocontent .c-pomedia h3 {
  font-size: 20px;
  color: #269eca;
  padding: 40px 40px 25px 40px;
}

.c-pocontent .c-pomedia p {
  font-size: 14px;
  line-height: 23px;
  padding: 0 30px 0 40px;
  line-height: 27px;
}

.c-pocontent .c-pomedia--swap img {
  float: right;
}

.c-pocontent .c-pomedia--swap .c-card-text {
  float: left;
  margin-left: 0;
}

.c-contcontent {
  padding: 29px 0 63px 0;
}

.c-contcontent .u-title {
  text-align: center;
  margin-left: 17px;
  padding-bottom: 35px;
}

.c-contcontent .u-text {
  padding-bottom: 25px;
}

.c-contcontent .u-text p {
  font-size: 14px;
  font-weight: 500px;
  text-align: center;
  line-height: 23px;
}

.c-contcontent .u-table {
  margin-top: 20px;
}

.c-contcontent .u-table table {
  border-collapse: collapse;
  width: 700px;
  margin: 0 auto;
}

.c-contcontent .u-table td {
  border-bottom: 1px solid #ccc;
  padding: 20px 20px 20px 20px;
}

.c-contcontent .u-table td:first-child {
  width: 170px;
  background-color: #e0f4fc;
  overflow: hidden;
}

.c-contcontent .u-table td:first-child p {
  margin-top: 0;
  float: left;
}

.c-contcontent .u-table tr:first-child {
  border-top: 1px solid #ccc;
}

.c-contcontent .u-table p {
  font-size: 14px;
  margin-top: 10px;
}

.c-contcontent .u-table button {
  float: right;
  height: 14px;
  width: 32px;
  background-color: #cf3d3d;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
}

.c-contcontent .u-table .btn-dark {
  background-color: #999999;
}

.c-contcontent .u-table input {
  width: 90%;
  height: 29px;
  border: 1px solid #ddd;
  padding-left: 12px;
  margin-top: 10px;
}

.c-contcontent .u-table input:first-child {
  margin-top: 0;
}

.c-contcontent .u-table .ip-sm {
  width: 32%;
}

.c-contcontent .u-table select {
  width: 35%;
  height: 33px;
  border: 1px solid #ddd;
  padding-left: 10px;
  color: #666;
}

.c-contcontent .u-table textarea {
  width: 90%;
  height: 130px;
  padding: 10px 0 0 12px;
  border: 1px solid #ddd;
}

.c-contcontent .u-btn {
  text-align: center;
  margin-top: 20px;
}

.c-contcontent .u-btn a:link {
  width: 184px;
  padding: 17px 0 17px 0;
  background-color: #269eca;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.c-contcontent .u-btn b {
  font-size: 15px;
}

.c-contcontent .u-btn b:after {
  content: url("../img/cont-arow-w.png");
  margin-left: 1em;
}

.c-contcontent .u-btn a:hover {
  opacity: 0.6;
}

.c-contcontent .u-btn a {
  color: #fff;
}

.tranf {
  opacity: 0;
}

.tran {
  opacity: 1.0;
}
