@charset "UTF-8";
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body{
	width: 1080px;
	max-width: 1080px;
	min-width: 1080px;
	margin: 0 auto;

}
.container{
	width: 780px;
	margin: 0 auto;
}
.web{
	display: block;
}
.mob{
	display: none;
}
.w100{
	width: 100%;
}
@media only screen and (max-width:768px){
	body{
		width: 100%;
		max-width: auto;
		min-width: auto;
	}
	.container{
		width: 94%;
		margin: 0 auto;
	}
	.web{
		display: none;
	}
	.mob{
		display: block;
	}
}