@charset "UTF-8";
/*------------------------------------------------------------
	background
------------------------------------------------------------*/
#bg-topslide{
    background-image: url("../img/dex-h-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 581px;
}
#bg-topslide2{
    background-color: #49c8b2;
    height: 430px;
}
#bg-topcont02{
    background-color: #e5e5e5;
    height: 541px;
}
#bg-genetec{
    background-color: #e5e5e5;
}
#bg-footer{
    background-color: #49c8b2;
}
#bg-qatitle{
    background-color: #e5e5e5;
}
/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-menu{
    overflow: hidden;
    position: fixed;
    width: 1080px;
    z-index: 9999;
    transition:500ms ease;
    background:transparent;
    .u-logo{
        float: left;
        img{
            padding: 10px 10px;
        }
        img:hover{
            opacity: 0.5;
        }
    }
    .u-navi{
        float: right;
        ul{
            display: -webkit-box;
            display: flex;
            padding-top: 10px;
        }
        li{
            padding-right: 44px;
            padding-top: 18px;
        }
        li:last-child{
            padding-right: 6px;
        }
        li:hover{
            opacity: 0.5;
        }
        a{
            font-size: 1.6rem;
            font-weight: bold;
            display: flex;
            text-decoration: none;
            color: black;
            letter-spacing: 1px;
        }
        a:last-child{
            font-size: 1.4rem;
        }
    }
    .u-logostore{
        float: right;
        img{
            width: 121px;
            height: 35px;
            padding: 18px 8px 0 0px;
        }
        img:hover{
            opacity: 0.5;
        }
    }
}
.c-logobig{
    width: 1080px;
    height: 581px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
}
.c-headinfo{
    overflow: hidden;
    .u-phone01{
        float: left;
        position: absolute;
        margin-top: -70px;
    }
    .u-text{
        float: right;
        margin-top: 50px;
        margin-right: 10px;
        h3{
            font-size: 2rem;
            color: #ffffff;
            font-weight: bold;
            letter-spacing: 2px;
            padding-bottom: 16px;
        }
    }
    .u-listicon{
        overflow: hidden;
        margin-top: 36px;
    }
    .icon{
        float: left;
        width: 124px;
        margin-left: 48px;
       p{
        font-size: 1.6rem;
        font-weight: bold;
        color: #ffffff;
        letter-spacing: 1.7px;
        text-align: center;
        line-height: 20px;
       }
       img{
           padding-bottom: 20px;
       }
    }
    .icon:first-child{
        margin-left: 0px;
    }
}
.c-topcontent01{
    margin-top: 65px;
    .u-logo{
        width: 365px;
        height: 98px;
        margin: 0 auto;
        padding-bottom: 36px;
    }
    .u-text{
        padding-bottom: 30px;
        p{
            font-size: 1.6rem;
            font-weight: 500;
            text-align: justify;
            letter-spacing: 1px;
            line-height: 28px;

        }
    }
    .u-video{
        width: 620px;
        height: 250px;
        margin: 0 auto;
        padding-bottom: 166px;
        img{
            position: absolute;
        }
        button{
            width: 319px;
            height: 66px;
            border-radius: 50px;
            border: 2px solid #fff;
            font-size: 2.2rem;
            font-weight: bold;
            letter-spacing: 5px;
            background-color:#fff0;
            color: #fff;
            position: relative;
            top: 143px;
            left: 152px;
            cursor: pointer;
        }
        span{
            font-size: 3rem;
        }
    }
}
.c-topcontent02{
    .u-logo{
        padding-top: 65px;
        width: 176px;
        margin: 0 auto;
    }
    .u-text{
        margin-top: 33px;
        padding-bottom: 34px;
        p{
            font-size: 1.6rem;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 29px;
        }
    }
    .u-table{
        padding-bottom: 20px;
        table{
            border-collapse: collapse;
            width: 100%;
        }
        td{
            border-bottom: 2px solid #fff;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 2px;
            padding: 15px 20px 15px 0;
            text-align: left;
        }
        tr:first-child{
            border-top: 2px solid #fff;
        }
    }
    .u-link{
        a{
            float: right;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 1px;
            color: black;
        }
        a:hover{
            color: #069d8f;
        }
    }

}
.c-topslide{
    margin-top: 65px;
    .u-title{
        margin-left: 24px;
    }
    .u-slider {
        max-width: 780px;
        position: relative;
        margin-top: 19px;
        border-bottom: 1px solid #dddddd;
    }
    .u-slider:last-child{
        padding-bottom: 38px;
        border-bottom: none;
    }
    .mySlides,.mySlides2,.mySlides3 {
        display: none;
        overflow: hidden;
        img{
            float: left;
            margin-left: 30px;
        }
        .u-content{
            float: left;
            width: 370px;
            margin-top: 96px;
            margin-left: 27px;
            p{
                font-size: 1.6rem;
                text-align: justify;
                font-weight: 600;
                line-height: 26px;
                letter-spacing: 0.5px;
            }
            img{
                float: none;
                margin-left: 0;
                padding-bottom: 26px;
            }
        }
    }
    .prev,.next {
        cursor: pointer;
        position: absolute;
        top: 170px;
        width: 50px;
        height: 80px;
        padding: 0px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        img{
            margin-top: 7px;
            margin-left: 6px;
        }
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        img{
            float: right;
            margin-right: 6px;
        }
    }
    .prev:hover,.next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .u-dot{
        width: 93px;
        position: absolute;
        bottom: 41px;
        right: 204px;
    }
    .dot, .dot2, .dot3 {
        cursor: pointer;
        height: 11px;
        width: 11px;
        margin: 14px 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active,.dot:hover {
        background-color: #717171;
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
}
.c-genetec{
    padding-top: 65px;
    .u-title{
        width: 371px;
        margin: 0 auto;
        padding-bottom: 48px;
    }
    .u-listbtn{
        overflow: hidden;
        padding-bottom: 65px;
        .u-btn{
            width: 375px;
            height: 140px;
            background-color: #fff;
            img{
                width: 306px;
                margin: 0 auto;
                margin-top: 14px;
            }
        }
        .u-btn:hover{
            opacity: 0.5;
        }
        .u-btn:first-child{
            float: left;
        }
        .u-btn:nth-child(3n-1){
            float: right;
        }
    }
}
.c-footer{
    padding-top: 65px ;
    .u-title{
        width: 237px;
        margin: 0 auto;
        padding-bottom: 24px ;
    }
    .u-plugin{
        overflow: hidden;
        width: 301px;
        margin: 0 auto;
        img{
            width: 138px;
            height: 40px;
            float: left;
            margin-right: 25px;
        }
        a:last-child{
            img{
                margin-right: 0;  
            }
        }
        img:hover{
            opacity: 0.5;
        }
    }
    .u-menu-ft{
        display: -webkit-box;
        margin-top: 33px;
        padding-bottom: 13px;
        ul{
            margin-left: 34px;
            display: -webkit-box;
            li{
                margin-right: 14px;
                a{
                    height: 50px;
                    font-size: 1.4rem;
                    font-weight: bold;
                    text-decoration: none;
                    color: #fff;
                    display: flex;
                    align-items: center;
                }
                a:hover{
                    color:#069d8f; 
                }
            }
        }
        img{
            margin-left: 12px;
        }
        img:first-child{
            margin-left: 0;
        }
        img:hover{
            opacity: 0.5;
        }
    }
    .u-text{
        padding-bottom: 65px;
        p{
            font-size: 1.2rem;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 20px;
            color: #fff;
            text-align: center;
        }
    }
}
.c-qatitle{
    padding: 46px 0 46px 0;
    width: 133px;
    margin: 0 auto;
}
.p-h73{
    height: 73px;
}
.c-qacontent1,.c-qacontent2{
    margin-top: 63px;
    .u-title{
        padding-bottom: 21px;
        border-bottom: 1px solid #ddd;
    }
    .c-collapse{
        border-bottom: 1px solid #ddd;
        .collapsible {
            background-color:white;
            cursor: pointer;
            padding: 16px 0 16px 0;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            overflow: hidden;
            font-size: 1.6rem;
            letter-spacing: 1px;
            font-weight: bold;
        }
        .content {
            width: 100%;
            max-height: 0;
            overflow: hidden; 
            transition: max-height 0.2s ease-out;
            p{
                font-size: 1.4rem;
                letter-spacing: 0.5px;
                line-height: 20px;
                color: #6c6c6d;
                text-align: justify;
            }
        }
        .collapsible:after {
            content: url("../img/qa-ad.png");
            float: right;
            margin-top: -8px;
        }
        .active:after {
            content: url("../img/qa-re.png");
        }
        &--ddd{
            .collapsible:after {
                content: url("../img/qa-ad-ddd.png");
                float: right;
                margin-top: -8px;
            }
            .active:after {
                content: url("../img/qa-re-ddd.png");
            }
        }
    }
}
.c-qacontent2{
    padding-bottom: 65px;
    .u-text{
        padding-bottom: 30px;
        border-bottom: 1px solid #ddd;
        p{
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 26px;
        text-align: justify;
        }
    }
    b{
        margin-left: 20px;
    }
    b:first-child{
        margin-left: 0;
    }
    a{
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 26px;
        text-align: justify;
        color: #069d8f;
    }
    h4{
        font-size: 1.6rem;
        letter-spacing: 1px;
        line-height: 26px;
        text-align: justify;
        font-weight: bold;
        padding-top: 20px;
    }
    .c-page{
        overflow: hidden;
        margin: 0 auto;
        padding: 16px 0 0 0;
        a{
            font-size: 1.6rem;
            font-weight: 500;
            color: #069d8f;
            letter-spacing: 1px;
        }
        li{
            float: right;
        }
        li:first-child{
            float: left;
        }
        li:first-child::before{
            content: "◀ ";
            font-size: 1rem;
            color: #069d8f;
        }
        li:last-child::after{
            content: " ▶︎";
            font-size: 1rem;
            color: #069d8f;
        }

    }
}
.c-rutitle,.c-tptitle{
    padding: 46px 0 46px 0;
    width: 198px;
    margin: 0 auto;
}
.c-rucontent{
    margin-top: 65px;
    p{
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 32px;
        text-align: justify;
    }
    h4{
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 20px;
        text-align: justify;
        margin-top: 30px;
    }
    .u-text-top{
        padding-bottom: 40px;
        border-bottom: 1px solid #dddddd;
    }
    .u-text-main{
        padding-bottom: 30px;
        border-bottom: 1px solid #dddddd;
    }
    .u-text-date{
        padding: 30px 0 60px 0;
        overflow: hidden;
        p{
            text-align: right;
        }
    }
}
.pagination {
    position: fixed;
    top: 95px;
    margin-left: 4px;
    a{
        text-decoration: none;
    }
    img{
        padding: 10px 0 10px 5px;
    }
    &__item {
       padding: 0 0 0 20px;
    }
    &__link {
          position: relative;
          text-indent: -99em;
          overflow: hiddin;
          display:block;
          width: 11px;
          height: 11px;
          
          &:before,
          &:after {
            content: '';
            display:block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #ccc;
            border: 1px solid #ccc;
            transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
          &:before {
            background: #ccc;
            transform: scale(.5);
          }
          &:hover {
            &:after {
              transform: scale(1.5);
              border: 1px solid #069d8f;
            }
          }
          &.is_active {
            &:before {
              transform: scale(1.5);
              background: none;
              border: 1px solid #069d8f;
            }
            &:after {
              transform: scale(1);
              background: #069d8f;
            }
          }
    }
    .tooltip {
        position: relative;
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 100px;
        background-color: #069d8f;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 150%;
        font-size: 1.5rem;
    }
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #069d8f transparent transparent;
    }
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
}
@media only screen and (max-width: 768px){
    #bg-topslide{
        background-image: url("../img/bg-topslide-mob.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: auto;
    }
    #bg-topslide2{
        height: auto;
    }
    #bg-topcont02{
        height: auto;
    }
    .c-menuSP__1,.c-menuSP__2,.c-menuSP__3{
		width: 100%;
		height: 4px;
		background: #000;
		margin: 6px auto;
		-webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
    }
	.c-menuSP{
		width: 30px;
		height: 30px;
		top: 4px;
		left: 20px;
		cursor: pointer;
        position: absolute;
        z-index: 999;
	}
	.is-open{
		.c-menuSP__1 {
			-webkit-transform: rotate(45deg) translate(7px, 7px);
			-ms-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
            background: #000 !important;
		}
		.c-menuSP__2 {
			opacity: 0;
		}
		.c-menuSP__3 {
			-webkit-transform: rotate(-45deg) translate(7px, -7px);
			-ms-transform: rotate(-45deg) translate(7px, -7px);
            transform: rotate(-45deg) translate(7px, -7px);
            background: #000 !important;
		}
    }
    .c-menulistSP{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
        ul{
            background: #ffffffd9;
            height: 100vh;
        }
        li{
            margin: 0 0 10px 0;
        }
        li:nth-child(3n+1){
            padding-top: 40px;
        }
        li:first-child{
            padding-top: 80px;
        }
        .text-small{
            font-size: 1.5rem;
        }
        a{
            text-decoration: none;
            display: block;
            color: #333;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
        }
        .store{
            width: 163px;
            height: 48px;
            margin: 0 auto;
        }
    }
    .c-menu{
        width: 100%;
        height: 50px;
        .u-logo{
            float: none;
            width: 106px;
            height: 30px;
            margin-right: 30%;
            margin: 0 auto;
            img{
                padding: 0;
                margin: 10px 10px 0 0;
            }
        }
        .u-plugin{
            float: right;
            overflow: hidden;
            margin: 10px 0 0 0;
            .facejs,.twijs{
                float: left;
                margin-right: 10px;
            }
            .facejs{
                width: 26px;
                height: 27px;
            }
            .twijs{
                width: 27px;
                height: 22px;
                margin-top: 3px;
            }
        }
    }
    .c-logobig{
        width: 240px;
        height: 252px;
        margin: 0 auto;
        padding-top: 24%;
        padding-bottom: 54%;
    }
    .c-headinfo{
        width: 96%;
        margin: 0 auto;
        .u-text{
            float: none;
            margin-top: 0;
            margin-right: 0;
            h3{
                font-size: 1.7rem;
                padding-bottom: 16px;
                text-align: center;
                padding-bottom: 10px;
                margin-top: 30px;
            }
            .mob{
                width: 300px;
                height: 22px;
                margin: 0 auto;
            }
        }
        .u-listicon{
            width: 480px;
            margin: 0 auto;
            margin-top: 20px;
            padding-bottom: 16px;
        }
        .icon{
            float: left;
            width: 120px;
            margin-left: 0;
            margin-right: 60px;
           p{
            font-size: 1.2rem;
            letter-spacing: 1px;
           }
           img{
               width: 96px !important;
               height: 95px !important;
               padding-bottom: 10px;
           }
        }
        .icon:first-child{
            margin-left: 0px;
        }
        .icon:last-child{
            margin-right: 0px;
        }
    }
    .c-topcontent01{
        margin-top: 40px;
        .u-logo{
            width: 315px;
            height: 84px;
        }
        .u-text{
            p{
                font-size: 1.4rem;
            }
        }
        .u-video{
            position: relative;
            width: auto;
            height: 211px;
            padding-bottom: 220px;
            text-align: center;
            button{
                width: 197px;
                height: 40px;
                font-size: 1.4rem;
                top: 78%;
                left: 0;
            }
            span{
                font-size: 2rem;
            }
        }
    }
    .c-topcontent02{
        .u-logo{
            padding-top: 20px;
            width: 151px;
            height: 38px;
        }
        .u-text{
            p{
                font-size: 1.4rem;
                line-height: 20px;
                text-align: justify;
            }
        }
        .u-table{
            padding-bottom: 20px;
            table{
                border-collapse: collapse;
                width: 100%;
            }
            td{
                border-bottom: 1px solid #fff;
                font-size: 1.4rem;
                padding: 15px 10px 15px 0;
            }
            td{
                
            }
            tr:first-child{
                border-top: 1px solid #fff;
            }
        }
        .u-link{
            overflow: hidden;
            padding-bottom: 30px;
            a{
                font-size: 1.4rem;
            }
        }
    
    }
    .c-topslide{
        margin-top: 20px;
        .u-title{
            margin-left: 0;
            width: 316px;
            height: 120px;
            margin: 0 auto;
        }
        .u-slider {
            max-width: none;
            width: 100%;
            margin-top: 23px;
            border-bottom: 1px solid #dddddd;
        }
        .mySlides,.mySlides2,.mySlides3 {
            display: none;
            img{
                float: none;
                margin-left: 0;
            }
            .u-content{
                float: none;
                width: 100%;
                margin-top: 10px;
                margin-left: 0;
                p{
                    font-size: 1.4rem;
                    text-align: center;
                }
                img{
                    float: none;
                    margin-left: 0;
                    padding-bottom: 26px;
                }
                .mob-point{
                    width: 194px;
                    height: 57px;
                    margin: 0 auto;
                }
            }
            .mob-phone{
                width: 231px;
                height: 411px;
                margin: 0 auto;
            }
        }
        .prev,.next {
            top: 25%;
            width: 24px;
            height: 43px;
            cursor: none;
            img{
                margin-top: 3px;
                margin-left: 3px;
            }
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
            img{
                margin-right: 3px;
            }
        }
        .prev:hover,.next:hover {
            background-color: #fff0;
        }
        .u-dot{
            width: 57px;
            position: relative;
            bottom: 0;
            right: 0;
            margin: 0 auto;
            padding-bottom: 10px;
        }
        .dot, .dot2, .dot3 {
            cursor: pointer;
            height: 7px;
            width: 7px;
            margin: 14px 5px;
        }
        .u-slider:last-child{
            .u-dot{
                width: 77px;
            }
        }
    }
    .c-genetec{
        padding-top: 30px;
        .u-title{
            width: 309px;
            height: 36px;
            padding-bottom: 20px;
        }
        .u-listbtn{
            padding-bottom: 20px;
            text-align: center;
            .u-btn{
                width: 317px;
                height: 118px;
                margin-bottom: 20px;
                padding: 20px;
                margin-left: 10px;
                img{
                    width: 100%;
                    margin-top: 0;
                }
            }
            .u-btn:first-child{
                float: none;
            }
            .u-btn:nth-child(3n-1){
                float: none;
            }
        }
    }
    .c-footer{
        padding-top: 40px ;
        .u-title{
            width: 264px;
            height: 22px;
            padding-bottom: 14px ;
        }
        .u-plugin{
            width: 50%;
            margin: 0 auto;
            img{
                width: 167px;
                height: 49px;
                float: left;
                margin-right: 0;
            }
            a:last-child{
                img{
                    float: right;  
                }
            }
        }
        .u-menu-ft{
            display: block;
            margin-top: 16px;
            padding-bottom: 13px;
            ul{
                display: block;
                margin-left: 0;
                overflow: hidden;
                width: 263px;
                margin: 0 auto;
                
                li{
                    float: left;
                    margin-right: 14px;
                    a{
                        height: auto;
                        font-size: 1.3rem;
                        line-height: 20px;
                    }
                }
                li:last-child{
                    width: 263px;
                    a{
                        width: 156px;
                        margin: 0 auto;
                    }
                }
            }
            .ft-lg-mob{
                width: 169px;
                height: 48px;
                margin: 0 auto;
                padding-bottom: 20px;
            }
        }
        .u-text{
            width: 90%;
            margin: 0 auto;
            padding-bottom: 40px;
            p{
                font-size: 1.1rem;
            }
        }
    }
    .c-qacontent1,.c-qacontent2{
        margin-top: 40px;
        .u-title{
           width: 108px;
           height: 22px;
           border: none;
           &--2{
            width: 181px;
            height: 22px;
           }
        }
        hr{
            border: 0.5px solid #dddddd;
        }
        .c-collapse{
            .collapsible {
                font-size: 1.4rem;
                line-height: 20px;
                width: 88%;
                cursor: none;
            }
            .content {
                p{
                    font-size: 1.2rem;
                }
            }
            .collapsible:after {
                content: url("../img/qa-ad-ddd.png");
                float: right;
                margin-top: -3px;
                position: absolute;
                right: 3%;
            }
            .active:after {
                content: url("../img/qa-re-ddd.png");
            }
        }
    }
    .c-qacontent2{
        padding-bottom: 40px;
        .u-text{
            p{
            font-size: 1.4rem;
            }
        }
        a{
            font-size: 1.4rem;
        }
        h4{
            font-size: 1.4rem;
            padding-top: 16px;
        }
    }
    .c-qatitle{
        padding: 36px 0 36px 0;
        width: 112px;
        height: 38px;
    }
    .c-rutitle,.c-tptitle{
        padding: 36px 0 36px 0;
        width: 164px;
        height: 38px;
    }
    .c-rucontent{
        margin-top: 40px;
        p{
            font-size: 1.4rem;
            line-height: 26px;
        }
        h4{
            font-size: 1.4rem;
        }
        .u-text-top{
            padding-bottom: 40px;
            border-bottom: 1px solid #dddddd;
        }
        .u-text-main{
            padding-bottom: 30px;
            border-bottom: 1px solid #dddddd;
        }
        .u-text-date{
            padding: 30px 0 30px 0;
            overflow: hidden;
            p{
                text-align: right;
            }
        }
    }
    .c-page{
        overflow: hidden;
        margin: 0 auto;
        padding: 10px 0 0 0;
        a{
            font-size: 1.4rem;
        }
    }
}
@media only screen and (max-width: 599px) {
    .c-logobig{
        padding-bottom: 26%;
    }
    .c-headinfo{
        .u-text{
            h3{
                margin-top: 10px;
            }
        }
        .u-listicon{
            width: 338px;
        }
        .icon{
            width: 96px;
            margin-right: 25px;
        }
    }
    .c-topcontent01{
        .u-video{
            padding-bottom: 20px;
            button{
                top: 35%;
            }
        }
    }
    .c-genetec{
        .u-listbtn{
            .u-btn{
                margin-left: 0;
            }
        }
    }
    .c-footer{
        .u-plugin{
            width: 100%;
        }
    }
    .c-qacontent1,.c-qacontent2{
        .c-collapse{
            .collapsible:after {
                right: 5%;
                margin-top: -16px;
            }
           
        }
    }
}
@media only screen and (max-width: 320px){
    .c-headinfo{
        .u-listicon{
            width: auto;
        }
        .icon{
            width: 96px;
            margin-right: 0;
           img{
               width: 80px !important;
               height: 79px !important;
           }
        }
    }
    .c-topcontent01{
        .u-logo{
            width: 280px;
            height: 74px;
        }
        .u-video{
            padding-bottom: 0px;
            button{
                top: 25%;
            }
        }
    }
    .c-topslide{
        .u-title{
            width: 290px;
            height: 110px;
        }
    }
    .c-genetec{
        .u-title{
            width: 280px;
            height: 33px;
        }
        .u-listbtn{
            .u-btn{
                width: 100%;
                height: 95px;
                padding: 0px;
            }
        }
    }
    .c-footer{
        .u-plugin{
            img{
                width: 140px;
                height: 41px;

            }
        }
    }
}