@charset "UTF-8";
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1520px;
	max-width: 1920px;
	margin: 0 auto;
}
/*------------------------------------------------------------
	header & Navi
------------------------------------------------------------*/
.container{
	width: 1080px;
	margin: 0 auto;
}
.l-cont01, .l-cont02, .l-cont03, .l-footer{
	width: 1520px;
	margin: 0 auto
}
/*------------------------------------------------------------
	lightbox
------------------------------------------------------------*/
.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.90);
}
.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 10%;
}
.lightbox:target {
	outline: none;
	display: block;
}
/*------------------------------------------------------------
	Transition
------------------------------------------------------------*/
.tranf{
	opacity: 0;
}
.tran{
	opacity: 1.0;
}