.p-businslider{
    height: 276px;
    .u-img{
        margin-top: 7%;
        margin-left: 45%;
    }
}
.c-business{
    margin-top: 121px;
    .c-business__1, .c-business__2{
        overflow: hidden;
        border: 1px solid #009fbb;
        padding: 39px;
        transition: .8s;
        .u-left{
            float: left;
            width: 520px;
            .u-text{
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.2px;
                p{
                    margin: 25px 0 25px 0;
                }
            }
        }
        .u-right{
            float: right;
        }
    }
    .c-business__2{
        margin-top: 81px;
    }
    .c-business__3{
        margin-top: 81px;
        border: 1px solid #009fbb;
        padding: 39px;
        transition: .8s;
        .u-text{
            font-size: 14px;
            font-weight: 500;
            p{
                margin: 20px 0 20px 0;
            }
        }
    }   
    .p-h129{
        height: 129px;
    }
}