.p-caseslider{
    height: 277px;
    .u-img{
        margin-top: 7%;
        margin-left: 45%;
    }
}
.c-case01{
    width: 860px;
    margin: 0 auto;
    margin-top: 120px;
    .u-btn{
        width: 260px;
        height: 50px;
        background-color: #0291aa;
        border-radius: 4px;
        border: 2px solid #0291aa;
        font-size: 15px;
        font-weight: bold;
        color: white;
        .u-btn__text{
            margin-left: 26px;
        }
        .u-btn__icon{
            margin-left: 26px;
        }
        i {
            border: solid white;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }
        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
    .p-mf38 {
        margin-left: 38px;
    }
    .p-mf36{
        margin-left: 36px;
    }
    .u-btn:hover{
        background-color: #016f82;
        border: 2px solid #016f82;
    }
    .u-btn:focus{
        background-color: white;
        color: #0291aa;
        i{
            border: solid #0291aa;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }
    }
}
.c-case02{
    .c-case02__01, .c-case02__02, .c-case02__03{
        overflow: hidden;
        transition: .8s;
        .u-tilte{
            background-color: #e1f0fa;
        }
        .u-img{
            float: left;
            margin-top: 31px;
        }
        .u-table{
            width: 570px;
            float: right;
            font-size: 13px;
            font-weight: 500;
            border-top: 1px solid #dddddd;
            margin-top: 30px;
        }
        th, td{
            border-bottom: 1px solid #dddddd;
        }
        p{
            margin: 16px 0 16px 0;
        }
        .tab-a{
            width: 160px;
            color: #025995;
            p{
                margin-left: 26px;
            }
        }
        .tab-b{
            width: 410px;
        }
    }
    .p-mt48{
        margin-top: 48px;
    }
    .p-mt78{
        margin-top: 78px;
    }
}
.u-topic{
    margin-top: 76px;
}
.p-h131{
    height: 131px;
}