.p-comslider{
    height: 277px;
    .u-img{
        margin-left: 44%;
        margin-top: 6%;
    }
}
.bg-profile{
    background-color: #f7f7f7;
    height: 808px;
}
.bg-map{
    background-color: #f7f7f7;
    height: 737px;
}
.u-line{
    margin-top: 8px;
    border-bottom: 1px solid #015294;
}
/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-greeting{
    transition: .8s;
    .u-tilte{
        margin-top: 114px;
    }
    .u-text{
        font-size: 14px;
        font-weight: 500;
        p{
           margin: 30px 0 30px 0;
        }
    }
    .u-kanji{
        overflow: hidden;
        .right{
            float: right;
            margin-top: 19px;
        }
    }
    .u-banner{
        margin-top: 37px;
    }
}
.c-profile{
    margin-top: 80px;
    transition: .8s;
    .u-table{
        font-size: 14px;
        font-weight: 500;
        margin-top: 36px;
        .u-table__a{
            background-color: #e7f5ff;
            width: 172px;
            color: #0361a7;
        }
        .u-table__b{
            letter-spacing: 1px;
        }
        p{
            margin-left: 20px;
            padding: 0.7px;
        }
    }
    table{
        border-collapse: collapse;
        width: 100%;
    }
    th, td{
        padding: 22px;
        text-align: left;
        border-bottom: 1px solid #dddddd;
    }
    .b-top{
        border-top: 1px solid #dddddd;
    }
    .p-h156{
        height: 76px;
    }
}
.c-introduction{
    margin-top: 75px;
    .u-list-img{
        overflow: hidden;
        margin-top: 37px;
        .u-list__cont{
            float: left;
            width: 239px;
            transition: .8s;
            .u-img{
                width: 239px;
                height: 167px;
                border: 4px #d4d4d4;
                border-style: double;
            }
            .u-text{
                font-size: 14px;
                font-weight: 500;
                text-align: center;
                margin-top: 9px;
                margin-left: 10px;
            }
        }
        .p-mf38{
            margin-left: 38px;
        }
    }
    .p-mt57{
        margin-top: 57px;
    }
}
.c-map{
    margin-top: 80px;
    transition: .8s;
    .u-googlemap{
        margin-top: 38px;
        border: 1px solid #d4d4d4;
    }
    .p-h76{
        height: 76px;
    }
}