.u-conslider{
    height: 277px;
    .u-img{
        margin-top: 7%;
        margin-left: 43%;
    }
}
.bg-contact02{
    background-color: #f7f7f7;
    height: 866px;
}
.c-contact{
    margin-top: 114px;
    .u-text{
        font-size: 14px;
        font-weight: 500;
        p{
            margin: 30px 0 30px 0;
        }
    }
    .p-h50{
        height: 50px;
    }
}
.c-contact02{
    .u-form{
        margin-top: 53px;
    }
    .form-group{
        overflow: hidden;
        font-size: 14px;
        font-weight: 500;
        .row1{
            width: 158px;
            float: left;
            color: #0362a8;
        }
        p{
            margin: 18px 0 18px 0;
        }
        .row2{
            width: 72px;
            float: left;
        }
        .row3{
            width: 850px;
            float: left;
        }
        .w100, .w94{
            width: 812px;
            padding: 18px;
            border: 1px solid #eaeaea;
        }
        .w94{
            width: 94px;
        }
        .w182{
            width: 182px;
            padding: 16px;
            border: 1px solid #eaeaea;
        }
        span{
            margin: 0 10px 0 10px;
        }
        textarea{
            border: 1px solid #eaeaea;
            padding: 18px;
        }
        .p-mg18{
            margin: 18px 0 18px 0;
        }
        .p-mf70{
            margin-left: 70px;
        }
        .u-btn, .u-btn-light{
            width: 41px;
            height: 24px;
            background-color: #0362a8;
            color: #ffffff;
            margin: 14px 0 14px 0;
        }
        .u-btn-light{
            background-color: #8c8b8b;
        }
    }
    .p-h77{
        height: 77px;
    }
    .p-mt8{
        margin-top: 8px;
    }
}
.c-contact03{
    text-align: center;
    margin-top: 53px;
    .u-btn{
        width: 310px;
        margin-left: 45px;
        height: 50px;
        background-color: #0291aa;
        font-size: 15px;
        font-weight: bold;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
    }
    .u-btn:hover{
        background-color: #00798e;
    }
    i {
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 10px;
    }
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .p-h129{
        height: 129px;
    }
}