.u-sli-news{
    height: 277px;
    .u-img{
        margin-left: 39%;
        margin-top: 7%;
    }
}
/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-news-ct01, .c-news-ct02, .c-news-ct03{
    margin-top: 117px;
    transition: .8s;

    .c-news__tilte{
        font-size: 20px;
        color: #025995;
        font-weight: bold;
    }
    .c-news__date{
        overflow: hidden;
        margin-top: 10px;
        .u-img{
            float: left;
        }
        .u-yymmdd{
            float: left;
            font-size: 14px;
            color: #009fbb;
            font-weight: bold;
            margin-left: 12px;
            letter-spacing: 2px;
            margin-top: 5px;
        }
    }
    .c-news__cont{
        overflow: hidden;
        margin-top: 28px;
        .u-text{
            width: 592px;
            float: left;
            font-size: 14px;
            font-weight: 500;
        }
        .u-img{
            float: left;
            margin-left: 60px;
        }
        p{
            margin: 0 0 35px 0;
        }
    }
    .c-news__cont3{
        overflow: hidden;
        margin-top: 28px;
        .u-text{
            float: left;
            font-size: 14px;
            font-weight: 500;
            .u-text__2{
                margin-top: 28px;
            }
            .u-text__3{
                margin-top: 40px;
            }
        }
        p{
            margin: 0 0 35px 0;
        }
    }
    .u-line{
        margin-top: 8px;
        border-bottom: 1px solid #015294;
    }
}
.p-h132{
    height: 132px;
}
