.u-recslider{
    height: 277px;
    .u-img{
        margin-top: 7%;
        margin-left: 45%;
    }
}
.bg-recruit02{
    background-color: #f7f7f7;
    height: 816px;
}
.c-recruit01{
    height: 323px;
    margin-top: 114px;
    overflow: hidden;
    .c-recruit01__left{
        float: left;
        font-size: 14px;
        font-weight: 500;
        p{
            margin: 20px 0 20px 0;
        }
    }
    .c-recruit01__right{
        margin-top: 6px;
        margin-left: 66px;
        float: left;
    }
}
.c-recruit02{
    .u-table{
        margin-top: 34px;
        font-size: 14px;
        font-weight: 500;
        border-top: 1px solid #dddddd;
        .tab-a{
            width: 217px;
            background-color: #e7f5ff;
            color: #0361a7;
        }
        .tab-b{
            width: 863px;
            background-color: #ffffff;
        }
    }
    th, td{
        border-bottom: 1px solid #dddddd;
    }
    p{
        margin: 21px 0 21px 0;
        margin-left: 35px;
    }
    .p-h85{
        height: 85px;
    }

}
.c-recruit03{
    margin-top: 90px;
    .u-btn{
        width: 470px;
        height: 50px;
        background-color: #0291aa;
        color: white;
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
        border-radius: 4px;
        margin-top: 153px;
        margin-left: 40px;
        border: 2px solid #0291aa;
        cursor: pointer;
        .u-text{
            float: left;
            margin-top: 4px;
            margin-left: 141px;
        }
        .u-icon{
            float: left;
            margin-left: 16px;
            margin-top: -2px;
        }
        .u-hover{
            float: left;
            margin-left: 16px;
            margin-top: -2px;
            display: none;
        }

    }
    .u-btn:hover{
        background-color: #ffffff;
        color: #0291aa;
        .u-icon{
            display: none;
        }
        .u-hover{
            display: block;
        }
    }
    .p-h130{
        height: 130px;
    }
}