html{
    font-size: 62.5%;
}
ul, p{
    margin: 0;
    padding: 0;
}
body, table,
input, textarea, select, option,button,
h1, h2, h3, h4, h5, h6 {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}