/* DEFAULT CSS */
a{
  color: #0e5b9a;
}
body{
  margin: 0;
  border-top: 4px solid #0e5b9a;
  min-width: 950px;
}
/*STATIC LAYOUT CSS */
.header{
  width: 950px;
  margin: 0 auto;
}
.mainimage{
  width: 950px;
  height: 420px;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  margin-top: 4px;
}
.content-1{
  width: 950px;
  height: 320px;
  margin: 0 auto;
  font-weight: 500;
}
.content-2{
  width: 950px;
  margin: 0 auto;
  font-weight: 500;
}
.content-3{
  width: 950px;
  margin: 0 auto;
  font-weight: 500;
}
.footer{
  width: 950px;
  height: 358px;
  margin: 0 auto;
  font-weight: 500;
}
.ft-menu{
  width: 950px;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}
/* COMPONENTS CSS */
.namecop{
  font-weight: bold;
  width: 370px;
  font-size: 1.6rem;
  margin-left: 16px;
}
.hotline{
  margin-top: 6px;
  margin-left: 3px;
  padding: 12px;
  font-size: 1rem;
}
.email{
  padding: 12px;
  margin-top: 16px;
  color: #fd7e00;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 17px;
  background-color:  #ffed4d;
}
.email:hover{
  background-color: #fff283;
}
.me-jp{
  color: black;
  font-weight: 500;
  font-size: 1.4rem;
}
.me-eg{
  font-size: 1.2rem;
  font-weight: bold;
}
.logo{
  width: 42px;
  height: 77px;
  margin-left: 14px;
}
.name-logo{ 
  width: 208px;
  height: 77px;
  margin-left: 11px;
}
.toggle{
  display: none;
}
.wp-660{
  width: 680px;
  margin: 0 auto;
}
.disp-mob{
  display: none;
}
.news-b{
  margin-left: 58px;
  margin-top: 1px;
  font-size: 1.6rem;
}
.text-news{
  font-size: 1.2rem;
  font-weight: bold;
  color: #0f5c9b;
}
.p-ct-1{
  padding: 5px;
}
.size-sq{
  width: 220px;
  height: 226px;
  margin-left: 45px;
  position: relative;
  display: inline-block;
}
.size-sq .img-top{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 220px;
  height: 226px;
}
.size-sq:hover .img-top{
  display: inherit;
}
.size-h-sm{
  width: 66px;
  height: 55px;
  margin: 0 auto;
  margin-top: 45px;
}
.size-h-lg{
  width: 61px;
  height: 55px;
  margin: 0 auto;
}
.size-cop{
  width: 49px;
  height: 55px;
  margin: 0 auto;
  margin-top: 45px;
}
.ct2-title-jp{
  margin-left: 380px;
}
.ct2-title-eg{
  font-size: 1.14rem;
  color: #0f5c9b;
  font-weight: bold;
  text-align: center;
  margin-left: 16px;
  margin-top: 5px;
}
.ct2-description{
  font-size: 1.6rem;
  color: #555555;
  text-align: center;
  margin-left: 32px;
}
.ct2-text{
  font-size: 2rem;
  color: #0f5c9b;
  font-weight: bold;
}
.ct2-btn-text{
  font-size: 1.2rem;
  margin-left: 15px;
}
.ct3-btn-text{
  font-weight: bold;
  font-size: 1.6rem;
  margin-left: 15px;
}
.ct3-title{
  margin-top: 5px;
  margin-left: -2px;
}
.ct3-content{
  font-size: 1.6rem;
  color: #555555;
}
.ct3-b{
 margin-top: 51px;
 margin-left: 54px;

}
.ct3-a{
  height: 387px;
  margin-left: -27px;
  margin-top: -6px;
}
.ft-content{
  text-align: center;
  color: #ffffff;
}
.ft-title{
  margin-top: 3px;
}
.ft-text{
  font-size: 1.6rem;
  color: #dddddd; 
}
.ft-time{
  font-size: 1.2rem;
  color: #ffffff; 
}
.ft-email{
  font-weight: bold;
  font-size: 1.6rem;
  width: 296px;
  height: 50px;
  color: #fd7e00;
  margin-left: 55px;
  background-color: #ffed4d;
}
.ft-email:hover{
  background-color: #fff283;
}
.ft-maw-miw{
  max-width: 700px;
  min-width: 611px;
  margin: 0 auto;
}
#myBtn {
  width: 80px;
  height: 80px;
  display: none;
  position: fixed;
  bottom: 200px;
  right: 308px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  background-color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0f5c9b;
  text-align: center;
  border: 1px solid #dddddd;
}
.ft-maw-miw-1{
  max-width: 628px;
  min-width: 628px;
  margin: 0 auto;
}
.ft-maw-miw-2{
  max-width: 676px;
  min-width: 676px;
  margin: 0 auto;
}
.ft-logo{
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-top: 18px;
}
.pg-arr{
  width: 10px;
  margin: 0 auto;
}
.hidden{
  visibility: hidden;
}
.bg--sq{
  width: 208px;
  height: 214px;
  margin: 0 auto;
  background-color: beige;
}
.menu-mob {
  font-size: 3rem;
  overflow: hidden;
  background-color: #0f5c9b;
  position: absolute;
  width: 100%;

  z-index: 99;
}
.menu-mob #myLinks{
  display: none;
}
.menu-mob a{
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.active {
  background-color: #ffffff;
}
.ft-phone{
  margin-left: 81px;
}
.menu{
  overflow: hidden;
  .menu__img{
    float: left;
    margin-top: 15px;
  }
}

/* PUBLIC CSS */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.f-hirakakuprow6{
}
.f-meiryo{
}
.f-sans-serif{
}
.nav-link{
  text-decoration: none;
}
.navbar-nav{
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}
.nav-item{
  float: left;
}
.text-center{
  text-align: center;
}
.w-115{
  width: 115px;
}
.w-140{
  width: 140px;
}
.w-160{
  width: 160px;
}
.w-190{
  width: 190px;
}
.w-300{
  width: 300px;
}
.w-340{
  width: 340px;
}
.w-21{
  width: 21%;
}
.w-70{
  width: 70%;
}
.h-5{
  height: 5px;
}
.h-10{
  height: 10px;
}
.h-19{
  height: 19px;
}
.h-25{
  height: 25px;
}
.h-32{
  height: 32px;
}
.h-35{
  height: 35px;
}
.h-40{
  height: 40px;
}
.h-54{
  height: 54px;
}
.h-57{
  height: 57px;
}
.h-60{
  height: 60px;
}
.h-78{
  height: 78px;
}
.h-80{
  height: 80px;
}
.h-100{
  height: 100px;
}
.h-200{
  height: 200px;
}
#bg-ct-2{
  background-color: #eeeeee;
  min-width: 950px;
}
#bg-ft-menu{
  background-color: #cccccc;
}
.b-bottom{
  border-bottom: 4px solid #ffffff;
}
.b-bottom:hover{
  border-bottom: 4px solid #dddddd;
}
.b-right{
  border-right: 1px solid #dddddd;
}
.b-right-w{
  border-right: 1px solid #ffffff;
}
.b-box-f{
  border: 1px solid #ffffff;
  padding: 8px;
}
.b-box-d{
  border: 1px solid #dddddd;
}
.b-top-bot-d{
  border-top: 1px dotted #dddddd;
  border-bottom: 1px dotted #dddddd;
}
.b-left-ringht{
  border-right: 1px solid;
  border-left: 1px solid;
}
.c-white{
  color: white;
}
.c-black{
  color: black;
}
.c-blue{
  color: #0f5c9b;;
}
.c-light{
  color: #555555;
}
.c-yellow{
  color: #ffff4c;
}
.f-size-20{
  font-size: 2rem;
}
.f-size-12{
  font-size: 1.2rem;
}
.f-size-16{
  font-size: 1.6rem;
}
.f-size-19{
  font-size: 1.9rem;
}
.f-size-22{
  font-size: 2.2rem;
}
.f-size-28{
  font-size: 2.8rem;
}
.f-size-26{
  font-size: 2.6rem;
}
.mf-10{
  margin-left: 10px;
}
.mf-27{
  margin-left: 27px;
}
.mt-10{
  margin-top: 10px;
}
.mf-16{
  margin-left: 16px;
}
.mf-15{
  margin-left: 15px;
}
.mf-7{
  margin-left: 7px;
}
.mf-6{
  margin-left: 6px;
}
.mf-5{
  margin-left: 5px;
}
.mf-107{
  margin-left: 107px;
}
.mt-3{
  margin-top: 3px;
}
.mt-8{
  margin-top: 8px;
}
.mt-7{
  margin-top: 7px;
}
.mt-12{
  margin-top: 12px;
}
.mt-13{
  margin-top: 13px;
}
.mt-15{
  margin-top: 15px;
}
.mt-25{
  margin-top: 25px;
}
.mt-22{
  margin-top: 22px;
}
.mt-21{
  margin-top: -21px;
}
.mt-34{
  margin-top: 34px;
}
.mt-45{
  margin-top: 45px;
}
.pd-10{
  padding: 10px;
}
.pd-28{
  padding: 28px;
}
.h-15{
  height: 15px;
}
.bold{
  font-weight: bold;
}
.arrow-right{
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ffffff;
}
.arrow-top{
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #0f5c9b;
}
.btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-blue {
  color: #fff;
  background-color:#0f5c9b;
  border-color: #0f5c9b;
}
.btn-blue:hover {
  color: #fff;
  background-color: #578db9;
  border-color: #578db9;
}
.btn-df{
  padding: 0.20rem 0.4rem;
  width: 115px;
  height: 26px;
}
.btn-sm{
  padding: 0.20rem 0.4rem;
  width: 85px;
  height: 26px;
}
.btn-lg{
  padding: 0.4rem 0.8rem;
  width: 350px;
  height: 50px;
}
.pg-t-text{
  font-size: 1.2rem;
  font-weight: bold;
  color: #0f5c9b;
  text-align: center;
}
.imgf{
  width: 100%;
}
/* REPONSIVE CSS */
@media only screen and (max-width: 768px){
  /* for mobile phones */
  body{
    min-width: auto;
  }
  .header{
    width: 95%;
  }
  .mainimage{
    width: 95%;
    height: 210px;
    font-size: 1.9rem;
  }
  .content-1{
    width: 95%;
  }
  .content-2{
    width: 95%;
  }
  .content-3{
    width: 95%;
  }
  .footer{
    width: 95%;
    height: 348px;
  }
  .namecop{
    width: 140px;
    font-size: 0.9rem;
  }
  .hotline{
    display: none;
  }
  .email{
    display: none;
  }
  .menu{
    display: none;
  }
  .img-retina{
    width: 50%;
  }
  .logo{
    width: 21px;
    height: 39px;
    margin-left: 3px;
  }
  .name-logo{
    width: 121px;
    height: 38px;
    margin-left: 0px;
  }
  .namecop{
    margin-left: 5px;
  }
  .toggle{
    display: inherit;
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 10px;

    input[type="checkbox"]{
    width: 0;
    height: 0;
    margin: 0;
    border: 0 none;
    padding: 0;
    }
    input[type="checkbox"]:before {
      content: url('../img/toggle.png');
      display: block;
      width: 40px;
      height: 40px;
      margin-top: -11px;
      overflow: hidden;
    }
    input[type="checkbox"]:checked:before {
      content: url('../img/toggle-x.png');
    }
  }
  .btn-df{
    padding: 0.25rem 0.5rem;
    width: 130px;
    height: 30px;
  }
  .btn-lg{
    padding: 0.3rem 0.5rem;
    width: 275px;
    height: 40px;
  }
  .btn-sm{
    padding: 0.1rem 0.2rem;
    width: 42px;
    height: 13px;
  }
  .disp-web{
    display: none;
  }
  .disp-mob{
    display: inherit;
  }
  #bg-ct-2{
    min-width: 0;
  }
  .ct2-title-jp{
    width: 186px;
    height: 35px;
    margin: 0 auto;
  }
  .ct2-title-eg{
    font-size: 1.1rem;
    color: #0f5c9b;
    font-weight: bold;
  }
  .ct2-description{
    font-size: 1.4rem;
    color: #555555;
    margin-left: 0;
  }
  .size-sq{
    width: 90px;
    height: 92px;
    margin-left: 10px;
  }
  .size-sq .img-top{
    width: 90px;
    height: 92px;
  }
  .size-h-sm{
    width: 33px;
    height: 27px;
    margin: 0 auto;
    margin-top: 5px;
  }
  .size-h-lg{
    width: 30px;
    height: 27px;
    margin: 0 auto;
    margin-top: 5px;
  }
  .size-cop{
    width: 24px;
    height: 27px;
    margin: 0 auto;
    margin-top: 5px;
  }
  .ct2-text{
    font-size: 1rem;
    color: #0f5c9b;
    font-weight: bold;
  }
  .ct2-btn-text{
    font-size: 0.6rem;
    margin-left: 8px;
  }
  .arrow-right{
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #ffffff;
  }
  .ct2-maw-miw{
    max-width: 300px;
    min-width: 300px;
    margin: 0 auto;
  }
  .h-10{
    height: 5px;
  }
  .h-54{
    height: 40px;
  }
  .mt-3{
    margin-top: 1px;
  }
  .mt-7{
    margin-top: 4px;
  }
  .mt-13{
    margin-top: 6px;
  }
  .mf-107{
    margin-left: 10px;
  }
  .mf-7{
    margin-left: 3px;
  }
  .w-60{
    width: 60%;
  }
  .w-40{
    width: 40%;
  }
  .wp-660{
    width: 270px;

  }
  .h-15{
    height: 11px;
  }
  .h-40{
    height: 20px;
  }
  .f-size-12{
    font-size: 0.6rem;
  }
  .f-size-16{
    font-size: 0.8rem;
  }
  .f-size-26{
    font-size: 1.3rem;
  }
  .f-size-22{
    font-size: 1.1rem;
  }
  .f-size-28{
    font-size: 1.4rem;
  }
  .f-size-38{
    font-size: 1.9rem;
  }
  .ct3-b{
    margin-left: 0;
    margin-top: 0;
    text-align: center;
  }
  .ct3-title{
    width: 265px;
    height: 41px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .ct3-content{
    font-size: 1.4rem;
  }
  .ct3-btn-text{
    font-size: 1.3rem;
  }
  .ct3-maw-miw{
    max-width: 307px;
    min-width: 307px;
    margin:  0 auto;
  }
  .people-img{
    width: 246px;
    height: 193px;
  }
  .ct3-a{
    max-width: 246px;
    min-width: 246px;
    height: 194px;
    margin: 0 auto;
    margin-left: 0;
    margin-top: 0;
    
  }
  .ft-title{
    width: 290px;
    height: 35px;
    margin: 0 auto;
  }
  .ft-text{
    font-size: 1.4rem;
  }
  .ft-phone{
    width: 198px;
    height: 25px;
    margin: 0 auto;
  }
  .ft-time{
    font-size: 1rem;
  }
  .ft-email{
    font-size: 1.3rem;
    width: 250px;
    height: 40px;
    margin-left: 30px;
    margin: 0 auto;
  }
  .ft-em{
    width: 14px;
    height: 11px;
  }
  .ft-menu{
    width: 95%;
    font-size: 1rem;
  }
  .w-115{
    width: 70px;
  }
  .w-160{
    width: 130px;
  }
  .w-340{
    width: 250px;
  }
  .w-190{
    width: 110px;
  }
  .w-140{
    width: 110px;
  }
  .h-80{
    height: 40px;
  }
  .mb-auto{
    margin: 0 auto;
  }
  .ft-maw-miw-1{
    max-width: 285px;
    min-width: 285px;
    margin: 0 auto;
  }
  .ft-maw-miw-2{
    max-width: 250px;
    min-width: 250px;
    margin: 0 auto;
  }
  .menu-mod-ct{
    width: 90%;
    margin: 0 auto;
  }
}
