@charset "UTF-8";
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body{
	min-width: 1050px;
}
@media only screen and (max-width: 786px){
	body{
		min-width: 320px;
	}
}