@charset "UTF-8";
/*------------------------------------------------------------
	background
------------------------------------------------------------*/
#bg-dexslide {
  background-image: url("../img/dex-bg-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#bg-dexadvantage {
  background-image: url("../img/dex-bg-slide2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 561px;
}

#bg-dexequiment {
  background-color: #e9eff2;
}

#bg-ftmenu {
  background-color: #4471c6;
}

#bg-comslide {
  background-image: url("../img/com-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

#bg-busslide {
  background-image: url("../img/bus-slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

#bg-eqslide {
  background-image: url("../img/eq-slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

#bg-adslide {
  background-image: url("../img/ad-slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

#bg-reslide {
  background-image: url("../img/re-slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

#bg-coslide {
  background-image: url("../img/co-slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-menu .c-banner-top {
  padding: 27px 0 25px 0;
  overflow: hidden;
}

.c-menu .c-banner-top .u-logo {
  float: left;
}

.c-menu .c-banner-top .u-phone {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.c-menu .c-banner-top .u-email {
  float: right;
}

.c-menu .c-banner-top .u-email a:link {
  width: 230px;
  padding: 16px 0 16px 0;
  background-color: #4471c6;
  display: inline-block;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.c-menu .c-banner-top .u-email a:hover {
  opacity: 0.6;
}

.c-menu .menuPC ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-menu .menuPC li {
  width: 25%;
  height: 70px;
}

.c-menu .menuPC li:hover {
  background-color: #4471c6;
}

.c-menu .menuPC li:hover a {
  border: none;
}

.c-menu .menuPC a {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10px 0 10px 0;
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #ddd;
}

.c-menu .menuPC a:first-child {
  border-left: 1px solid #ddd;
}

.c-menu hr {
  border: 0.5px solid #ccc;
  margin: 0;
  padding: 0;
}

.c-box1 {
  width: 409px;
  padding: 37px 37px 42px 37px;
  background-color: #4870b1bf;
  text-align: center;
  margin-top: 148px;
  display: inline-block;
}

.c-box1 img {
  padding-bottom: 16px;
  margin-top: 15px;
}

.c-box1 p {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  line-height: 22px;
}

.c-box2 {
  margin-top: 153px;
}

.c-box2 table {
  width: 100%;
  background-color: #e9eff2;
}

.c-box2 table td {
  padding: 20px 15px 15px 0px;
  font-size: 1.4rem;
}

.c-box2 table td:first-child {
  width: 70px;
  padding: 20px 15px 15px 20px;
}

.c-box2 table td:first-child p {
  border-right: 1px solid #2e4d88;
}

.c-dexlistcard {
  overflow: hidden;
  margin-top: 82px;
  padding-bottom: 60px;
}

.c-dexlistcard .card {
  float: left;
  width: 313px;
  height: 281px;
  background-color: #4471c6;
  margin-left: 30px;
}

.c-dexlistcard .card .image {
  max-width: 313px;
  max-height: 195px;
}

.c-dexlistcard .card .title {
  width: 144px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.c-dexlistcard .card:first-child {
  margin-left: 0;
}

.c-dexlistcard a:hover {
  opacity: 0.6;
}

.c-advan {
  width: 533px;
  height: 441px;
  background-color: #fff;
  display: inline-block;
  float: right;
  margin-top: 60px;
}

.c-advan .u-title {
  width: 245px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 50px;
}

.c-advan .u-text {
  width: 419px;
  margin: 0 auto;
  padding-bottom: 21px;
  text-align: center;
}

.c-advan .u-text a, .c-advan .u-text p {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 23px;
}

.c-advan .u-text a {
  color: #4471c6;
}

.c-advan .u-link {
  width: 230px;
  margin: 0 auto;
}

.c-advan .u-link .for-web {
  width: 134px;
  margin: 0 auto;
  margin-right: 20px;
}

.c-advan .u-link a {
  width: 230px;
  padding: 16px 0 16px 0;
  background-color: #4471c6;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
}

.c-advan .u-link a:hover {
  opacity: 0.6;
}

.c-equipment .u-title {
  padding: 62px 0 10px 0;
  width: 190px;
  margin: 0 auto;
}

.c-equipment .u-listcard {
  overflow: hidden;
}

.c-equipment .u-listcard .card {
  float: left;
  width: 228px;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 29px;
}

.c-equipment .u-listcard .card p {
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.c-equipment .u-listcard .card:first-child {
  margin-left: 0;
}

.c-equipment .u-text {
  padding: 25px 0 10px 0;
}

.c-equipment .u-text p {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
}

.c-equipment .u-link {
  width: 230px;
  margin: 0 auto;
  padding: 14px 0 56px 0;
}

.c-equipment .u-link .for-web {
  width: 128px;
  margin: 0 auto;
  margin-right: 20px;
}

.c-equipment .u-link a {
  width: 230px;
  padding: 16px 0 16px 0;
  background-color: #4471c6;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
}

.c-equipment .u-link a:hover {
  opacity: 0.6;
}

.c-ftinfo .u-title {
  width: 447px;
  margin: 0 auto;
  padding: 62px 0 0 0;
}

.c-ftinfo .u-title img {
  padding-bottom: 10px;
}

.c-ftinfo .u-text {
  padding-bottom: 30px;
}

.c-ftinfo .u-text p {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
  letter-spacing: 1px;
}

.c-ftinfo .u-phone {
  padding: 10px 0 30px 0;
  width: 515px;
  margin: 0 auto;
}

.c-ftinfo .u-phone h3 {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 12px;
  text-align: center;
}

.c-ftinfo .u-phone--default {
  padding: 10px 0 60px 0;
}

.c-map {
  margin-top: 30px;
}

.c-ftmenu {
  padding: 30px 0 10px 0;
}

.c-ftmenu ul {
  width: 595px;
  margin: 0 auto;
  display: -webkit-box;
  padding-bottom: 20px;
}

.c-ftmenu li {
  border-left: 1px solid #ddd;
}

.c-ftmenu a {
  padding: 0 12px 0 12px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.c-ftmenu p {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.c-ftmenu .icons {
  display: none;
}

.c-ftmenu--default {
  padding: 30px 0 24px 0;
}

.c-comtitle {
  width: 184px;
  margin: 0 auto;
  padding-top: 93px;
}

.c-combackhome {
  margin-top: 30px;
}

.c-combackhome a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #4471c6;
}

.c-combackhome a span {
  color: #000;
}

.c-comct1 {
  padding: 20px 0 20px 0;
}

.c-comct1 .u-title {
  width: 66px;
  margin: 0 auto;
  margin-top: 38px;
  padding-bottom: 27px;
}

.c-comct1 p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
}

.c-comct1 .c-listlogo {
  padding: 20px 0 30px 0;
}

.c-comct1 .c-listlogo .for-web {
  overflow: hidden;
}

.c-comct1 .c-listlogo .for-web img {
  float: left;
  margin-left: 29px;
}

.c-comct1 .c-listlogo .for-web img:first-child {
  margin-left: 0;
}

.c-comct1 h6 {
  display: none;
}

.c-comct2 {
  margin-top: 73px;
}

.c-comct2 .u-title {
  width: 93px;
  height: 39px;
  margin: 0 auto;
  padding: 20px 0 30px 0;
}

.c-comct2 .u-table table {
  border-collapse: collapse;
  width: 100%;
}

.c-comct2 .u-table td:first-child {
  background-color: #f6f6f6;
  width: 233px;
}

.c-comct2 .u-table td {
  padding: 15px 0 15px 16px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 23px;
  border: 1px solid #ccc;
}

.c-comct3 {
  margin-top: 92px;
}

.c-comct3 .u-title {
  width: 89px;
  height: 36px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.c-comct3 .c-map {
  padding-bottom: 27px;
}

.c-comct3 p:before {
  content: url("../img/local.png");
  margin-right: 0.5em;
}

.c-comct3 p {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
}

.c-comct4 {
  margin-top: 95px;
}

.c-comct4 .u-title {
  width: 91px;
  height: 38px;
  margin: 0 auto;
  padding: 20px 0 30px 0;
}

.c-comct4 .u-table table {
  border-collapse: collapse;
  width: 100%;
}

.c-comct4 .u-table td:first-child {
  background-color: #f6f6f6;
  width: 233px;
}

.c-comct4 .u-table td {
  padding: 15px 0 15px 16px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 23px;
  border: 1px solid #ccc;
}

.c-comct5 {
  margin-top: 116px;
}

.c-comct5 .u-title {
  width: 93px;
  height: 39px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.c-comct5 .c-comlist {
  overflow: hidden;
}

.c-comct5 .c-comlist .list:first-child {
  margin-left: 0;
}

.c-comct5 .c-comlist .list {
  float: left;
  width: 313px;
  margin-left: 20px;
}

.c-comct5 .c-comlist h6 {
  font-size: 1.8rem;
  font-weight: 500;
}

.c-comct5 .c-comlist p:first-child {
  padding-top: 16px;
}

.c-comct5 .c-comlist p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 22px;
  text-align: justify;
  margin-left: 16px;
}

.c-comct5 .c-comlist h6:before {
  content: url("../img/arc.png");
  margin-right: 0.2em;
}

.c-comct5 .c-comlist .listtext {
  width: 313px;
  height: 449px;
  background-color: #e9eff2;
  margin-top: 10px;
}

.c-comct5 .u-link {
  margin-top: 58px;
  text-align: center;
  padding-bottom: 58px;
}

.c-comct5 .u-link p {
  font-size: 1.4rem;
  font-weight: 500;
}

.c-comct5 .u-link a {
  width: 230px;
  padding: 16px 0 16px 0;
  background-color: #4471c6;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  margin-top: 30px;
}

.c-comct5 .u-link a p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 5em;
}

.c-comct5 .u-link a p:after {
  content: url("../img/icon-arow-right.png");
  margin-left: 3em;
}

.c-comct5 .u-link a:hover {
  opacity: 0.6;
}

.c-bustitle {
  width: 165px;
  height: 53px;
  margin: 0 auto;
  padding-top: 93px;
}

.c-bus-btnselect {
  margin-top: 58px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-bus-btnselect .repon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-bus-btnselect a:first-child {
  border: none;
  padding-left: 0;
  margin: 20px 16px 20px 0;
}

.c-bus-btnselect a {
  margin: 20px 16px 20px 0;
  padding-left: 16px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #4471c6;
  border-left: 1px solid #ccc;
  text-decoration: none;
}

.c-bus-btnselect a:after {
  content: url("../img/bus-icon-agd.png");
  margin-left: 3px;
}

.c-buscontent, .c-buscontent2 {
  margin-top: 64px;
}

.c-buscontent .u-title .image, .c-buscontent2 .u-title .image {
  width: 227px;
  height: 38px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.c-buscontent .u-title h4, .c-buscontent2 .u-title h4 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.c-buscontent .c-content, .c-buscontent2 .c-content {
  margin-top: 58px;
  padding-bottom: 60px;
}

.c-buscontent .c-content .media-1, .c-buscontent2 .c-content .media-1 {
  overflow: hidden;
}

.c-buscontent .c-content .media-1 .u-left, .c-buscontent2 .c-content .media-1 .u-left {
  float: left;
  width: 445px;
}

.c-buscontent .c-content .media-1 .u-left h4, .c-buscontent2 .c-content .media-1 .u-left h4 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.c-buscontent .c-content .media-1 .u-left h4:before, .c-buscontent2 .c-content .media-1 .u-left h4:before {
  content: url("../img/arc.png");
  margin-right: 3px;
}

.c-buscontent .c-content .media-1 .u-left h3, .c-buscontent2 .c-content .media-1 .u-left h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4471c6;
  margin-top: 22px;
}

.c-buscontent .c-content .media-1 .u-left hr, .c-buscontent2 .c-content .media-1 .u-left hr {
  border: 0.5px solid #4471c6;
}

.c-buscontent .c-content .media-1 .u-left ul, .c-buscontent2 .c-content .media-1 .u-left ul {
  margin-top: 10px;
}

.c-buscontent .c-content .media-1 .u-left p, .c-buscontent .c-content .media-1 .u-left li, .c-buscontent2 .c-content .media-1 .u-left p, .c-buscontent2 .c-content .media-1 .u-left li {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: justify;
  line-height: 22px;
}

.c-buscontent .c-content .media-1 .u-left li, .c-buscontent2 .c-content .media-1 .u-left li {
  margin-left: 1em;
}

.c-buscontent .c-content .media-1 .u-left li:before, .c-buscontent2 .c-content .media-1 .u-left li:before {
  content: "⬤";
  font-size: 1rem;
  color: #4471c6;
  margin-left: -1em;
  margin-right: 5px;
}

.c-buscontent .c-content .media-1 .u-right, .c-buscontent2 .c-content .media-1 .u-right {
  float: right;
  margin-top: 46px;
}

.c-buscontent .c-content .media-2, .c-buscontent2 .c-content .media-2 {
  margin-top: 27px;
  display: -webkit-box;
}

.c-buscontent .c-content .media-2 .text-box:first-child, .c-buscontent2 .c-content .media-2 .text-box:first-child {
  margin-left: 0;
}

.c-buscontent .c-content .media-2 .text-box, .c-buscontent2 .c-content .media-2 .text-box {
  overflow: hidden;
  width: 226px;
  height: 80px;
  margin-left: 29px;
  border: 1px solid #4471c6;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-buscontent .c-content .media-2 .text-box .image, .c-buscontent2 .c-content .media-2 .text-box .image {
  float: left;
  width: 27px;
  height: 40px;
  margin-right: 5px;
}

.c-buscontent .c-content .media-2 .text-box p, .c-buscontent2 .c-content .media-2 .text-box p {
  float: left;
  width: 180px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 22px;
}

.c-buscontent2 {
  margin-top: 66px;
}

.c-buscontent2 .u-title .image {
  padding-bottom: 13px;
}

.c-buscontent2 .c-content {
  padding-bottom: 35px;
}

.c-buscontent2 .c-content:last-child {
  margin-bottom: 24px;
}

.light-bot {
  border-bottom: 1px solid #ccc;
}

.c-eqtitle {
  width: 221px;
  height: 53px;
  margin: 0 auto;
  padding-top: 93px;
}

.c-list-eqmedia {
  margin-top: 60px;
  padding-bottom: 61px;
}

.c-list-eqmedia .u-title {
  padding-bottom: 27px;
}

.c-list-eqmedia .u-title h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.c-list-eqmedia .u-title h4::before {
  content: url("../img/arc.png");
  margin-right: 5px;
}

.c-list-eqmedia .u-list {
  overflow: hidden;
}

.c-list-eqmedia .u-list .media:first-child {
  margin-left: 0;
}

.c-list-eqmedia .u-list .media {
  width: 485px;
  float: left;
  margin-left: 28px;
}

.c-list-eqmedia .u-list .media img {
  padding-bottom: 17px;
}

.c-list-eqmedia .u-list .media h6 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 1.2em;
}

.c-list-eqmedia .u-list .media h6:before {
  content: "•";
  color: #4471c6;
  font-size: 2rem;
  margin-left: -1em;
  margin-right: 5px;
}

.c-list-eqmedia .u-list .media p {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: justify;
  line-height: 20px;
}

.c-adtitle {
  width: 230px;
  height: 53px;
  margin: 0 auto;
  padding-top: 93px;
}

.c-adcont1 {
  margin-top: 58px;
}

.c-adcont1 .u-title {
  width: 493px;
  height: 39px;
  margin: 0 auto;
}

.c-adcont1 .u-listlogo {
  overflow: hidden;
}

.c-adcont1 .u-listlogo img {
  float: left;
  margin-left: 28px;
  margin-top: 30px;
}

.c-adcont1 .u-listlogo img:first-child {
  margin-left: 0;
}

.c-adcont2 {
  margin-top: 115px;
}

.c-adcont2 .u-title {
  width: 115px;
  height: 39px;
  margin: 0 auto;
}

.c-adcont2 .media {
  overflow: hidden;
  margin-top: 29px;
  padding-bottom: 90px;
}

.c-adcont2 .media .u-left {
  float: left;
  width: 447px;
}

.c-adcont2 .media .u-left h4 {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.c-adcont2 .media .u-left h4:before {
  content: url("../img/arc.png");
  margin-right: 3px;
}

.c-adcont2 .media .u-left p {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: justify;
  line-height: 22px;
}

.c-adcont2 .media .u-right {
  float: right;
}

.c-adcont2 .media:last-child {
  padding-bottom: 76px;
}

.c-retitle {
  width: 159px;
  height: 53px;
  margin: 0 auto;
  padding-top: 93px;
}

.c-recont1 {
  margin-top: 58px;
}

.c-recont1 .u-title {
  width: 493px;
  height: 39px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.c-recont1 .u-text {
  padding: 13px 0 13px 0;
}

.c-recont1 .u-text p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
}

.c-recont2 {
  margin-top: 115px;
}

.c-recont2 table {
  border-collapse: collapse;
  width: 100%;
}

.c-recont2 table td {
  border: 1px solid #ccc;
  padding: 16px 0 16px 16px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 21px;
}

.c-recont2 table td:first-child {
  width: 230px;
  background-color: #f6f6f6;
}

.c-recont2 .u-btnlink {
  width: 230px;
  margin: 0 auto;
  margin-top: 27px;
}

.c-recont2 .u-btnlink a {
  width: 230px;
  padding: 16px 0 16px 0;
  background-color: #4471c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border-radius: 4px;
}

.c-recont2 .u-btnlink p {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  margin-left: 3em;
}

.c-recont2 .u-btnlink p:after {
  content: url("../img/icon-arow-right.png");
  margin-left: 16px;
}

.c-recont2 .u-btnlink a:hover {
  opacity: 0.6;
}

.c-recont3 {
  margin-top: 116px;
  padding-bottom: 57px;
}

.c-recont3 .u-title {
  width: 139px;
  height: 38px;
  margin: 0 auto;
  padding-bottom: 26px;
}

.c-recont3 p {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
  letter-spacing: 1px;
}

.c-recont3 .u-phone {
  width: 654px;
  height: 31px;
  margin: 0 auto;
  padding: 23px 0 19px 0;
}

.c-recont3 a {
  width: 214px;
  margin: 0 auto;
  padding: 14px 0 14px 16px;
  background-color: #4471c6;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
  text-decoration: none;
}

.c-recont3 a p {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  margin-left: 0.3em;
}

.c-recont3 a p:before {
  content: url("../img/re-mail.png");
  margin-right: 5px;
}

.c-recont3 a:hover {
  opacity: 0.6;
}

.c-cotitle {
  width: 139px;
  height: 39px;
  margin: 0 auto;
  padding-top: 93px;
}

.c-cocont1 {
  margin-top: 60px;
}

.c-cocont1 .u-title {
  width: 139px;
  height: 39px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.c-cocont1 .u-text {
  padding: 15px 0 15px 0;
}

.c-cocont1 .u-text p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.pindicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42rem;
  margin: 57px auto 0;
}

.pindicator .bullet {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.pindicator .bullet::before,
.pindicator .bullet::after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  top: 15px;
  -webkit-transform: translate3d(0, 0, -1px);
          transform: translate3d(0, 0, -1px);
}

.pindicator .bullet::before {
  background-color: #bdbdbd;
  width: 75%;
  left: 87px;
}

.pindicator .bullet::after {
  background-color: #4471c6;
  -webkit-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
  opacity: 0;
  width: 75%;
  right: 87px;
}

.pindicator .bullet:first-child::after {
  width: 0%;
}

.pindicator .bullet:last-child::before {
  width: 0%;
}

.pindicator .icon {
  background: none;
  border-radius: 100%;
  border: 1px solid #bdbdbd;
  cursor: pointer;
  font-size: 1.8rem;
  display: inline-block;
  height: 34px;
  width: 34px;
  line-height: 34px;
  text-align: center;
  -webkit-transition: background-color .25s ease-out;
  transition: background-color .25s ease-out;
  color: #bdbdbd;
}

.pindicator .text {
  color: #bdbdbd;
  font-size: 1.9rem;
  margin-top: 1rem;
  text-transform: uppercase;
  -webkit-transition: background-color .25s ease-out;
  transition: background-color .25s ease-out;
}

.pindicator .past .icon, .pindicator .current .icon {
  background: none;
  color: #4471c6;
  border: 1px solid #4471c6;
}

.pindicator .past::after, .pindicator .current::after {
  opacity: 1;
}

.pindicator .past .text, .pindicator .current .text {
  color: #4471c6;
}

.c-table {
  margin-top: 28px;
  margin-bottom: 57px;
}

.c-table table {
  border-collapse: collapse;
  width: 100%;
}

.c-table table td {
  padding: 16px 16px 16px 18px;
  border: 1px solid #ccc;
}

.c-table table td:first-child {
  width: 215px;
  overflow: hidden;
}

.c-table table td:first-child p {
  display: inline-block;
  line-height: 16px;
}

.c-table table p {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.c-table table .text-btn {
  float: right;
  background-color: #e13939;
  padding: 1px 4px 1px 4px;
  color: #fff;
}

.c-table table .text-btn--default {
  background-color: #999999;
}

.c-table table .text-red {
  color: #e13939;
}

.c-table table input {
  padding: 6px 0 6px 8px;
  border: 1px solid #ccc;
  display: block;
}

.c-table table .lg {
  width: 408px;
  margin-top: 10px;
}

.c-table table .lg--t0 {
  margin-top: 0;
}

.c-table table .sm {
  width: 150px;
  margin-bottom: 10px;
}

.c-table table .color1 {
  background-color: #fbe1e2;
}

.c-table table select {
  width: 150px;
  padding: 4px 0 4px 6px;
  font-size: 1.3rem;
  color: #999;
}

.c-table table textarea {
  resize: none;
}

.c-table .c-btn-link {
  width: 230px;
  margin: 36px auto 0;
}

.c-table .c-btn-link a {
  width: 230px;
  padding: 16px 0 16px 0;
  background-color: #4471c6;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-table .c-btn-link p {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 4.5em;
  letter-spacing: 1px;
}

.c-table .c-btn-link p:after {
  content: url("../img/icon-arow-right.png");
  margin-left: 2em;
}

.c-table .c-btn-link a:hover {
  opacity: 0.6;
}

/*------------------------------------------------------------
	For mobile
------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  #bg-dexslide {
    background-image: url("../img/mob-slide.jpg");
    background-size: 100%;
    height: auto;
  }
  #bg-dexadvantage {
    background-image: url("../img/mob-bg-slide2.jpg");
    background-size: 100%;
    height: auto;
  }
  #bg-ftmenu {
    background-color: #fff;
  }
  #bg-comslide {
    background-image: url("../img/mob-comsilde.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
  }
  #bg-comequislide {
    background-image: url("../img/mob-comsilde2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
  }
  #bg-comadvanslide {
    background-image: url("../img/mob-comsilde3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
  }
  #bg-comreslide {
    background-image: url("../img/mob-comsilde4.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
  }
  #bg-comcontslide {
    background-image: url("../img/mob-comsilde5.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
  }
  #bg-busslide {
    background-image: url("../img/mob-busslide1.jpg");
    background-size: 100%;
    height: auto;
  }
  .p-h97 {
    height: 97px;
  }
  .c-menu {
    -webkit-transition: 600ms ease;
    transition: 600ms ease;
    background: transparent;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #fff;
  }
  .c-menu .c-banner-top {
    padding: 10px 0 10px 0;
  }
  .c-menu .c-banner-top .u-logo p {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .c-menu .menu-navi {
    overflow: hidden;
    padding: 10px 0 10px 0;
  }
  .c-menu .menu-navi .c-logo {
    width: 213px;
    height: 14px;
    float: left;
    margin-top: 16px;
  }
  .c-menu .menu-navi .c-menuSP {
    width: 25px;
    height: 25px;
    float: right;
    background-color: #4471c6;
    padding: 10px;
    border-radius: 4px;
  }
  .c-menu .menu-navi .c-menuSP__1, .c-menu .menu-navi .c-menuSP__2, .c-menu .menu-navi .c-menuSP__3 {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 5px auto;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .c-menu .menu-navi .is-open .c-menuSP__1 {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
    transform: rotate(45deg) translate(4px, 4px);
    background: #fff !important;
  }
  .c-menu .menu-navi .is-open .c-menuSP__2 {
    opacity: 0;
  }
  .c-menu .menu-navi .is-open .c-menuSP__3 {
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
    transform: rotate(-45deg) translate(6px, -6px);
    background: #fff !important;
  }
  .c-menu .menu-navi .c-menulistSP {
    position: fixed;
    top: 107px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #4471c6e3;
    overflow-y: auto;
  }
  .c-menu .menu-navi .c-menulistSP ul {
    height: 100vh;
  }
  .c-menu .menu-navi .c-menulistSP ul li {
    width: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
  }
  .c-menu .menu-navi .c-menulistSP ul a {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    padding: 20px 10px 20px 10px;
    display: inline-block;
  }
  .c-menu .menu-navi .c-menulistSP ul img {
    float: right;
    width: 14px;
    height: 14px;
    margin-right: 20px;
  }
  .c-menu .menu-navi .c-menulistSP ul .btn-phone, .c-menu .menu-navi .c-menulistSP ul .btn-mailbox {
    width: 96%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
  }
  .c-menu .menu-navi .c-menulistSP ul .btn-phone a, .c-menu .menu-navi .c-menulistSP ul .btn-mailbox a {
    background-color: #fff;
    padding: 16px 10px 16px 10px;
  }
  .c-menu .menu-navi .c-menulistSP ul .btn-phone img, .c-menu .menu-navi .c-menulistSP ul .btn-mailbox img {
    float: none;
    width: 164px;
    height: 42px;
  }
  .c-menu .menu-navi .c-menulistSP ul .btn-mailbox img {
    width: 183px;
    height: 15px;
  }
  .c-topcontent .c-box1 {
    width: 100%;
    padding: 0;
    background-color: #4471c6;
    margin-top: 500px;
  }
  .c-topcontent .c-box1 .for-mob {
    width: 235px;
    height: 44px;
    margin: 0 auto;
    padding: 20px 0 10px 0;
  }
  .c-topcontent .c-box1 .for-mob img {
    padding-bottom: 0;
    margin-top: 0;
  }
  .c-topcontent .c-box1 p {
    padding: 0 30px 10px 30px;
    text-align: justify;
  }
  .c-topcontent .c-box2 {
    margin-top: 0px;
  }
  .c-topcontent .c-box2 table {
    background: none;
  }
  .c-topcontent .c-box2 table td {
    text-align: justify;
  }
  .c-topcontent .c-box2 table td:first-child {
    display: none;
  }
  .c-dexlistcard {
    overflow: hidden;
    margin-top: 0;
    text-align: center;
  }
  .c-dexlistcard .card {
    float: none;
    width: 290px;
    height: auto;
    margin-left: 0;
    margin-top: 20px;
    display: inline-block;
  }
  .c-dexlistcard .card .image {
    max-width: 290px;
    max-height: 180px;
    width: 290px;
    height: 180px;
  }
  .c-dexlistcard .card .title {
    width: 98px;
    margin: 0 auto;
    padding: 15px 0 15px 0;
  }
  .c-advan {
    width: 100%;
    height: auto;
    float: none;
    margin-top: 350px;
  }
  .c-advan .u-title {
    width: 177px;
    height: 84px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .c-advan .u-text {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
  }
  .c-advan .u-text a, .c-advan .u-text p {
    font-size: 1.4rem;
  }
  .c-advan .u-link {
    width: 100%;
    padding-bottom: 20px;
  }
  .c-advan .u-link a {
    width: 100%;
    padding: 16px 0 16px 0;
  }
  .c-advan .u-link .for-mob {
    width: 68px;
    height: 13px;
    margin: 0 auto;
  }
  .c-equipment .u-title {
    padding: 20px 0 10px 0;
    width: 131px;
    margin: 0 auto;
  }
  .c-equipment .u-listcard {
    overflow: hidden;
    text-align: center;
  }
  .c-equipment .u-listcard .card {
    float: none;
    width: 290px;
    margin-top: 16px;
    margin-left: 0;
    display: inline-block;
  }
  .c-equipment .u-listcard .card p {
    padding: 16px 0 16px 0;
    font-size: 1.4rem;
  }
  .c-equipment .u-text {
    padding: 10px 0 10px 0;
  }
  .c-equipment .u-text p {
    font-size: 1.4rem;
  }
  .c-equipment .u-link {
    width: 290px;
    padding: 10px 0 20px 0;
  }
  .c-equipment .u-link a {
    width: 290px;
    padding: 12px 0 12px 0;
  }
  .c-equipment .u-link .for-mob {
    width: 157px;
    margin: 0 auto;
    margin-right: 20px;
  }
  .c-ftinfo .u-title {
    width: 223px;
    padding-top: 40px;
  }
  .c-ftinfo .u-text {
    padding-bottom: 20px;
  }
  .c-ftinfo .u-text p {
    font-size: 1.3rem;
  }
  .c-ftinfo .u-phone {
    padding: 10px 0 20px 0;
    width: 290px;
    margin: 0 auto;
  }
  .c-ftinfo .u-phone h3 {
    font-size: 1.4rem;
  }
  .c-ftinfo .u-phone a {
    width: 290px;
    display: inline-block;
    background-color: #4471c6;
    padding: 20px 0 20px 0;
  }
  .c-ftinfo .u-phone a .for-mob {
    width: 195px;
    margin: 0 auto;
    margin-right: 20px;
  }
  .c-ftinfo .u-phone .for-mob {
    width: 136px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .c-ftinfo .c-map {
    width: 100%;
    height: 500px;
  }
  .c-ftmenu {
    padding: 0;
  }
  .c-ftmenu ul {
    width: 100%;
    padding-bottom: 0;
    display: inline-block;
    background-color: #fff;
  }
  .c-ftmenu ul:first-child {
    border-top: 3px solid #4471c6;
  }
  .c-ftmenu li {
    width: 49%;
    float: left;
    border-bottom: 1px solid #ddd;
  }
  .c-ftmenu a {
    padding: 20px 0 20px 10px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .c-ftmenu .empty {
    padding: 28px 0 27px 0;
  }
  .c-ftmenu .icons {
    display: block;
    width: 14px;
    float: right;
    position: relative;
    margin-top: -35px;
    margin-right: 10px;
  }
  .c-ftmenu .for-mob {
    width: 15px;
    margin: 0 auto;
  }
  .c-ftmenu p {
    background-color: #4471c6;
    padding: 10px 0 10px 0;
  }
  .c-comtitle {
    width: 108px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .c-comct1 {
    padding: 20px 0 20px 0;
  }
  .c-comct1 .u-title {
    width: 52px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .c-comct1 p {
    display: none;
  }
  .c-comct1 .c-listlogo {
    padding: 0px 0 30px 0;
  }
  .c-comct1 .c-listlogo .for-mob {
    overflow: hidden;
    text-align: center;
  }
  .c-comct1 .c-listlogo .for-mob .logo {
    width: 135px;
    height: 135px;
    float: none;
    margin-left: 10px;
    margin-top: 30px;
    display: inline-block;
  }
  .c-comct1 .c-listlogo .for-mob .logo:first-child {
    margin-left: 0;
  }
  .c-comct1 h6 {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    color: red;
    line-height: 23px;
  }
  .c-comct2 {
    margin-top: 0px;
  }
  .c-comct2 .u-title {
    width: 73px;
    height: 33px;
    padding: 0;
  }
  .c-comct3 {
    margin-top: 20px;
  }
  .c-comct3 .u-title {
    width: 73px;
    height: 33px;
    padding: 0;
  }
  .c-comct4 {
    margin-top: 20px;
  }
  .c-comct4 .u-title {
    width: 72px;
    height: 33px;
    padding: 0;
  }
  .c-comct5 {
    margin-top: 20px;
  }
  .c-comct5 .u-title {
    width: 74px;
    height: 32px;
    padding-bottom: 10px;
  }
  .c-btn-radio {
    margin-top: 10px;
  }
  .c-btn-radio .btn {
    overflow: hidden;
    padding: 10px 0 10px 0;
  }
  .c-btn-radio .btn img {
    float: left;
    width: 12px;
    height: 12px;
    margin-top: 2px;
  }
  .c-btn-radio .btn p {
    margin-left: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    float: left;
  }
  .c-hr {
    padding: 20px 0 20px 0;
  }
  .c-comequi {
    width: 131px;
    height: 36px;
    margin: 0 auto;
    padding: 57px 0 57px 0;
  }
  .c-comre {
    width: 144px;
    height: 36px;
    margin: 0 auto;
    padding: 57px 0 57px 0;
  }
  .c-comadvan {
    width: 135px;
    height: 36px;
    margin: 0 auto;
    padding: 57px 0 57px 0;
  }
  .u-comadvantitle .title1 {
    width: 260px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .u-comadvantitle .title2 {
    width: 91px;
    height: 34px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .u-comretitle .title1 {
    width: 211px;
    height: 61px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .u-comretitle .title2 {
    width: 111px;
    height: 34px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .c-comcont {
    width: 107px;
    height: 36px;
    margin: 0 auto;
    padding: 57px 0 57px 0;
  }
  .u-comconttitle .title1 {
    width: 111px;
    height: 34px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .c-bustitle {
    width: 99px;
    height: 35px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .c-bus-btnselect {
    margin-top: 20px;
  }
  .c-bus-btnselect .repon {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .c-bus-btnselect a:first-child {
    margin: 16px 12px 16px 0;
    padding-left: 0;
  }
  .c-bus-btnselect a {
    margin: 16px 12px 16px 0;
    padding-left: 12px;
  }
  .c-buscontent, .c-buscontent2 {
    margin-top: 40px;
  }
  .c-buscontent .u-title .image, .c-buscontent2 .u-title .image {
    width: 169px;
    height: 32px;
    padding-bottom: 10px;
  }
  .c-buscontent .u-title h4, .c-buscontent2 .u-title h4 {
    font-size: 1.6rem;
  }
  .c-buscontent .c-content, .c-buscontent2 .c-content {
    margin-top: 30px;
    padding-bottom: 0px;
  }
  .c-buscontent .c-content .media-1, .c-buscontent2 .c-content .media-1 {
    overflow: hidden;
  }
  .c-buscontent .c-content .media-1 .u-left, .c-buscontent2 .c-content .media-1 .u-left {
    float: none;
    width: 100%;
  }
  .c-buscontent .c-content .media-1 .u-left h4, .c-buscontent2 .c-content .media-1 .u-left h4 {
    font-size: 1.6rem;
    padding-bottom: 0;
  }
  .c-buscontent .c-content .media-1 .u-left h4:before, .c-buscontent2 .c-content .media-1 .u-left h4:before {
    content: url("../img/mob-src.png");
    margin-right: 3px;
  }
  .c-buscontent .c-content .media-1 .u-left h3, .c-buscontent2 .c-content .media-1 .u-left h3 {
    margin-top: 20px;
  }
  .c-buscontent .c-content .media-1 .u-left hr, .c-buscontent2 .c-content .media-1 .u-left hr {
    border: 0.5px solid #4471c6;
  }
  .c-buscontent .c-content .media-1 .u-left img, .c-buscontent2 .c-content .media-1 .u-left img {
    margin-top: 20px;
  }
  .c-buscontent .c-content .media-2, .c-buscontent2 .c-content .media-2 {
    margin-top: 20px;
    display: block;
  }
  .c-buscontent .c-content .media-2 .text-box, .c-buscontent2 .c-content .media-2 .text-box {
    width: 100%;
    height: 40px;
    margin-left: 0;
    margin-top: 16px;
  }
  .c-buscontent .c-content .media-2 .text-box .image, .c-buscontent2 .c-content .media-2 .text-box .image {
    float: left;
    width: 14px;
    height: 21px;
    margin-right: 5px;
  }
  .c-buscontent .c-content .media-2 .text-box p, .c-buscontent2 .c-content .media-2 .text-box p {
    float: left;
    width: auto;
    font-size: 1.4rem;
  }
  .c-list-eqmedia {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .c-list-eqmedia .u-title h4 {
    font-size: 1.6rem;
  }
  .c-list-eqmedia .u-list .media {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}

@media only screen and (max-width: 650px) {
  .c-topcontent .c-box1 {
    margin-top: 350px;
  }
  .c-advan {
    margin-top: 286px;
  }
}

@media only screen and (max-width: 599px) {
  .c-topcontent .c-box1 {
    margin-top: 180px;
  }
  .c-advan {
    margin-top: 140px;
  }
  .c-comct1 .c-listlogo .for-mob .logo:nth-child(2n+1) {
    margin-left: 0;
  }
}
