.p-businslider {
  height: 276px;
}

.p-businslider .u-img {
  margin-top: 7%;
  margin-left: 45%;
}

.c-business {
  margin-top: 121px;
}

.c-business .c-business__1, .c-business .c-business__2 {
  overflow: hidden;
  border: 1px solid #009fbb;
  padding: 39px;
  -webkit-transition: .8s;
  transition: .8s;
}

.c-business .c-business__1 .u-left, .c-business .c-business__2 .u-left {
  float: left;
  width: 520px;
}

.c-business .c-business__1 .u-left .u-text, .c-business .c-business__2 .u-left .u-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.c-business .c-business__1 .u-left .u-text p, .c-business .c-business__2 .u-left .u-text p {
  margin: 25px 0 25px 0;
}

.c-business .c-business__1 .u-right, .c-business .c-business__2 .u-right {
  float: right;
}

.c-business .c-business__2 {
  margin-top: 81px;
}

.c-business .c-business__3 {
  margin-top: 81px;
  border: 1px solid #009fbb;
  padding: 39px;
  -webkit-transition: .8s;
  transition: .8s;
}

.c-business .c-business__3 .u-text {
  font-size: 14px;
  font-weight: 500;
}

.c-business .c-business__3 .u-text p {
  margin: 20px 0 20px 0;
}

.c-business .p-h129 {
  height: 129px;
}
