.p-caseslider {
  height: 277px;
}

.p-caseslider .u-img {
  margin-top: 7%;
  margin-left: 45%;
}

.c-case01 {
  width: 860px;
  margin: 0 auto;
  margin-top: 120px;
}

.c-case01 .u-btn {
  width: 260px;
  height: 50px;
  background-color: #0291aa;
  border-radius: 4px;
  border: 2px solid #0291aa;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.c-case01 .u-btn .u-btn__text {
  margin-left: 26px;
}

.c-case01 .u-btn .u-btn__icon {
  margin-left: 26px;
}

.c-case01 .u-btn i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.c-case01 .u-btn .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.c-case01 .p-mf38 {
  margin-left: 38px;
}

.c-case01 .p-mf36 {
  margin-left: 36px;
}

.c-case01 .u-btn:hover {
  background-color: #016f82;
  border: 2px solid #016f82;
}

.c-case01 .u-btn:focus {
  background-color: white;
  color: #0291aa;
}

.c-case01 .u-btn:focus i {
  border: solid #0291aa;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.c-case02 .c-case02__01, .c-case02 .c-case02__02, .c-case02 .c-case02__03 {
  overflow: hidden;
  -webkit-transition: .8s;
  transition: .8s;
}

.c-case02 .c-case02__01 .u-tilte, .c-case02 .c-case02__02 .u-tilte, .c-case02 .c-case02__03 .u-tilte {
  background-color: #e1f0fa;
}

.c-case02 .c-case02__01 .u-img, .c-case02 .c-case02__02 .u-img, .c-case02 .c-case02__03 .u-img {
  float: left;
  margin-top: 31px;
}

.c-case02 .c-case02__01 .u-table, .c-case02 .c-case02__02 .u-table, .c-case02 .c-case02__03 .u-table {
  width: 570px;
  float: right;
  font-size: 13px;
  font-weight: 500;
  border-top: 1px solid #dddddd;
  margin-top: 30px;
}

.c-case02 .c-case02__01 th, .c-case02 .c-case02__01 td, .c-case02 .c-case02__02 th, .c-case02 .c-case02__02 td, .c-case02 .c-case02__03 th, .c-case02 .c-case02__03 td {
  border-bottom: 1px solid #dddddd;
}

.c-case02 .c-case02__01 p, .c-case02 .c-case02__02 p, .c-case02 .c-case02__03 p {
  margin: 16px 0 16px 0;
}

.c-case02 .c-case02__01 .tab-a, .c-case02 .c-case02__02 .tab-a, .c-case02 .c-case02__03 .tab-a {
  width: 160px;
  color: #025995;
}

.c-case02 .c-case02__01 .tab-a p, .c-case02 .c-case02__02 .tab-a p, .c-case02 .c-case02__03 .tab-a p {
  margin-left: 26px;
}

.c-case02 .c-case02__01 .tab-b, .c-case02 .c-case02__02 .tab-b, .c-case02 .c-case02__03 .tab-b {
  width: 410px;
}

.c-case02 .p-mt48 {
  margin-top: 48px;
}

.c-case02 .p-mt78 {
  margin-top: 78px;
}

.u-topic {
  margin-top: 76px;
}

.p-h131 {
  height: 131px;
}
