.p-comslider {
  height: 277px;
}

.p-comslider .u-img {
  margin-left: 44%;
  margin-top: 6%;
}

.bg-profile {
  background-color: #f7f7f7;
  height: 808px;
}

.bg-map {
  background-color: #f7f7f7;
  height: 737px;
}

.u-line {
  margin-top: 8px;
  border-bottom: 1px solid #015294;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-greeting {
  -webkit-transition: .8s;
  transition: .8s;
}

.c-greeting .u-tilte {
  margin-top: 114px;
}

.c-greeting .u-text {
  font-size: 14px;
  font-weight: 500;
}

.c-greeting .u-text p {
  margin: 30px 0 30px 0;
}

.c-greeting .u-kanji {
  overflow: hidden;
}

.c-greeting .u-kanji .right {
  float: right;
  margin-top: 19px;
}

.c-greeting .u-banner {
  margin-top: 37px;
}

.c-profile {
  margin-top: 80px;
  -webkit-transition: .8s;
  transition: .8s;
}

.c-profile .u-table {
  font-size: 14px;
  font-weight: 500;
  margin-top: 36px;
}

.c-profile .u-table .u-table__a {
  background-color: #e7f5ff;
  width: 172px;
  color: #0361a7;
}

.c-profile .u-table .u-table__b {
  letter-spacing: 1px;
}

.c-profile .u-table p {
  margin-left: 20px;
  padding: 0.7px;
}

.c-profile table {
  border-collapse: collapse;
  width: 100%;
}

.c-profile th, .c-profile td {
  padding: 22px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.c-profile .b-top {
  border-top: 1px solid #dddddd;
}

.c-profile .p-h156 {
  height: 76px;
}

.c-introduction {
  margin-top: 75px;
}

.c-introduction .u-list-img {
  overflow: hidden;
  margin-top: 37px;
}

.c-introduction .u-list-img .u-list__cont {
  float: left;
  width: 239px;
  -webkit-transition: .8s;
  transition: .8s;
}

.c-introduction .u-list-img .u-list__cont .u-img {
  width: 239px;
  height: 167px;
  border: 4px #d4d4d4;
  border-style: double;
}

.c-introduction .u-list-img .u-list__cont .u-text {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 9px;
  margin-left: 10px;
}

.c-introduction .u-list-img .p-mf38 {
  margin-left: 38px;
}

.c-introduction .p-mt57 {
  margin-top: 57px;
}

.c-map {
  margin-top: 80px;
  -webkit-transition: .8s;
  transition: .8s;
}

.c-map .u-googlemap {
  margin-top: 38px;
  border: 1px solid #d4d4d4;
}

.c-map .p-h76 {
  height: 76px;
}
