.u-conslider {
  height: 277px;
}

.u-conslider .u-img {
  margin-top: 7%;
  margin-left: 43%;
}

.bg-contact02 {
  background-color: #f7f7f7;
  height: 866px;
}

.c-contact {
  margin-top: 114px;
}

.c-contact .u-text {
  font-size: 14px;
  font-weight: 500;
}

.c-contact .u-text p {
  margin: 30px 0 30px 0;
}

.c-contact .p-h50 {
  height: 50px;
}

.c-contact02 .u-form {
  margin-top: 53px;
}

.c-contact02 .form-group {
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
}

.c-contact02 .form-group .row1 {
  width: 158px;
  float: left;
  color: #0362a8;
}

.c-contact02 .form-group p {
  margin: 18px 0 18px 0;
}

.c-contact02 .form-group .row2 {
  width: 72px;
  float: left;
}

.c-contact02 .form-group .row3 {
  width: 850px;
  float: left;
}

.c-contact02 .form-group .w100, .c-contact02 .form-group .w94 {
  width: 812px;
  padding: 18px;
  border: 1px solid #eaeaea;
}

.c-contact02 .form-group .w94 {
  width: 94px;
}

.c-contact02 .form-group .w182 {
  width: 182px;
  padding: 16px;
  border: 1px solid #eaeaea;
}

.c-contact02 .form-group span {
  margin: 0 10px 0 10px;
}

.c-contact02 .form-group textarea {
  border: 1px solid #eaeaea;
  padding: 18px;
}

.c-contact02 .form-group .p-mg18 {
  margin: 18px 0 18px 0;
}

.c-contact02 .form-group .p-mf70 {
  margin-left: 70px;
}

.c-contact02 .form-group .u-btn, .c-contact02 .form-group .u-btn-light {
  width: 41px;
  height: 24px;
  background-color: #0362a8;
  color: #ffffff;
  margin: 14px 0 14px 0;
}

.c-contact02 .form-group .u-btn-light {
  background-color: #8c8b8b;
}

.c-contact02 .p-h77 {
  height: 77px;
}

.c-contact02 .p-mt8 {
  margin-top: 8px;
}

.c-contact03 {
  text-align: center;
  margin-top: 53px;
}

.c-contact03 .u-btn {
  width: 310px;
  margin-left: 45px;
  height: 50px;
  background-color: #0291aa;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.c-contact03 .u-btn:hover {
  background-color: #00798e;
}

.c-contact03 i {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
}

.c-contact03 .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.c-contact03 .p-h129 {
  height: 129px;
}
