/*------------------------------------------------------------
	background
------------------------------------------------------------*/
.bg-header {
  background-color: #015294;
}

.bg-news {
  height: 202px;
  background-color: #e7f5ff;
}

.bg-section02 {
  background-color: #f5f5f5;
  height: 513px;
}

.bg-footer {
  background-color: #003c7f;
  height: 168px;
}

.bg-souwa {
  background-color: #002f64;
  height: 48px;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-banner .u-btn {
  width: 154px;
  height: 30px;
  font-size: 14px;
  background-color: #009fbb;
  border-radius: 4px;
  color: #ffffff;
  overflow: hidden;
  margin-top: 8px;
  margin-left: 12px;
  border: none;
  cursor: pointer;
}

.c-banner .u-btn .u-btn__text {
  float: left;
  margin-left: 22px;
  margin-top: 5px;
}

.c-banner .u-btn .u-btn__icon {
  float: left;
  margin-left: 7px;
}

.c-banner .u-btn:hover {
  background-color: #0080ab;
  color: #ffffff;
}

.c-menu {
  overflow: hidden;
}

.c-menu .u-logo {
  float: left;
}

.c-menu .u-img {
  float: left;
  margin-top: 21px;
}

.c-menu .u-img:hover {
  border-bottom: 4px solid #009fbb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.c-menu .p-mf6 {
  margin-left: 6px;
}

.c-news {
  overflow: hidden;
}

.c-news .c-news__left {
  float: left;
  width: 248px;
}

.c-news .c-news__left .u-img {
  margin-top: 43px;
}

.c-news .c-news__left .u-btn {
  width: 177px;
  height: 43px;
  background-color: #015294;
  color: #ffffff;
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #015294;
  font-weight: 500;
}

.c-news .c-news__left .u-btn .u-btn__text {
  margin-right: 2px;
  margin-bottom: 2px;
  letter-spacing: 2px;
}

.c-news .c-news__left .u-btn .u-btn__icon {
  margin-left: 20px;
  font-size: 14px;
}

.c-news .c-news__left .u-btn:hover {
  background-color: #ffffff;
  color: #015294;
  font-weight: bold;
}

.c-news .c-news__right {
  float: left;
  font-size: 13px;
  margin-top: 49px;
  font-weight: 500;
}

.c-news .c-news__right .u-text {
  color: #0361a7;
  letter-spacing: 1.2px;
}

.c-news .c-news__right .u-link {
  color: black;
  text-decoration: none;
  margin-left: 42px;
}

.c-news .c-news__right .u-link:hover {
  color: #a8a8a8;
  text-decoration: underline;
}

.c-news .c-news__right .p-mt32 {
  margin-top: 32px;
}

.c-cont01 {
  overflow: hidden;
}

.c-cont01 .c-cont01__left {
  width: 470px;
  float: left;
  margin-left: 220px;
}

.c-cont01 .c-cont01__left .u-text {
  font-size: 14px;
  font-weight: 500;
}

.c-cont01 .c-cont01__left .u-text p {
  margin: 12px 0 13px 0;
}

.c-cont01 .c-cont01__left .p-btn {
  margin-top: 76px;
}

.c-cont01 .c-cont01__left .u-btn {
  width: 470px;
  height: 50px;
  background-color: #0291aa;
  color: #ffffff;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 500;
  border: 2px solid #0291aa;
  cursor: pointer;
}

.c-cont01 .c-cont01__left .u-btn .u-btn__text {
  letter-spacing: 1px;
}

.c-cont01 .c-cont01__left .u-btn .u-btn__icon {
  margin-left: 12px;
}

.c-cont01 .c-cont01__left .u-btn:hover {
  background-color: #ffffff;
  color: #0291aa;
  font-weight: bold;
}

.c-cont01 .c-cont01__right {
  float: right;
}

.c-cont02 {
  overflow: hidden;
}

.c-cont02 .c-cont02__left {
  float: left;
  margin-top: 79px;
}

.c-cont02 .c-cont02__right {
  float: left;
  width: 470px;
  margin-top: 80px;
  margin-left: 69px;
}

.c-cont02 .c-cont02__right .u-text {
  font-size: 14px;
  font-weight: 500;
}

.c-cont02 .c-cont02__right .u-text p {
  margin: 8px 0 8px 0;
}

.c-cont02 .c-cont02__right .p-btn {
  margin-top: 96px;
}

.c-cont02 .c-cont02__right .u-btn {
  width: 470px;
  height: 50px;
  background-color: #0291aa;
  color: #ffffff;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 500;
  border: 2px solid #0291aa;
  cursor: pointer;
}

.c-cont02 .c-cont02__right .u-btn .u-btn__text {
  letter-spacing: 1px;
}

.c-cont02 .c-cont02__right .u-btn .u-btn__icon {
  margin-left: 12px;
}

.c-cont02 .c-cont02__right .u-btn:hover {
  background-color: #ffffff;
  color: #0291aa;
  font-weight: bold;
}

.c-cont03 {
  overflow: hidden;
}

.c-cont03 .c-cont03__left {
  width: 470px;
  float: left;
  margin-left: 220px;
}

.c-cont03 .c-cont03__left .u-text {
  font-size: 14px;
  font-weight: 500;
}

.c-cont03 .c-cont03__left .u-text p {
  margin: 10px 0 10px 0;
}

.c-cont03 .c-cont03__left .p-btn {
  margin-top: 70px;
}

.c-cont03 .c-cont03__left .u-btn {
  width: 470px;
  height: 50px;
  background-color: #0291aa;
  color: #ffffff;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 500;
  border: 2px solid #0291aa;
  cursor: pointer;
}

.c-cont03 .c-cont03__left .u-btn .u-btn__text {
  letter-spacing: 1px;
}

.c-cont03 .c-cont03__left .u-btn .u-btn__icon {
  margin-left: 12px;
}

.c-cont03 .c-cont03__left .u-btn:hover {
  background-color: #ffffff;
  color: #0291aa;
  font-weight: bold;
}

.c-cont03 .c-cont03__right {
  float: right;
}

.c-footer {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

.c-footer .c-footer__left {
  float: left;
}

.c-footer .c-footer__left .p-mt39 {
  margin-top: 39px;
}

.c-footer .c-footer__right {
  width: 330px;
  float: right;
  font-size: 12px;
  font-weight: 500;
}

.c-footer .c-footer__right .u-menu-1 {
  margin-top: 39px;
}

.c-footer .c-footer__right .u-menu-2 {
  margin-top: 9px;
}

.c-footer .c-footer__right .u-menu-1, .c-footer .c-footer__right .u-menu-2 {
  overflow: hidden;
  margin-left: 6px;
}

.c-footer .c-footer__right .u-menu__home, .c-footer .c-footer__right .u-menu__company, .c-footer .c-footer__right .u-menu__case, .c-footer .c-footer__right .u-menu__nesws, .c-footer .c-footer__right .u-menu__business, .c-footer .c-footer__right .u-menu__recruit {
  float: left;
  color: #ffffff;
  text-decoration: none;
}

.c-footer .c-footer__right .u-menu__home:hover, .c-footer .c-footer__right .u-menu__company:hover, .c-footer .c-footer__right .u-menu__case:hover, .c-footer .c-footer__right .u-menu__nesws:hover, .c-footer .c-footer__right .u-menu__business:hover, .c-footer .c-footer__right .u-menu__recruit:hover {
  color: #3b75b5;
}

.c-footer .c-footer__right .u-menu__company {
  margin-left: 131px;
}

.c-footer .c-footer__right .u-menu__case {
  margin-left: 61px;
}

.c-footer .c-footer__right .u-menu__business {
  margin-left: 60px;
}

.c-footer .c-footer__right .u-menu__recruit {
  margin-left: 58px;
}

.c-footer .c-footer__right .u-btn {
  width: 330px;
  height: 44px;
  font-size: 14px;
  font-weight: bold;
  color: #003b6b;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 10px;
  overflow: hidden;
  cursor: pointer;
}

.c-footer .c-footer__right .u-btn .u-btn__text {
  float: left;
  margin-left: 46px;
  margin-top: 4px;
  letter-spacing: -0.5px;
}

.c-footer .c-footer__right .u-btn .u-btn__icon {
  float: left;
  margin-left: 8px;
}

.c-footer .c-footer__right .u-btn:hover {
  background-color: #6cace0;
}

/*------------------------------------------------------------
	page
------------------------------------------------------------*/
.p-news {
  margin-top: 100px;
  -webkit-transition: .8s;
  transition: .8s;
}

.p-cont01 {
  margin-top: 100px;
  -webkit-transition: .8s;
  transition: .8s;
}

.p-cont02 {
  margin-top: 80px;
  -webkit-transition: .8s;
  transition: .8s;
}

.p-cont03 {
  margin-top: 81px;
  -webkit-transition: .8s;
  transition: .8s;
}

.p-h18 {
  height: 18px;
}

.p-mt129 {
  margin-top: 129px;
}

/*------------------------------------------------------------
	utility
------------------------------------------------------------*/
.u-banner-ft {
  height: 108px;
}

.u-slider {
  height: 757px;
  -webkit-transition: .8s;
  transition: .8s;
}

.u-slider .u-img {
  margin-top: 88px;
  float: right;
  margin-right: 217px;
}

.u-souwa {
  font-size: 12px;
  color: #608fbf;
  letter-spacing: 1.1px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 86px;
  margin-left: 1356px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: #0291aa;
}

#myBtn:hover {
  background-color: #01789d;
}
