.u-sli-news {
  height: 277px;
}

.u-sli-news .u-img {
  margin-left: 39%;
  margin-top: 7%;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-news-ct01, .c-news-ct02, .c-news-ct03 {
  margin-top: 117px;
  -webkit-transition: .8s;
  transition: .8s;
}

.c-news-ct01 .c-news__tilte, .c-news-ct02 .c-news__tilte, .c-news-ct03 .c-news__tilte {
  font-size: 20px;
  color: #025995;
  font-weight: bold;
}

.c-news-ct01 .c-news__date, .c-news-ct02 .c-news__date, .c-news-ct03 .c-news__date {
  overflow: hidden;
  margin-top: 10px;
}

.c-news-ct01 .c-news__date .u-img, .c-news-ct02 .c-news__date .u-img, .c-news-ct03 .c-news__date .u-img {
  float: left;
}

.c-news-ct01 .c-news__date .u-yymmdd, .c-news-ct02 .c-news__date .u-yymmdd, .c-news-ct03 .c-news__date .u-yymmdd {
  float: left;
  font-size: 14px;
  color: #009fbb;
  font-weight: bold;
  margin-left: 12px;
  letter-spacing: 2px;
  margin-top: 5px;
}

.c-news-ct01 .c-news__cont, .c-news-ct02 .c-news__cont, .c-news-ct03 .c-news__cont {
  overflow: hidden;
  margin-top: 28px;
}

.c-news-ct01 .c-news__cont .u-text, .c-news-ct02 .c-news__cont .u-text, .c-news-ct03 .c-news__cont .u-text {
  width: 592px;
  float: left;
  font-size: 14px;
  font-weight: 500;
}

.c-news-ct01 .c-news__cont .u-img, .c-news-ct02 .c-news__cont .u-img, .c-news-ct03 .c-news__cont .u-img {
  float: left;
  margin-left: 60px;
}

.c-news-ct01 .c-news__cont p, .c-news-ct02 .c-news__cont p, .c-news-ct03 .c-news__cont p {
  margin: 0 0 35px 0;
}

.c-news-ct01 .c-news__cont3, .c-news-ct02 .c-news__cont3, .c-news-ct03 .c-news__cont3 {
  overflow: hidden;
  margin-top: 28px;
}

.c-news-ct01 .c-news__cont3 .u-text, .c-news-ct02 .c-news__cont3 .u-text, .c-news-ct03 .c-news__cont3 .u-text {
  float: left;
  font-size: 14px;
  font-weight: 500;
}

.c-news-ct01 .c-news__cont3 .u-text .u-text__2, .c-news-ct02 .c-news__cont3 .u-text .u-text__2, .c-news-ct03 .c-news__cont3 .u-text .u-text__2 {
  margin-top: 28px;
}

.c-news-ct01 .c-news__cont3 .u-text .u-text__3, .c-news-ct02 .c-news__cont3 .u-text .u-text__3, .c-news-ct03 .c-news__cont3 .u-text .u-text__3 {
  margin-top: 40px;
}

.c-news-ct01 .c-news__cont3 p, .c-news-ct02 .c-news__cont3 p, .c-news-ct03 .c-news__cont3 p {
  margin: 0 0 35px 0;
}

.c-news-ct01 .u-line, .c-news-ct02 .u-line, .c-news-ct03 .u-line {
  margin-top: 8px;
  border-bottom: 1px solid #015294;
}

.p-h132 {
  height: 132px;
}
