.u-recslider {
  height: 277px;
}

.u-recslider .u-img {
  margin-top: 7%;
  margin-left: 45%;
}

.bg-recruit02 {
  background-color: #f7f7f7;
  height: 816px;
}

.c-recruit01 {
  height: 323px;
  margin-top: 114px;
  overflow: hidden;
}

.c-recruit01 .c-recruit01__left {
  float: left;
  font-size: 14px;
  font-weight: 500;
}

.c-recruit01 .c-recruit01__left p {
  margin: 20px 0 20px 0;
}

.c-recruit01 .c-recruit01__right {
  margin-top: 6px;
  margin-left: 66px;
  float: left;
}

.c-recruit02 .u-table {
  margin-top: 34px;
  font-size: 14px;
  font-weight: 500;
  border-top: 1px solid #dddddd;
}

.c-recruit02 .u-table .tab-a {
  width: 217px;
  background-color: #e7f5ff;
  color: #0361a7;
}

.c-recruit02 .u-table .tab-b {
  width: 863px;
  background-color: #ffffff;
}

.c-recruit02 th, .c-recruit02 td {
  border-bottom: 1px solid #dddddd;
}

.c-recruit02 p {
  margin: 21px 0 21px 0;
  margin-left: 35px;
}

.c-recruit02 .p-h85 {
  height: 85px;
}

.c-recruit03 {
  margin-top: 90px;
}

.c-recruit03 .u-btn {
  width: 470px;
  height: 50px;
  background-color: #0291aa;
  color: white;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 153px;
  margin-left: 40px;
  border: 2px solid #0291aa;
  cursor: pointer;
}

.c-recruit03 .u-btn .u-text {
  float: left;
  margin-top: 4px;
  margin-left: 141px;
}

.c-recruit03 .u-btn .u-icon {
  float: left;
  margin-left: 16px;
  margin-top: -2px;
}

.c-recruit03 .u-btn .u-hover {
  float: left;
  margin-left: 16px;
  margin-top: -2px;
  display: none;
}

.c-recruit03 .u-btn:hover {
  background-color: #ffffff;
  color: #0291aa;
}

.c-recruit03 .u-btn:hover .u-icon {
  display: none;
}

.c-recruit03 .u-btn:hover .u-hover {
  display: block;
}

.c-recruit03 .p-h130 {
  height: 130px;
}
