@charset "UTF-8";
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body{
	max-width: 1600px;
	min-width: 1100px;
	margin: 0 auto;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
.web{
	display: block;
}
.mob{
	display: none;
}
.w100{
	width: 100%;
}
@media only screen and (max-width: 768px){
	body{
		width: 100%;
		max-width: none;
		min-width: auto;
	}
	.container{
		width: 96%;
		margin: 0 auto;
	}
	.web{
		display: none;
	}
	.mob{
		display: block;
	}
}