@charset "UTF-8";
/*------------------------------------------------------------
	background
------------------------------------------------------------*/
#bg-dexslide{
	background-image: url("../img/dex-bg-slide.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
}
#bg-dexadvantage{
	background-image: url("../img/dex-bg-slide2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 561px;
}
#bg-dexequiment{
	background-color: #e9eff2;
}
#bg-ftmenu{
	background-color: #4471c6;
}
#bg-comslide{
	background-image: url("../img/com-slide.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 240px;
}
#bg-busslide{
	background-image: url("../img/bus-slide1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 240px;
}
#bg-eqslide{
	background-image: url("../img/eq-slide1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 240px;
}
#bg-adslide{
	background-image: url("../img/ad-slide1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 240px;
}
#bg-reslide{
	background-image: url("../img/re-slide1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 240px;
}
#bg-coslide{
	background-image: url("../img/co-slide1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 240px;
}
/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-menu{
	.c-banner-top{
		padding: 27px 0 25px 0;
		overflow: hidden;
		.u-logo{
			float: left;
		}
		.u-phone{
			float: right;
			margin-right: 20px;
			margin-top: 10px;
		}
		.u-email{
			float: right;
			a:link{
				width: 230px;
				padding: 16px 0 16px 0;
				background-color: #4471c6;
				display: inline-block;
				text-decoration: none;
				display: flex;
				justify-content: center;
				border-radius: 4px;
			}
			a:hover{
				opacity: 0.6;
			}
		}
	}
	.menuPC{
		ul{
			width: 100%;
			display: -webkit-box;
			display: flex;
		}
		li{
			width: 25%;
			height: 70px;
		}
		li:hover{
			background-color: #4471c6;
			a{
				border: none;
			}
		}
		a{
			font-size: 1.6rem;
			font-weight: 500;
			padding: 10px 0 10px 0;
			margin-top: 18px;
			display: flex;
			text-decoration: none;
			color: #000;
			justify-content: center;
			border-right: 1px solid #ddd;
		}
		a:first-child{
			border-left: 1px solid #ddd;
		}
	}
	hr{
		border: 0.5px solid #ccc;
		margin: 0;
		padding: 0;
	}
}
.c-box1{
    width: 409px;
    padding: 37px 37px 42px 37px;
    background-color: #4870b1bf;
    text-align: center;
    margin-top: 148px;
    display: inline-block;
	img{
		padding-bottom: 16px;
		margin-top: 15px;
	}
	p{
	    font-size: 1.4rem;
		font-weight: 700;
		color: #fff;
		line-height: 22px;
	}
}
.c-box2{
	margin-top: 153px;
	table{
		width: 100%;
		background-color: #e9eff2;
		td{
			padding: 20px 15px 15px 0px;
			font-size: 1.4rem;
		}
		td:first-child{
			width: 70px;;
			p{
				border-right: 1px solid #2e4d88;
			}
			padding: 20px 15px 15px 20px;
		}
	}
}
.c-dexlistcard{
	overflow: hidden;
	margin-top: 82px;
	padding-bottom: 60px;
	.card{
		float: left;
		width: 313px;
		height: 281px;
		background-color: #4471c6;
		margin-left: 30px;
		.image{
			max-width: 313px;
			max-height: 195px
		}
		.title{
			width: 144px;
			margin: 0 auto;
			padding: 20px 0 20px 0;
		}
	}
	.card:first-child{
		margin-left: 0;
	}
	a:hover{
		opacity: 0.6;
	}
}
.c-advan{
	width: 533px;
	height: 441px;
	background-color: #fff;
	display: inline-block;
	float: right;
	margin-top: 60px;
	.u-title{
		width: 245px;
		margin: 0 auto;
		padding-bottom: 20px;
		padding-top: 50px;
	}
	.u-text{
		width: 419px;
		margin: 0 auto;
		padding-bottom: 21px;
		text-align: center;
		a,p{
			font-size: 1.6rem;
			font-weight: 500;
			text-decoration: none;
			line-height: 23px;
		}
		a{
			color: #4471c6;
		}
	}
	.u-link{
		width: 230px;
		margin: 0 auto;
		.for-web{
			width: 134px;
			margin: 0 auto;
			margin-right: 20px;
		}
		a{
			width: 230px;
			padding: 16px 0 16px 0;
			background-color: #4471c6;
			display: inline-block;
			border-radius: 4px;
			text-decoration: none;
		}
		a:hover{
			opacity: 0.6;
		}
	}
}
.c-equipment{
	.u-title{
		padding: 62px 0 10px 0;
		width: 190px;
		margin: 0 auto;;
	}
	.u-listcard{
		overflow: hidden;
		.card{
			float: left;
			width: 228px;
			background-color: #fff;
			margin-top: 20px;
			margin-left: 29px;
			p{
				padding: 20px 0 20px 0;
				text-align: center;
				font-size: 1.6rem;
				font-weight: 500;
			}
		}
		.card:first-child{
			margin-left: 0;
		}
	}
	.u-text{
		padding: 25px 0 10px 0;
		p{
			font-size: 1.6rem;
			font-weight: 500;
			text-align: center;
			line-height: 23px;
		}
	}
	.u-link{
		width: 230px;
		margin: 0 auto;
		padding: 14px 0 56px 0;
		.for-web{
			width: 128px;
			margin: 0 auto;
			margin-right: 20px;
		}
		a{
			width: 230px;
			padding: 16px 0 16px 0;
			background-color: #4471c6;
			display: inline-block;
			border-radius: 4px;
			text-align: center;
		}
		a:hover{
			opacity: 0.6;
		}
	}
}
.c-ftinfo{
	.u-title{
		width: 447px;
		margin: 0 auto;
		padding: 62px 0 0 0;
		img{
			padding-bottom: 10px;
		}
	}
	.u-text{
		padding-bottom: 30px;
		p{
			font-size: 1.4rem;
			font-weight: 500;
			text-align: center;
			line-height: 23px;
			letter-spacing: 1px;
		}
	}
	.u-phone{
		padding: 10px 0 30px 0;
		width: 515px;
		margin: 0 auto;
		h3{
			font-size: 1.6rem;
			font-weight: bold;
			padding-bottom: 12px;
			text-align: center;
		}
		&--default{
			padding: 10px 0 60px 0;
		}
	}
}
.c-map{
	margin-top: 30px;
}
.c-ftmenu{
	padding: 30px 0 10px 0;
	ul{
		width: 595px;
		margin: 0 auto;
		display: -webkit-box;
		padding-bottom: 20px;
	}
	li{
		border-left: 1px solid #ddd;
	}
	a{
		padding: 0 12px 0 12px;
		font-size: 1.4rem;
		font-weight: 500;
		color: #fff;
		text-decoration: none;

	}
	p{
		font-size: 1.4rem;
		color: #fff;
		text-align: center;
		font-weight: 500;
	}
	.icons{
		display: none;
	}
	&--default{
		padding: 30px 0 24px 0;
	}
}
.c-comtitle{
	width: 184px; 
	margin: 0 auto;
	padding-top: 93px;
}
.c-combackhome{
	margin-top: 30px;
	a{
		font-size: 1.2rem;
		font-weight: 500;
		text-decoration: none;
		color: #4471c6;
		span{
			color: #000;
		}
	}
}
.c-comct1{
	padding: 20px 0 20px 0;
	.u-title{
		width: 66px;
		margin: 0 auto;
		margin-top: 38px;
		padding-bottom: 27px;
	}
	p{
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 23px;
		text-align: center;
	}
	.c-listlogo{
		padding: 20px 0 30px 0;
		.for-web{
			overflow: hidden;
			img{
				float: left;
				margin-left: 29px;
			}
			img:first-child{
				margin-left: 0;
			}
		}
	}
	h6{
		display: none;
	}
}
.c-comct2{
	margin-top: 73px;
	.u-title{
		width: 93px;
		height: 39px;
		margin: 0 auto;
		padding: 20px 0 30px 0;
	}
	.u-table{
		table{
			border-collapse: collapse;
			width: 100%;
		}
		td:first-child{
			background-color: #f6f6f6;
			width: 233px;
		}
		td{
			padding: 15px 0 15px 16px;
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 23px;
			border: 1px solid #ccc;
		}
	}
}
.c-comct3{
	margin-top: 92px;
	.u-title{
		width: 89px;
		height: 36px;
		margin: 0 auto;
		padding: 20px 0 0 0;
	}
	.c-map{
		padding-bottom: 27px;
	}
	p:before{
		content: url("../img/local.png");
		margin-right: 0.5em;
	}
	p{
		font-size: 1.4rem;
		font-weight: 500;
		text-align: center;
		line-height: 23px;
	}
}
.c-comct4{
	margin-top: 95px;
	.u-title{
		width: 91px;
		height: 38px;
		margin: 0 auto;
		padding: 20px 0 30px 0;
	}
	.u-table{
		table{
			border-collapse: collapse;
			width: 100%;
		}
		td:first-child{
			background-color: #f6f6f6;
			width: 233px;
		}
		td{
			padding: 15px 0 15px 16px;
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 23px;
			border: 1px solid #ccc;
		}
	}
}
.c-comct5{
	margin-top: 116px;
	.u-title{
		width: 93px;
		height: 39px;
		margin: 0 auto;
		padding-bottom: 30px;
	}
	.c-comlist{
		overflow: hidden;
		.list:first-child{
			margin-left: 0;
		}
		.list{
			float: left;
			width: 313px;
			margin-left: 20px
		}
		h6{
			font-size: 1.8rem;
			font-weight: 500;
		}
		p:first-child{
			padding-top: 16px;
		}
		p{
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 22px;
			text-align: justify;
			margin-left: 16px;
		}
		h6:before{
			content: url("../img/arc.png");
			margin-right: 0.2em;
		}
		.listtext{
			width: 313px;
			height: 449px;
			background-color: #e9eff2;
			margin-top: 10px;
		}
	}
	.u-link{
		margin-top: 58px;
		text-align: center;
		padding-bottom: 58px;
		p{
			font-size: 1.4rem;
			font-weight: 500;
		}
		a{
			width: 230px;
			padding: 16px 0 16px 0;
			background-color: #4471c6;
			border-radius: 4px;
			display: flex;
			margin: 0 auto;
			text-decoration: none;
			color: #fff;
			margin-top: 30px;
			p{
				font-size: 1.6rem;
				font-weight: 500;
				margin-left: 5em;
			}
			p:after{
				content: url("../img/icon-arow-right.png");
				margin-left: 3em;
			}
		}
		a:hover{
			opacity: 0.6;
		}
	}
}
.c-bustitle{
	width: 165px; 
	height: 53px;
	margin: 0 auto;
	padding-top: 93px;
}
.c-bus-btnselect{
	margin-top: 58px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: -webkit-box;
	display: flex;
	.repon{
		display: flex;
	}
	a:first-child{
		border: none;
		padding-left: 0;
		margin: 20px 16px 20px 0;
	}
	a{
		margin: 20px 16px 20px 0;
		padding-left: 16px;
		font-size: 1.4rem;
		font-weight: 500;
		color: #4471c6;
		border-left: 1px solid #ccc;
		text-decoration: none;
	}
	a:after{
		content: url("../img/bus-icon-agd.png");
		margin-left: 3px;
	}
}
.c-buscontent,.c-buscontent2{
	margin-top: 64px;
	.u-title{
		.image{
			width: 227px;
			height: 38px;
			margin: 0 auto;
			padding-bottom: 30px;
		}
		h4{
			font-size: 1.8rem;
			font-weight: 500;
			text-align: center;
		}
	}
	.c-content{
		margin-top: 58px;
		padding-bottom: 60px;
		.media-1{
			overflow: hidden;
			.u-left{
				float: left;
				width: 445px;
				h4{
					font-size: 1.8rem;
					font-weight: 500;
					letter-spacing: 1px;
					padding-bottom: 10px;
				}
				h4:before{
					content: url("../img/arc.png");
					margin-right: 3px;
				}
				h3{
					font-size: 1.4rem;
					font-weight: 500;
					color: #4471c6;
					margin-top: 22px;
				}
				hr{
					border: 0.5px solid #4471c6;
				}
				ul{
					margin-top: 10px;
				}
				p, li{
					font-size: 1.4rem;
					font-weight: 500;
					text-align: justify;
					line-height: 22px;
				}
				li{
					margin-left: 1em;
				}
				li:before{
					content: ("⬤");
					font-size: 1rem;
					color: #4471c6;
					margin-left: -1em;
					margin-right: 5px;
				}
			}
			.u-right{
				float: right;
				margin-top: 46px;
			}
		}
		.media-2{
			margin-top: 27px;
			display: -webkit-box;
			.text-box:first-child{
				margin-left: 0;
			}
			.text-box{
				overflow: hidden;
				width: 226px;
				height: 80px;
				margin-left: 29px;
				border: 1px solid #4471c6;
				border-radius: 4px;
				display: flex;
				align-items: center;
				justify-content: center;
				.image{
					float: left;
					width: 27px;
					height: 40px;
					margin-right: 5px;
				}
				p{
					float: left;
					width: 180px;
					font-size: 1.8rem;
					font-weight: 500;
					line-height: 22px;
				}
			}
		}
	}
}
.c-buscontent2{
	margin-top: 66px;
	.u-title{
		.image{
			padding-bottom: 13px;
		}
	}
	.c-content{
		padding-bottom: 35px;
	}
	.c-content:last-child{
		margin-bottom: 24px;
	}
}
.light-bot{
	border-bottom: 1px solid #ccc;
}
.c-eqtitle{
	width: 221px; 
	height: 53px;
	margin: 0 auto;
	padding-top: 93px;
}
.c-list-eqmedia{
	margin-top: 60px;
	padding-bottom: 61px;
	.u-title{
		padding-bottom: 27px;
		h4{
			font-size: 1.8rem;
			font-weight: 500;
		}
		h4::before{
			content: url("../img/arc.png");
			margin-right: 5px;
		}
	}
	.u-list{
		overflow: hidden;
		.media:first-child{
			margin-left: 0;
		}
		.media{
			width: 485px;
			float: left;
			margin-left: 28px;
			img{
				padding-bottom: 17px;
			}
			h6{
				font-size: 1.6rem;
				font-weight: 500;
				margin-left: 1.2em;
			}
			h6:before{
				content:("•");
				color: #4471c6;
				font-size: 2rem;
				margin-left: -1em;
				margin-right: 5px;
			}
			p{
				font-size: 1.4rem;
				font-weight: 500;
				text-align: justify;
				line-height: 20px;
			}
		}
	}
}
.c-adtitle{
	width: 230px; 
	height: 53px;
	margin: 0 auto;
	padding-top: 93px;
}
.c-adcont1{
	margin-top: 58px;
	.u-title{
		width: 493px;
		height: 39px;
		margin: 0 auto;
	}
	.u-listlogo{
		overflow: hidden;
		img{
			float: left;
			margin-left: 28px;
			margin-top: 30px;
		}
		img:first-child{
			margin-left: 0;
		}
	}
}
.c-adcont2{
	margin-top: 115px;
	.u-title{
		width: 115px;
		height: 39px;
		margin: 0 auto;
	}
	.media{
		overflow: hidden;
		margin-top: 29px;
		padding-bottom: 90px;
		.u-left{
			float: left;
			width: 447px;
			h4{
				font-size: 1.8rem;
				font-weight: 500;
				padding-bottom: 10px;
			}
			h4:before{
				content: url("../img/arc.png");
				margin-right: 3px;
			}
			p{
				font-size: 1.4rem;
				font-weight: 500;
				text-align: justify;
				line-height: 22px;
			}
		}
		.u-right{
			float: right;
		}
	}
	.media:last-child{
		padding-bottom: 76px;
	}
}
.c-retitle{
	width: 159px; 
	height: 53px;
	margin: 0 auto;
	padding-top: 93px;
}
.c-recont1{
	margin-top: 58px;
	.u-title{
		width: 493px;
		height: 39px;
		margin: 0 auto;
		padding-bottom: 10px;
	}
	.u-text{
		padding: 13px 0 13px 0;
		p{
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 23px;
			text-align: center;
		}
	}
}
.c-recont2{
	margin-top: 115px;
	table{
		border-collapse: collapse;
		width: 100%;
		td{
			border: 1px solid #ccc;
			padding: 16px 0 16px 16px;
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 21px;
		}
		td:first-child{
			width: 230px;
			background-color: #f6f6f6;
		}
	}
	.u-btnlink{
		width: 230px;
		margin: 0 auto;
		margin-top: 27px;
		a{
			width: 230px;
			padding: 16px 0 16px 0;
			background-color: #4471c6;
			display: flex;
			text-decoration: none;
			border-radius: 4px;
		}
		p{
			font-size: 1.6rem;
			font-weight: 500;
			color: white;
			margin-left: 3em;
		}
		p:after{
			content: url("../img/icon-arow-right.png");
			margin-left: 16px;
		}
		a:hover{
			opacity: 0.6;
		}
	}
}
.c-recont3{
	margin-top: 116px;
	padding-bottom: 57px;
	.u-title{
		width: 139px;
		height: 38px;
		margin: 0 auto;
		padding-bottom: 26px;
	}
	p{
		font-size: 1.4rem;
		font-weight: 500;
		text-align: center;
		line-height: 23px;
		letter-spacing: 1px;
	}
	.u-phone{
		width: 654px;
		height: 31px;
		margin: 0 auto;
		padding: 23px 0 19px 0;
	}
	a{
		width: 214px;
		margin: 0 auto;
		padding: 14px 0 14px 16px;
		background-color: #4471c6;
		border-radius: 4px;
		display: flex;
		margin-top: 21px;
		text-decoration: none;
	
		p{
			font-size: 1.6rem;
			font-weight: 500;
			color: white;
			margin-left: 0.3em;
		}
		p:before{
			content: url("../img/re-mail.png");
			margin-right: 5px;
		}
	}
	a:hover{
		opacity: 0.6;
	}
}
.c-cotitle{
	width: 139px; 
	height: 39px;
	margin: 0 auto;
	padding-top: 93px;
}
.c-cocont1{
	margin-top: 60px;
	.u-title{
		width: 139px;
		height: 39px;
		margin: 0 auto;
		margin-bottom: 14px;
	}
	.u-text{
		padding: 15px 0 15px 0;
		p{
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 20px;
			text-align: center;
		}
	}
}
.pindicator{
	display: flex;

	width: 42rem;
	margin: 57px auto 0;
	.bullet{
		flex: 1;
		position: relative;
		text-align: center;
		transform-style: preserve-3d;
	}
	.bullet::before,
	.bullet::after {
		content: '';
		display: block;
		position: absolute;
		height: 1px;
		top: 15px;
		transform: translate3d(0,0,-1px);
	}
	.bullet::before {
		background-color: #bdbdbd;
	    width: 75%;
    	left: 87px;
	}
	.bullet::after {
		background-color: #4471c6;
		transition: opacity .25s ease-out;
		opacity: 0;
		width: 75%;
		right: 87px;
	}
	.bullet:first-child::after {
		width: 0%;
	}
	.bullet:last-child::before{
  		width: 0%;
	}
	.icon {
		background: none;
		border-radius: 100%;
		border: 1px solid #bdbdbd;
		cursor: pointer;
		font-size: 1.8rem;
		display: inline-block;
		height: 34px;
		width: 34px;
		line-height: 34px;
		text-align: center;
		transition: background-color .25s ease-out;
		color: #bdbdbd;
	}
	.text {
		color: #bdbdbd;
		font-size: 1.9rem;
		margin-top: 1rem;
		text-transform: uppercase;
		transition: background-color .25s ease-out;
	}
	.past,.current {
		.icon{
			background: none;
			color: #4471c6;
			border: 1px solid #4471c6
		}
	}
	.past::after,.current::after {
		opacity: 1;
	}
	.past,.current{
		.text{
			color: #4471c6;
		}
	}
}
.c-table{
	margin-top: 28px;
	margin-bottom: 57px;
	table{
		border-collapse: collapse;
		width: 100%;
		td{
			padding: 16px 16px 16px 18px;
			border: 1px solid #ccc;
		}
		td:first-child{
			width: 215px;
			overflow: hidden;
			p{
				display: inline-block;
				line-height: 16px;
			}
		}
		p{
			font-size: 1.4rem;
			font-weight: 500;
			letter-spacing: 1px;
		}
		.text-btn{
			float: right;
			background-color: #e13939;
			padding: 1px 4px 1px 4px;
			color: #fff;
			&--default{
				background-color: #999999;
			}
		}
		.text-red{
			color: #e13939;
		}
		input{
			padding: 6px 0 6px 8px;
			border: 1px solid #ccc;
			display: block;
		}
		.lg{
			width: 408px;
			margin-top: 10px;
			&--t0{
				margin-top: 0;
			}
		}
		.sm{
			width: 150px;
			margin-bottom: 10px;
		}
		.color1{
			background-color: #fbe1e2;
		}
		select{
			width: 150px;
			padding: 4px 0 4px 6px;
			font-size: 1.3rem;
			color: #999;
		}
		textarea{
			resize: none;
		}
	}
	.c-btn-link{
		width: 230px;
		margin: 36px auto 0;
		a{
			width: 230px;
			padding: 16px 0 16px 0;
			background-color: #4471c6;
			text-decoration: none;
			color: white;
			border-radius: 4px;
			display: flex;
		}
		p{
			font-size: 1.6rem;
			font-weight: bold;
			margin-left: 4.5em;
			letter-spacing: 1px;
		}
		p:after{
			content: url("../img/icon-arow-right.png");
			margin-left: 2em;
		}
		a:hover{
			opacity: 0.6;
		}
	}
}
/*------------------------------------------------------------
	For mobile
------------------------------------------------------------*/
@media only screen and (max-width: 768px){
	#bg-dexslide{
		background-image: url("../img/mob-slide.jpg");
		background-size: 100%;
		height: auto;
	}
	#bg-dexadvantage{
		background-image: url("../img/mob-bg-slide2.jpg");
		background-size: 100%;
		height: auto;;
	}
	#bg-ftmenu{
		background-color: #fff;
	}
	#bg-comslide{
		background-image: url("../img/mob-comsilde.png");
		background-repeat: no-repeat;
		background-size: 100%;
		height: auto;
	}
	#bg-comequislide{
		background-image: url("../img/mob-comsilde2.png");
		background-repeat: no-repeat;
		background-size: 100%;
		height: auto;
	}
	#bg-comadvanslide{
		background-image: url("../img/mob-comsilde3.png");
		background-repeat: no-repeat;
		background-size: 100%;
		height: auto;
	}
	#bg-comreslide{
		background-image: url("../img/mob-comsilde4.png");
		background-repeat: no-repeat;
		background-size: 100%;
		height: auto;
	}
	#bg-comcontslide{
		background-image: url("../img/mob-comsilde5.png");
		background-repeat: no-repeat;
		background-size: 100%;
		height: auto;
	}
	#bg-busslide{
		background-image: url("../img/mob-busslide1.jpg");
		background-size: 100%;
		height: auto;
	}
	.p-h97{
		height: 97px;
	}
	.c-menu{
		transition:600ms ease;
		background:transparent;
		position: fixed;
    	z-index: 999;
		width: 100%;
		background-color: #fff;
		.c-banner-top{
			padding: 10px 0 10px 0;
			.u-logo{
				p{
					font-size: 1rem;
					font-weight: 500;
					letter-spacing: 1px;
				}
			}
		}
		.menu-navi{
			overflow: hidden;
			padding: 10px 0 10px 0;
			.c-logo{
				width: 213px;
				height: 14px;
				float: left;
				margin-top: 16px;
			}
			.c-menuSP{
				width: 25px;
				height: 25px;
				float: right;
				background-color: #4471c6;
				padding: 10px;
				border-radius: 4px;
			}
			.c-menuSP__1,.c-menuSP__2,.c-menuSP__3{
				width: 100%;
				height: 2px;
				background: #fff;
				margin: 5px auto;
				backface-visibility: hidden;
			}
			.is-open{
				.c-menuSP__1 {
					-webkit-transform: rotate(45deg) translate(4px, 4px);
					-ms-transform: rotate(45deg) translate(4px, 4px);
					transform: rotate(45deg) translate(4px, 4px);
					background: #fff !important;
				}
				.c-menuSP__2 {
					opacity: 0;
				}
				.c-menuSP__3 {
					-webkit-transform: rotate(-45deg) translate(6px, -6px);
					-ms-transform: rotate(-45deg) translate(6px, -6px);
					transform: rotate(-45deg) translate(6px, -6px);
					background: #fff !important;
				}
			}
			.c-menulistSP{
				position: fixed;
				top: 107px;
				left: 0;
				width: 100%;
				display: none;
				background-color:  #4471c6e3;
				overflow-y: auto;
				ul{
					height: 100vh;
					li{
						width: 100%;
						border-bottom: 1px solid #ddd;
						overflow: hidden;
					}
					a{
						float: left;
						width: 100%;
						font-size: 14px;
						font-weight: 500;
						text-decoration: none;
						color: #fff;
						padding: 20px 10px 20px 10px;
						display: inline-block;
					}
					img{
						float: right;
						width: 14px;
						height: 14px;
						margin-right: 20px
					}
					.btn-phone,.btn-mailbox{
						width: 96%;
						margin: 0 auto;
						margin-top: 10px;
						text-align: center;
						a{
							background-color: #fff;
							padding: 16px 10px 16px 10px;
						}
						img{
							float: none;
							width: 164px;
							height: 42px;
						}
					}
					.btn-mailbox{
						img{
							width: 183px;
							height: 15px;
						}
					}
				}
			}
		}
	}
	.c-topcontent{
		.c-box1{
			width: 100%;
			padding: 0;
			background-color: #4471c6;
			margin-top: 500px;;
			.for-mob{
				width: 235px;
				height: 44px;
				margin: 0 auto;
				padding: 20px 0 10px 0;
				img{
					padding-bottom: 0;
					margin-top: 0;
				}
			}
			p{
				padding: 0 30px 10px 30px;
				text-align: justify;
			}
		}
		.c-box2{
			margin-top: 0px;
			table{
				background: none;
				td{
					text-align: justify;
				}
				td:first-child{
					display: none;
				}
			}
		}
	}
	.c-dexlistcard{
		overflow: hidden;
		margin-top: 0;
		text-align: center;
		.card{
			float: none;
			width: 290px;
			height: auto;
			margin-left: 0;
			margin-top: 20px;
			display: inline-block;
			.image{
				max-width: 290px;
				max-height: 180px;
				width: 290px;
				height: 180px;
			}
			.title{
				width: 98px;
				margin: 0 auto;
				padding: 15px 0 15px 0;
			}
		}
	}
	.c-advan{
		width: 100%;
		height: auto;
		float: none;
		margin-top: 350px;
		.u-title{
			width: 177px;
			height: 84px;
			padding-bottom: 10px;
			padding-top: 20px;
		}
		.u-text{
			width: 90%;
			margin: 0 auto;
			padding-bottom: 10px;
			text-align: center;
			a,p{
				font-size: 1.4rem;
			}
		}
		.u-link{
			width: 100%;
			padding-bottom: 20px;
			a{
				width: 100%;
				padding: 16px 0 16px 0;
			}
			.for-mob{
				width: 68px;
				height: 13px;
				margin: 0 auto;
			}
		}
	}
	.c-equipment{
		.u-title{
			padding: 20px 0 10px 0;
			width: 131px;
			margin: 0 auto;;
		}
		.u-listcard{
			overflow: hidden;
			text-align: center;
			.card{
				float: none;
				width: 290px;
				margin-top: 16px;
				margin-left: 0;
				display: inline-block;
				p{
					padding: 16px 0 16px 0;
					font-size: 1.4rem;
				}
			}
		}
		.u-text{
			padding: 10px 0 10px 0;
			p{
				font-size: 1.4rem;
			}
		}
		.u-link{
			width: 290px;
			padding: 10px 0 20px 0;
			a{
				width: 290px;
				padding: 12px 0 12px 0;
			}
			.for-mob{
				width: 157px;
				margin: 0 auto;
				margin-right: 20px;
			}
		}
	}
	.c-ftinfo{
		.u-title{
			width: 223px;
			padding-top: 40px;
		}
		.u-text{
			padding-bottom: 20px;
			p{
				font-size: 1.3rem;
			}
		}
		.u-phone{
			padding: 10px 0 20px 0;
			width: 290px;
			margin: 0 auto;
			h3{
				font-size: 1.4rem;
			}
			a{
				width: 290px;
				display: inline-block;
				background-color: #4471c6;
				padding: 20px 0 20px 0;
				.for-mob{
					width: 195px;
					margin: 0 auto;
					margin-right: 20px;
				}
			}
			.for-mob{
				width: 136px;
				margin: 0 auto;
				margin-top: 10px;
			}
		}
		.c-map{
			width: 100%;
			height: 500px;
		}
	}
	.c-ftmenu{
		padding: 0;
		ul{

			width: 100%;
			padding-bottom: 0;
			display: inline-block;
			background-color: #fff;
		}
		ul:first-child{
			border-top: 3px solid #4471c6;
		}
		li{
			width: 49%;
			float: left;
			border-bottom: 1px solid #ddd;
		}
		a{
			padding: 20px 0 20px 10px;
			color: #000;
			display: flex;

		}
		.empty{
			padding: 28px 0 27px 0;
		}
		.icons{
			display: block;
			width: 14px;
			float: right;
			position: relative;
			margin-top: -35px;
			margin-right: 10px;
		}
		.for-mob{
			width: 15px;
			margin: 0 auto;
		}
		p{
			background-color: #4471c6;
			padding: 10px 0 10px 0;
		}

	}
	.c-comtitle{
		width: 108px; 
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.c-comct1{
		padding: 20px 0 20px 0;
		.u-title{
			width: 52px;
			margin-top: 20px;
			padding-bottom: 20px;
		}
		p{
			display: none;
		}
		.c-listlogo{
			padding: 0px 0 30px 0;
			.for-mob{
				overflow: hidden;
				text-align: center;
				.logo{
					width: 135px;
					height: 135px;
					float: none;
					margin-left: 10px;
					margin-top: 30px;
					display: inline-block;
				}
				.logo:first-child{
					margin-left: 0;
				}
			}
		}
		h6{
			display: block;
			font-size: 0.9rem;
			font-weight: 500;
			color: red;
			line-height: 23px;
		}
	}
	.c-comct2{
		margin-top: 0px;
		.u-title{
			width: 73px;
			height: 33px;
			padding: 0;
		}
	}
	.c-comct3{
		margin-top: 20px;
		.u-title{
			width: 73px;
			height: 33px;
			padding: 0;
		}
	}
	.c-comct4{
		margin-top: 20px;
		.u-title{
			width: 72px;
			height: 33px;
			padding: 0;
		}
	}
	.c-comct5{
		margin-top: 20px;
		.u-title{
			width: 74px;
			height: 32px;
			padding-bottom: 10px;
		}	
	}
	.c-btn-radio{
		margin-top: 10px;
		.btn{
			overflow: hidden;
			padding: 10px 0 10px 0;
			img{
				float: left;
				width: 12px;
				height: 12px;
				margin-top: 2px;
			}
			p{
				margin-left: 5px;
				font-size: 1.6rem;
				font-weight: 500;
				float: left;
			}
		}
	}
	.c-hr{
		padding: 20px 0 20px 0;
	}
	.c-comequi{
		width: 131px;
		height: 36px;
		margin: 0 auto;
		padding: 57px 0 57px 0;
	}
	.c-comre{
		width: 144px;
		height: 36px;
		margin: 0 auto;
		padding: 57px 0 57px 0;
	}
	.c-comadvan{
		width: 135px;
		height: 36px;
		margin: 0 auto;
		padding: 57px 0 57px 0;
	}
	.u-comadvantitle{
		.title1{
			width: 260px;
			height: 60px;
			margin: 0 auto;
			margin-top: 20px;
		}
		.title2{
			width: 91px;
			height: 34px;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	.u-comretitle{
		.title1{
			width: 211px;
			height: 61px;
			margin: 0 auto;
			margin-top: 20px;
		}
		.title2{
			width: 111px;
			height: 34px;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	.c-comcont{
		width: 107px;
		height: 36px;
		margin: 0 auto;
		padding: 57px 0 57px 0;
	}
	.u-comconttitle{
		.title1{
			width: 111px;
			height: 34px;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	.c-bustitle{
		width: 99px; 
		height: 35px;
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.c-bus-btnselect{
		margin-top: 20px;
		.repon{
			margin: 0 auto;
			display: flex;
		}
		a:first-child{
			margin: 16px 12px 16px 0;
			padding-left: 0;
		}
		a{
			margin: 16px 12px 16px 0;
			padding-left: 12px;
		}
	}
	.c-buscontent,.c-buscontent2{
		margin-top: 40px;
		.u-title{
			.image{
				width: 169px;
				height: 32px;
				padding-bottom: 10px;
			}
			h4{
				font-size: 1.6rem;
			}
		}
		.c-content{
			margin-top: 30px;
			padding-bottom: 0px;
			.media-1{
				overflow: hidden;
				.u-left{
					float: none;
					width: 100%;
					h4{
						font-size: 1.6rem;
						padding-bottom: 0;
					}
					h4:before{
						content: url("../img/mob-src.png");
						margin-right: 3px;
					}
					h3{
						margin-top: 20px;
					}
					hr{
						border: 0.5px solid #4471c6;
					}
					img{
						margin-top: 20px;
					}
				}
			}
			.media-2{
				margin-top: 20px;
				display: block;
				.text-box{
					width: 100%;
					height: 40px;
					margin-left: 0;
					margin-top: 16px;
					.image{
						float: left;
						width: 14px;
						height: 21px;
						margin-right: 5px;
					}
					p{
						float: left;
						width: auto;
						font-size: 1.4rem;
					}
				}
			}
		}
	}
	.c-list-eqmedia{
		margin-top: 30px;
		padding-bottom: 30px;
		.u-title{
			h4{
				font-size: 1.6rem;
			}
		}
		.u-list{
			.media{
				width: 100%;
				float: none;
				margin-left: 0;
			}
		}
	}
}
@media only screen and (max-width: 650px){
	.c-topcontent{
		.c-box1{
			margin-top: 350px;
		}
	}
	.c-advan{
		margin-top: 286px;
	}
}
@media only screen and (max-width: 599px){
	.c-topcontent{
		.c-box1{
			margin-top: 180px;
		}
	}
	.c-advan{
		margin-top: 140px;
	}
	.c-comct1{
		.c-listlogo{
			.for-mob{
				.logo:nth-child(2n+1){
					margin-left: 0;
				}
			}
		}
	}
}
