@charset "UTF-8";
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body{
	background-image: url("../img/background1.png");
	max-width: 1920px;
	min-width: 1000px;
	margin: 0 auto;
}
.not-bg{
	background: none;
}
.container2{
	width: 1840px;
	margin: 0 auto;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.web{
	display: block;
}
.mob{
	display: none;
}
@media only screen and (max-width: 1280px){
	.container2{
		width: 1200px;
	}
}
@media only screen and (max-width: 768px){
	body{
		max-width: none;
		min-width: auto;
	}
	.container{
		width: 94%;
	}
	.web{
		display: none;
	}
	.mob{
		display: block;
	}
	.w100{
		width: 100%;
	}
}