@charset "UTF-8";
/*------------------------------------------------------------
	background
------------------------------------------------------------*/
#bg-header{
	background-image: url("../img/dex-slide1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 840px;
}
#bg-header1280{
	background-image: url("../img/1280-slide.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 960px;
}
#bg-ftbanner{
	background-image: url("../img/1280-bg-ft.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
}
/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-silde{
	height: 960px;
	.u-logo{
	    padding-top: 34px;
		overflow: hidden;
		img{
			float: right;
			margin-right: 40px;
		}
		img:first-child{
			float: left;
			margin-left: 40px;
			margin-top: 7px;
		}
		a{
			float: right;
			width: 190px;
			padding: 12px 20px 12px 20px;
			text-decoration: none;
			display: flex;
			border: 1px solid #000;
			border-radius: 4px;
			margin-right: 19px;
			img:first-child{
				float: none;
				margin-left: 0;
				margin-top: 6px;
			}
			img{
				display: inline-block;
				width: 24px;
				height: 16px;
				margin-right: 10px;
			}
		}
		p{
			color: #000;
			font-size: 1.5rem;
			font-weight: 500;
		}
		// p:before{
		// 	content: url("../img/1280-email.png");
		// 	margin-right: 10px;
		// }
	}
	.u-logo2{
		overflow: hidden;
		margin-top: 187px;
		margin-right: 80px;
		img{
			float: right;
			margin-left: 39px;
		}
		img:last-child{
			margin-left: 0;
		}
	}
	.u-content{
		margin-top: 232px;
	}
}
.c-menu{
	background-color: #fff;
	border-bottom: 1px solid #0075a9;
	ul{
		display: -webkit-box;
		display: flex;
	}
	li{
		width: 25%;
		border-right: 1px solid #999;
	}
	li:first-child{
		border-left: 1px solid #999;
	}
	a{
	    padding: 27px 0 25px 0;
		text-decoration: none;
		font-size: 1.6rem;
		font-weight: 500;
		color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	img{
		margin-bottom: 10px;
	}
	div{
		text-align: center;
	}
	&--1280{
		margin-top: 226px;
		background: none;
		border: none;
		li{
			border: none;
		}
		li:first-child{
			border: none;
		}
		a{
			padding: 0;
		}
	}
}
.c-listmedia-1{
	margin-top: 81px;
	display: -webkit-box;
	.media{
		width: 300px;
		height: 294px;
		background-color: #007bb1ba;
		border-radius: 8px;
		margin-left: 30px;
		.u-text{
			padding: 15px 0 15px 0;
			color: #fff;
			text-align: center;
		}
		h6{
			font-size: 1.6rem;
			padding-bottom: 8px;
		}
		p{
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 23px;
		}
		img{
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
		.stick{
			width: 18px;
			height: 30px;
			position: relative;
			margin: -15px auto 0;
		}

	}
	.media:first-child{
		margin-left: 0;
	}
}
.c-listmedia-2{
	margin-top: 60px;
	display: -webkit-box;
	.media{
		width: 300px;
		margin-left: 30px;
		img{
			border-radius: 5px;
		}
		.u-text{
			text-align: center;
			padding: 18px 0 18px 0;
			h6{
				font-size: 1.6rem;
				color: #0068b7;
				padding-bottom: 13px;
			}
			p{
				font-size: 1.4rem;
				font-weight: 500;
			}
		}
	}
	.media:first-child{
		margin-left: 0;
	}
}
.c-listmedia-3{
	margin-top: 60px;
	margin-bottom: 77px;
	overflow: hidden;
	.u-left{
		float: left;
		width: 440px;
		.media{
			margin-top: 38px;
			h6{
				font-size: 1.4rem;
				color: #0075a9;
				padding-bottom: 13px;
				font-weight: 500;
			}
			p{
				font-size: 1.6rem;
				font-weight: 500;
			}
		}
	}
	.u-right{
		float: right;
		width: 440px;
		.u-title{
			padding-bottom: 10px;
		}
		.media{
			margin-top: 30px;
			overflow: hidden;
			img{
				float: left;
				border-radius: 8px;
			}
			.u-text{
				float: left;
				margin-left: 16px;
				font-weight: 500;
				h6{
					font-size: 1.4rem;
					color: #0075a9;
					padding-bottom: 10px;
				}
				span{
					font-size: 1.4rem;
					color: #666666;
				}
				span:before{
					content: (" | ")
				}
				p{
					width: 336px;
					font-size: 1.6rem;
					font-weight: 500;
					line-height: 23px;
				}
			}
		}
	}
	.u-btn-link{
		text-align: center;
		margin-top: 40px;
		button{
			padding: 12px 22px 12px 22px;
			background-color: white;
			border: 1px solid #ccc;
			border-radius: 25px;
			b{
				font-size: 1.4rem;
				font-weight: 500;
			}
			b:after{
				content: url("../img/icon-agrow-right.png");
				margin-left: 10px;
			}
		}
	}
}
.c-line{
	border-bottom: 1px solid #0075a9;
}
.c-line-ddd{
	border-bottom: 1px solid #dddddd7a;
}
.c-ftmenu{
	padding-top: 38px;
	padding-bottom: 54px;
	background-color: #f8f8f8;
	overflow: hidden;
	h5{
		font-size: 1.5rem;
		color: #003567;
		padding: 20px 0 16px 0;
	}
	ul:last-child{
		margin-right: 0;
		padding-top: 15px;
	}
	ul{
		width: 150px;
		float: left;
		margin-right: 40px;
	}
	a{
		text-decoration: none;
		font-size: 1.3rem;
		font-weight: 500;
		padding: 5px 0 5px 5px;
		color: #000;
		display: flex;
		line-height: 18px;
	}
	a:before{
		content: url("../img/icon-agrow-right.png");
		margin-right: 3px;
	}
	&--ftmenu2{
		padding-bottom: 44px;
		ul{
			width: 100%;
			overflow: hidden;
			margin-bottom: 24px;
		}
		li:first-child{
			margin-left: 0;
		}
		li{
			float: left;
			margin-left: 72px;
		}
	}

}
.c-plugin{
	padding: 39px 0 40px 0;
	background-color: white;
	display: flex;
	img{
		float: left;
		margin-left: 15px;
	}
	a{
		text-decoration: none;
	}
	a:first-child{
		img{
			margin-left: 0;
		}
	}
}
.c-ftinfo{
	background-color: #003567;
	padding: 60px 0 0 0;
	.u-ftlogo{
		overflow: hidden;
		.u-logo{
			float: left;
			padding-top: 10px;
		}
		.u-contact{
			float: left;
			margin-left: 165px;
			border: 1px solid #ffffff7a;
			border-radius: 4px;
			a{
				width: 230px;
				padding: 20px 0 20px 0;
				text-decoration: none;
				color: white;
				background: none;
				display: flex;
				font-size: 1.5rem;
			}
			a:before{
				content: url("../img/dex-ftmail.png");
				margin-right: 10px;
				margin-left: 22px;
			}
		}
		.u-phone{
			float: left;
			margin-left: 18px;
			margin-top: 3px;
		}
	}
	.u-address{
		padding-top: 40px;
		padding-bottom: 59px;
		overflow: hidden;
		.cont{
			float: left;
		}
		h5{
			font-size: 1.4rem;
			color: #bfccd9;
			padding: 2px 0 10px 0;

		}
		p{
			font-size: 1.2rem;
			font-weight: 500;
			color: #bfccd9;
			line-height: 19px;
		}
		img{
			float: left;
			padding: 5px 30px 0 31px;
		}
		.logo-green{
			float: right;
			img{
				padding: 0;
			}
		}
	}
	.tm{
		p{
			font-size: 1.2rem;
			color: #bfccd9;
			padding: 33px 0 33px 0;
			text-align: center;
		}
	}
}
.btn-top{
	position: fixed;
	right: 10px;
	bottom: 10px;
    box-shadow: #4471c696 0px 3px 10px;
}
.c-cont1{
	padding-bottom: 80px;
	.u-title:first-child{
		padding: 30px 0 30px 0;
	}
	.u-title{
		padding: 60px 0 30px 0;
	}
	.card-lg,.card-md,.card-sm{
		position: relative;
		display: inline-block;
		img{
			border-radius: 5px;
		}
	}
	.card-lg{
		width: 910px;
		height: 445px;
		margin-right: 17px;
	}
	.card-md{
		width: 445px;
		height: 445px;
		margin-right: 17px;
	}
	.card-sm{
		width: 445px;
		height: 215px;
		display: block;
		margin-top: 15px;
	}
	.card-sm:first-child{
		margin-top: 0;
	}
	.card-double{
		display: inline-grid;
	}
	.list-md{
		.card-md:last-child{
			margin-right: 0;
		}
	}
	.overlay{
		padding: 20px 0 20px 0;
		background: rgba(0, 0, 0, 0.4);
		position: absolute;
		bottom: 0;
		width: 100%;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		h5{
			color: #fff;
			font-size: 1.6rem;
			margin-left: 31px;
			width: 335px;
			line-height: 20px;
		}
		.icon-stick{
			width: 18px;
			height: 30px;
			position: absolute;
			margin-left: 50%;
			top: -12px;
		}
		p,h6{
			font-size: 1.2rem;
			font-weight: 500;
			color: #fff;
			letter-spacing: 1px;
			padding-top: 12px;
			margin-left: 31px;
		}
		p:before{
			content: url("../img/1280-clock.png");
			margin-right: 3px;
		}
		.btn-sm{
			width: 64px;
			padding: 5px 0 5px 0;
			border-radius: 4px;
			background-color: #32b16c;
			font-size: 1.2rem;
			font-weight: bold;
			color: #fff;
			display: inline-block;
			&--brown{
				background-color: #7e6b5a;
			}
			&--purple{
				background-color: #8957a1;
			}
			&--blue{
				background-color: #0075a9;
			}
			&--orange{
				background-color: #f39800;
			}

		}
		.list-btn{
			margin:3px 0 15px 31px;
		}
	}
}
.c-ftbanner{
	padding: 40px 0 38px 0;
	overflow: hidden;
	h4{
		float: left;
		font-size: 2rem;
		width: 460px;
		margin-top: 26px;
	}
	a{
		float: right;
		width: 190px;
		padding: 18px 20px 18px 20px;
		text-decoration: none;
		display: flex;
		border: 1px solid #000;
		border-radius: 4px;
		margin-right: 19px;
		img:first-child{
			float: none;
			margin-left: 0;
			margin-top: 6px;
		}
		img{
			display: inline-block;
			width: 24px;
			height: 16px;
			margin-right: 10px;
		}
	}
	p{
		color: #000;
		font-size: 1.5rem;
		font-weight: 500;
	}
	.u-phone{
		float: right;
	}
}
@media only screen and (max-width:1280px){
	#bg-header1280{
		background-image: url("../img/slide-1280.jpg");
		height: 640px;
	}
	.c-silde{
		.u-logo2{
		img{
			width: 288px;
			height: 240px;
		}
		img:last-child{
			width: 240px;
			height: 240px;
		}
		}
	}
	.c-menu{
		&--1280{
			margin-top: 40px;
		}
	}
	.c-cont1{
		padding-bottom: 80px;
		.card-lg,.card-md,.card-sm{
			position: relative;
			display: inline-block;
			img{
				border-radius: 5px;
			}
		}
		.card-lg{
			width: 590px;
			height: 288px;
			margin-right: 17px;
			img{
				width: 100%;
			}
		}
		.card-md{
			width: 285px;
			height: 285px;
			margin-right: 17px;
			img{
				width: 100%;
			}
		}
		.card-sm{
			width: 285px;
			height: 138px;
			display: block;
			margin-top: 15px;
			img{
				width: 100%;
			}
		}
	}
}
@media only screen and (max-width: 768px){
	#bg-header{
		background-image: url("../img/mob-slide.jpg");
		height: auto;
	}
	.c-menu-sp{
		overflow: hidden;
		position: fixed;
		width: 100%;
		padding: 10px 0 10px 0;
		z-index: 9999;
		transition:500ms ease;
		background:transparent;
	}
	.c-silde{
		overflow: hidden;
		.u-logo{
			padding-top: 0;
			float: left;
			width: 157px;
			height: 20px;
			margin-left: 20px;
			img{
				float: none;
				margin-right: 0;
				width: 100%;
			}
			img:first-child{
				float: none;
				margin: 0;
			}
		}
		.u-content{
			width: 300px;
			height: 131px;
			margin-top: 0;
			padding: 177px 0 550px 0;
			img{
				width: 100%;
			}
		}
		.c-menuSP{
			width: 25px;
			height: 25px;
			float: right;
			background-color: #fff;
			padding: 10px;
			border-radius: 4px;
			margin-right: 10px;
		}
		.c-menuSP__1,.c-menuSP__2,.c-menuSP__3{
			width: 100%;
			height: 2px;
			background: #0075a9;
			margin: 5px auto;
			backface-visibility: hidden;
		}
		.is-open{
			.c-menuSP__1 {
				-webkit-transform: rotate(45deg) translate(4px, 4px);
				-ms-transform: rotate(45deg) translate(4px, 4px);
				transform: rotate(45deg) translate(4px, 4px);
				background: #0075a9 !important;
			}
			.c-menuSP__2 {
				opacity: 0;
			}
			.c-menuSP__3 {
				-webkit-transform: rotate(-45deg) translate(6px, -6px);
				-ms-transform: rotate(-45deg) translate(6px, -6px);
				transform: rotate(-45deg) translate(6px, -6px);
				background: #0075a9 !important;
			}
		}
		.c-menulistSP{
			position: fixed;
			top: 65px;
			left: 0;
			width: 100%;
			display: none;
			background-color:  #FFF;
			overflow-y: auto;
			ul{
				height: 100vh;
				li{
					width: 100%;
					border-bottom: 1px solid #ddd;
					overflow: hidden;
				}
				li:first-child{
					border-top: 1px solid #0075a9;
				}
				a{
					width: 100%;
					text-decoration: none;
					padding: 20px 10px 20px 10px;
					display: inline-block;
					overflow: hidden;
				}

				h5{
					font-size: 1.5rem;
					color: #003567;
					float: left;
					margin-top: 5px;
				}
				p{
					font-size: 1.3rem;
					font-weight: 500;
					float: left;
					color: #000;
					margin-left: 50px;
				}
				.ag2{
					width: 20px;
					height: 20px;
					float: right;
					margin-right: 30px;
				}
				.ag1{
					width: 7px;
					height: 12px;
					float: right;
					margin-right: 36px;
				}
				img{
					width: 100%;
				}
				.imgcal{
					width: 22px;
					height: 24px;
				}
				.imgtaxi{
					width: 24px;
					height: 24px;
				}
				.imgcom{
					width: 22px;
					height: 24px;
				}
				.imgleaf{
					width: 26px;
					height: 22px;
				}
				.imgflag{
					width: 24px;
					height: 24px;
				}
				.imgre{
					width: 24px;
					width: 24px;
				}
				.imgcal,.imgtaxi,.imgcom,.imgleaf,.imgflag,.imgre{
					margin-right: 16px;
					float: left;
					margin-left: 10px;
				}
			}
		}
	}
	.c-listmedia-1{
		margin-top: 20px;
		display: block;
		text-align: center;
		.media{
			float: none;
			width: 280px;
			height: auto;
			margin-left: 0;
			margin-top: 10px;
			display: inline-block;
			h6{
				font-size: 1.5rem;
			}
			p{
				font-size: 1.3rem;
			}
			.stick{
				width: 18px;
				height: 18px;
			}
			img{
				width: 100%;
			}
		}
	}
	.c-listmedia-2{
		margin-top: 20px;
		display: block;
		text-align: center;
		.media{
			width: 280px;
			height: 112px;
			margin-left: 0;
			float: none;
			display: inline-block;
			margin-top: 10px;
			.image{
				width: 280px;
				height: 112px;
			}
			img{
				width: 100%;
			}
			.u-text{
				display: none;
			}
		}
	}
	.c-listmedia-3{
		margin-top: 20px;
		margin-bottom: 30px;
		overflow: hidden;
		.u-left{
			float: none;
			width: 100%;
			.u-title{
				width: 190px;
				height: 59px;
				margin: 0 auto;
				padding-bottom: 20px;
				img{
					width: 100%;
				}
			}
			.media{
				margin-top: 0;
				padding: 10px;
				overflow: hidden;
				background-color: #fff;
				border: 1px solid #ddd;
				h6{
					font-size: 1.1rem;
					width: 200px;
				}
				p{
					font-size: 1.3rem;
					width: 240px;
				}
				.for-mob{
					float: left;
				}
				.image{
					float: right;
					width: 7px;
					height: 12px;
					padding: 20px 0 20px 0;
					img{
						width: 100%;
					}
				}
			}
		}
		.u-right{
			float: none;
			width: 100%;
			.u-title{
				padding-bottom: 10px;
				width: 136px;
				height: 58px;
				margin: 0 auto;
				margin-top: 20px;
				img{
					width: 100%;
				}
			}
			.media{
				margin-top: 0;
				overflow: hidden;
				background-color: #fff;
				padding: 10px;
				border: 1px solid #ddd;
				.u-text{
					margin-left: 10px;
					font-weight: 500;
					width: 100%;
					overflow: hidden;
					h6{
						font-size: 1.1rem;
					}
					span{
						font-size: 1.1rem;
					}
					p{
						float: left;
						width: 65%;
						font-size: 1.3rem;
					}
					.imgsm{
						float: left;
						img{
							width: 60px; 
							height: 60px;
							margin-right: 10px;
						}
					}
					.icon{
						float: right;
						height: auto;
						margin-right: 10px;
						margin-top: 5px;
						img{
							width: 7px;
							height: 12px;
						}
					}
				}
			}
		}
		.u-btn-link{
			text-align: center;
			margin-top: 0;
			button{
				padding: 20px 10px 20px 10px;
				width: 100%;
				border: 1px solid #ddd;
				border-radius: 0;
				text-align: left;
				b{
					font-size: 1.3rem;
				}
				b:after{
					content: url("");
					margin-left: 0;
				}
				img{
					width: 7px;
					height: 12px;
					float: right;
				}
			}
		}
	}
	.c-plugin{
		padding: 30px 0 30px 0;
		width: 618px;
		margin: 0 auto;
		img{
			width: 135px;
			height: 54px;
			margin-left: 10px;
			margin-top: 10px;
		}
		img:first-child{
			display: none;
		}
		a:first-child{
			img{
				margin-left: 10px;
			}
		}
	}
	.c-ftinfo{
		padding: 30px 0 0 0;
		.u-ftlogo{
			.u-logo{
				width: 99%;
				float: none;
				padding: 20px 0 20px 0;
				border: 1px solid #ddd;
				border-radius: 4px;
				img{
					width: 240px;
					height: 48px;
					margin: 0 auto;
				}
			}
			.u-contact{
				float: none;
				margin-left: 0;
				width: 99%;
				margin-top: 10px;
				a{
					width: 196px;
					font-size: 1.4rem;
					margin: 0 auto;
				}
			}
			.u-phone{
				float: none;
				margin-left: 0;
				width: 157px;
				height: 20px;
				margin: 0 auto;
				margin-top: 30px;
				img{
					width: 100%;
				}
			}
		}
		.u-address{
			padding: 20px 0 20px 0;
			.cont{
				float: none;
			}
			h5{
				border: 1px solid #ddd;
				border-radius: 4px;
				font-size: 1.3rem;
				padding: 10px 0 10px 0;
				margin: 10px 0 10px 0;
				text-align: center;
	
			}
			p{
				font-size: 1.1rem;
				text-align: center;
			}
			img{
				float: left;
				padding: 5px 30px 0 31px;
			}
			.logo-green{
				float: none;
				width: 60px;
				height: 60px;
				margin: 0 auto;
				img{
					padding-top: 30px;
					width: 100%;
				}
			}
		}
		.tm{
			p{
				width: 60%;
				font-size: 1.2rem;
				color: #bfccd9;
				padding: 33px 0 33px 0;
				margin: 0 auto;
			}
		}
	}
	.btn-top{
		border-radius: 5px;
		img{
			width: 40px;
			height: 40px;
		}
	}
}
@media only screen and (max-width: 499px){
	.c-silde{
		.u-content{
			padding: 80px 0 209px 0;
		}
	}
	.c-plugin{
		width: 310px;
	}
}
