@charset "UTF-8";
/*------------------------------------------------------------
	background
------------------------------------------------------------*/
#bg-cont01 {
  background-image: url("../img/bg-slide.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1004px;
}

#bg-cont03 {
  background-image: url("../img/cont03-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 765px;
}

#bg-slider {
  background-image: url("../img/slide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

#bg-information {
  background-color: #eeeeee;
  height: 367px;
}

#bg-arrows {
  background-color: #33c49d;
  height: 295px;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-menu {
  margin-top: 36px;
  font-size: 1.8rem;
}

.c-menu ul {
  display: -webkit-box;
  float: right;
}

.c-menu li {
  letter-spacing: 1px;
  margin-right: 40px;
}

.c-menu i {
  border: solid #ff1e5b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
}

.c-menu .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.c-menu a {
  text-decoration: none;
  color: black;
}

.c-slider .u-img {
  margin-right: 112px;
  float: right;
  margin-top: 228px;
}

.c-cont01 {
  width: 1475px;
  margin: 0 auto;
}

.c-cont01 .u-list-card {
  margin-top: 111px;
  margin-left: 16px;
  overflow: hidden;
}

.c-cont01 .u-list-card .card-01 {
  float: left;
}

.c-cont01 .u-list-card .card-02 {
  float: left;
  margin-left: 11px;
}

.c-cont01 .u-list-card .card-03 {
  float: left;
  margin-left: 8px;
}

.c-cont01 .u-btn {
  width: 474px;
  height: 77px;
  margin-top: 41px;
  margin-left: 16px;
  overflow: hidden;
  background-color: #ff1e5b;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 42px;
  cursor: pointer;
  letter-spacing: 1px;
}

.c-cont01 .u-btn i {
  margin-left: 57px;
  margin-top: 4px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.c-cont01 .u-btn .u-right {
  float: left;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.c-cont01 .u-btn:hover {
  background-color: #ff5684;
}

.c-cont02 {
  margin-top: 120px;
}

.c-cont02 .u-tilte {
  margin-left: 531px;
}

.c-cont02 .u-banner {
  margin-top: 49px;
  margin-left: 8px;
}

.c-cont02 table {
  border-collapse: collapse;
  border: 1px solid #c8c8c8;
}

.c-cont02 .u-table {
  width: 1438px;
  margin-left: 8px;
  margin-top: 35px;
  border-top: 1px solid #c8c8c8;
  text-align: center;
  font-size: 1.5rem;
}

.c-cont02 .u-table p {
  padding: 2px 0;
}

.c-cont02 .u-table th, .c-cont02 .u-table td {
  border-bottom: 1px solid #c8c8c8;
  padding: 15px 0;
}

.c-cont02 .u-table th {
  background-color: #10222b;
}

.c-cont02 .u-table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.c-cont02 .u-table .col-f {
  font-size: 2rem;
  color: white;
}

.c-cont02 .u-table .col-sa {
  width: 264px;
  text-align: left;
  font-weight: bold;
}

.c-cont02 .u-table .col-sa p {
  margin-left: 28px;
}

.c-cont02 .u-table .col-sb {
  width: 321px;
  font-weight: 500;
  color: #3c3c3c;
  text-align: left;
}

.c-cont02 .u-table .col-sm {
  width: 285px;
  border: 1px solid #c8c8c8;
  font-weight: bold;
}

.c-cont02 .u-table .u-pink {
  color: #ff1e5b;
}

.c-cont02 .u-table .cross {
  position: relative;
  display: inline-block;
}

.c-cont02 .u-table .cross::after {
  content: '';
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}

.c-cont02 .u-table .cross::after {
  border-bottom: 1px solid #ff1e5b;
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.c-cont02 .u-btn-list {
  margin-left: 8px;
  margin-top: 16px;
  font-size: 1.5rem;
  overflow: hidden;
}

.c-cont02 .u-btn-list .btn-a {
  cursor: pointer;
  width: 248px;
  height: 30px;
  background-color: #33c49d;
  color: #ffffff;
  font-weight: bold;
  float: left;
}

.c-cont02 .u-btn-list .btn-b {
  cursor: pointer;
  margin-left: 23px;
  width: 97px;
  height: 30px;
  background-color: #0080ae;
  float: left;
  color: #ffffff;
  font-weight: bold;
}

.c-cont02 .u-btn-list .u-text {
  float: left;
  margin-top: 7px;
  margin-left: 16px;
}

.c-cont03 {
  text-align: center;
}

.c-cont03 .u-tilte {
  margin-left: 395px;
}

.c-cont03 .u-text {
  font-size: 1.8rem;
  color: white;
  margin-top: 58px;
  margin-left: 90px;
}

.c-cont03 .u-text p {
  margin: 10px 0 10px 0;
}

.c-cont03 .p-h169 {
  height: 169px;
}

.c-cont03 .u-btn-list {
  overflow: hidden;
}

.c-cont03 .u-btn-list .u-btn {
  width: 420px;
  height: 90px;
  background-color: #0000004d;
  border-radius: 48px;
  float: left;
  border: 1px solid #ffffff;
  margin-top: 17px;
  cursor: pointer;
}

.c-cont03 .u-btn-list .u-btn .hover {
  display: none;
}

.c-cont03 .u-btn-list .u-btn .no-hover {
  display: inline;
}

.c-cont03 .u-btn-list .u-btn:hover {
  background-color: #ffffff;
}

.c-cont03 .u-btn-list .u-btn:hover .no-hover {
  display: none;
}

.c-cont03 .u-btn-list .u-btn:hover .hover {
  display: inline;
}

.c-cont03 .text-small {
  width: 420px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin-left: 749px;
  margin-top: 14px;
  letter-spacing: 0.4px;
}

.c-cont03 .text-small p {
  margin: 5px 0 5px 0;
}

.c-cont03 .p-mf289 {
  margin-left: 289px;
}

.c-cont03 .p-mf39 {
  margin-left: 39px;
}

.c-cont04 {
  margin-left: 229px;
}

.c-cont04 .u-tilte {
  margin-left: 124px;
  margin-top: -17px;
}

.c-cont04 .u-infobox {
  width: 1000px;
  height: 288px;
  font-size: 1.5rem;
  overflow: hidden;
  border: 1px solid #dddddd;
  margin-top: 49px;
}

.c-cont04 .u-infobox .u-left {
  float: left;
  margin-top: 31px;
  margin-left: 30px;
}

.c-cont04 .u-infobox .u-right {
  float: left;
  width: 625px;
  margin-top: 40px;
  margin-left: 28px;
}

.c-cont04 .u-infobox .u-right .u-textbox {
  width: 636px;
  height: 125px;
  background-color: #f0f0f0;
  margin-top: 24px;
}

.c-cont04 .u-infobox .u-right .u-textbox ul {
  padding: 25px;
}

.c-cont04 .u-infobox .u-right .u-textbox li {
  margin: 0 0 8px 24px;
}

.c-cont04 .u-infobox .u-right .u-textbox li::before {
  content: "•";
  color: #33c49d;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 2rem;
}

.c-cont04 .u-infobox .tilte {
  font-size: 1.8rem;
  font-weight: bold;
}

.c-cont04 .u-infobox p {
  margin: 0px 0 18px 0;
}

.c-cont05 {
  margin-top: 119px;
}

.c-cont05 .u-tilte {
  margin-left: 425px;
}

.c-cont05 .u-list-img {
  overflow: hidden;
  margin-top: 50px;
  margin-left: 9px;
}

.c-cont05 .u-list-img .img {
  float: left;
}

.c-cont05 .u-list-img .opa {
  opacity: 0.4;
}

.c-cont05 .u-list-img .text {
  opacity: 1;
  font-size: 1.8rem;
  color: red;
  margin-top: -110px;
  position: absolute;
  margin-left: 80px;
}

.c-cont05 .p-mf15 {
  margin-left: 15px;
}

.c-cont06 {
  margin-top: 128px;
}

.c-cont06 .u-tilte {
  width: 500px;
  margin-left: 239px;
}

.c-cont06 .u-contact {
  overflow: hidden;
  position: relative;
}

.c-cont06 .u-contact .g-map {
  position: relative;
  float: left;
  z-index: 100;
  margin-top: 60px;
}

.c-cont06 .u-contact .map-size {
  width: 1105px;
  height: 479px;
}

.c-cont06 .u-contact .bg {
  float: right;
  margin-right: 62px;
  margin-top: -509px;
}

.c-cont06 .u-contact .tab {
  float: left;
  width: 760px;
  height: 417px;
  background-color: #10222b;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  position: absolute;
  margin-left: 1140px;
  margin-top: -38px;
}

.c-cont06 .u-contact .tab td {
  border-bottom: 1px solid #dddddd;
}

.c-cont06 .u-contact .tab p {
  margin: 12px 0 12px 0;
}

.c-cont06 .u-contact .tab table {
  border-collapse: collapse;
  width: 472px;
  margin-top: 75px;
  margin-left: 60px;
}

.c-information {
  font-size: 1.5rem;
  font-weight: 500;
  color: #404040;
  text-align: center;
}

.c-information .u-tilte {
  margin-left: 570px;
}

.c-information .u-text {
  margin-top: 55px;
  letter-spacing: 0.6px;
  margin-left: 28px;
}

.c-information .p-h96 {
  height: 96px;
}

.c-arrows {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
}

.c-arrows .u-btn {
  border-radius: 46px;
  margin-left: 14px;
  width: 480px;
  height: 90px;
  background-color: #ffffff;
}

.c-arrows .u-btn .web {
  margin-left: 70px;
}

.c-arrows .p-h49 {
  height: 49px;
}

.c-arrows .u-text {
  margin-top: 29px;
  letter-spacing: 0.5px;
  margin-left: 18px;
}

.c-arrows .u-text p {
  margin: 10px 0 10px 0;
}

.c-copa {
  background-color: #3c3c3c;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  height: 38px;
  letter-spacing: 0.5px;
}

.c-copa p {
  padding: 10px;
}

#myBtn {
  width: 100px;
  height: 100px;
  display: none;
  position: fixed;
  bottom: 90px;
  right: 64px;
  z-index: 999;
  border: none;
  outline: none;
  background-color: #1e90a294;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

#myBtn .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#myBtn i {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 18px;
  margin-top: 16px;
}

#myBtn:hover {
  background-color: #1e90a2d9;
}

/*------------------------------------------------------------
	page
------------------------------------------------------------*/
.p-cont01 {
  margin-top: -234px;
}

.p-cont01 .u-campaign {
  margin-left: 70px;
}

.p-cont01 .p-h125 {
  height: 125px;
}

.p-cont03 {
  margin-top: 130px;
}

.p-mt84 {
  margin-top: 84px;
}

@media only screen and (max-width: 768px) {
  #bg-slider {
    background-image: url("../img/mob-bg-slide.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
  }
  #bg-01 {
    background-image: url("../img/bg-01.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #bg-02 {
    background-image: url("../img/bg-02.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #bg-03 {
    background-color: black;
  }
  #bg-cont01 {
    background-image: url("../img/mob-bg-cont01.png");
    background-size: 100%;
    height: auto;
  }
  #bg-cont03 {
    background-image: url("../img/mob-cont03-bg.png");
    background-size: 100%;
    height: auto;
  }
  #bg-information {
    height: 200px;
  }
  #bg-arrows {
    height: 230px;
  }
  .p-cont01 {
    margin-top: -7%;
    position: relative;
  }
  .p-cont01 .p-h125 {
    height: 1px;
  }
  .p-cont01 .u-campaign {
    width: 143px;
    height: 48px;
    margin: 0 auto;
    margin-top: 15%;
  }
  .p-cont03 {
    margin-top: 50px;
  }
  .p-mt180 {
    margin-top: 40px;
  }
  .c-slider-top {
    overflow: hidden;
    width: 100%;
  }
  .c-slider-top .u-logo {
    float: left;
    width: 50%;
    padding: 16px 0 15px 0;
  }
  .c-slider-top .u-logo .logo {
    width: 128px;
    height: 62px;
    margin: 0 auto;
  }
  .c-slider-top .u-text {
    float: right;
    width: 50%;
  }
  .c-slider-top .u-text .text1 {
    padding: 10px 0 10px 0;
    width: 107px;
    height: 28px;
    margin: 0 auto;
  }
  .c-slider-top .u-text .text2 {
    padding: 10px 0 10px 0;
    width: 136px;
    height: 25px;
    margin: 0 auto;
  }
  .c-box-slider {
    width: 255px;
    height: 122px;
    margin: 0 auto;
    margin-top: 514px;
    padding-bottom: 42px;
  }
  .c-cont01 {
    width: 96%;
    margin: 0 auto;
    margin-top: 22%;
  }
  .c-cont01 .u-list-card {
    overflow: hidden;
    margin-top: 0px;
    margin-left: 0px;
    max-width: 300px;
    margin: 0 auto;
  }
  .c-cont01 .u-list-card .card-01 {
    width: 300px;
    height: 193px;
  }
  .c-cont01 .u-list-card .card-02 {
    width: 148px;
    height: 211px;
    float: left;
    margin-left: 0px;
    margin-top: 16px;
  }
  .c-cont01 .u-list-card .card-03 {
    width: 148px;
    height: 211px;
    float: left;
    margin-left: 1px;
    margin-top: 16px;
  }
  .c-cont01 .u-btn {
    width: 281px;
    height: 46px;
    margin-top: 30px;
    margin-left: 0px;
    font-size: 1.2rem;
  }
  .c-cont01 .u-btn i {
    margin-left: 20px;
    margin-top: 2px;
  }
  .c-cont01 .u-btn .u-text {
    margin-left: 10px;
  }
  .c-cont01 .p-h50 {
    height: 50px;
  }
  .c-cont02 {
    width: 100%;
    margin-top: 60px;
  }
  .c-cont02 .u-tilte {
    width: 145px;
    height: 33px;
    margin: 0 auto;
  }
  .c-cont02 .u-banner {
    width: 290px;
    height: 115px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .c-cont02 .btn-tilte {
    background-color: #10222b;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    height: 45px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .c-cont02 .u-collapse .collapsible {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 60px;
    border: none;
    text-align: left;
    outline: none;
    border-bottom: 1px solid #c8c8c8;
    overflow: hidden;
  }
  .c-cont02 .u-collapse .collapsible .text-big {
    width: 113px;
    float: left;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
  }
  .c-cont02 .u-collapse .collapsible .text-small {
    width: 138px;
    float: left;
    font-size: 1rem;
    font-weight: 500;
    color: #999999;
    margin-left: 5px;
    margin-top: 3px;
  }
  .c-cont02 .u-collapse .collapsible p {
    margin: 0;
  }
  .c-cont02 .u-collapse .content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  .c-cont02 .u-collapse .collapsible:after {
    content: url("../img/ad.png");
    float: right;
  }
  .c-cont02 .u-collapse .active:after {
    content: url("../img/re.png");
  }
  .c-cont02 .u-collapse td {
    border: 1px solid #c8c8c8;
  }
  .c-cont02 .u-collapse p {
    margin: 20px 20px 20px 20px;
  }
  .c-cont02 .u-collapse .tab {
    width: 96%;
    font-size: 1.2rem;
    margin: 4%  2% 4% 2%;
  }
  .c-cont02 .u-collapse .col-a {
    font-weight: bold;
    width: 40%;
    height: 50px;
  }
  .c-cont02 .u-collapse .col-b {
    width: 60%;
    height: 50px;
  }
  .c-cont02 .u-btn-list {
    width: 90%;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 1.6rem;
    margin: 0 auto;
  }
  .c-cont02 .u-btn-list .btn-a {
    margin-top: 20px;
    width: 100%;
    height: 30px;
  }
  .c-cont02 .u-btn-list .btn-b {
    margin-top: 14px;
    margin-left: 0px;
    width: 100%;
    height: 30px;
  }
  .c-cont02 .u-btn-list .u-text {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 14px;
    margin-left: 0px;
  }
  .c-cont03 {
    width: 90%;
    margin: 0 auto;
  }
  .c-cont03 .p-h169 {
    height: 100px;
  }
  .c-cont03 .u-tilte {
    width: 255px;
    height: 107px;
    margin-left: 0px;
    margin-top: 20%;
    margin: 0 auto;
  }
  .c-cont03 .u-text {
    font-size: 1.2rem;
    color: white;
    margin-top: 6%;
    margin-left: 0px;
  }
  .c-cont03 .u-text p {
    margin: 8px 0 8px 0;
  }
  .c-cont03 .u-btn-list {
    width: 281px;
    margin: 0 auto;
  }
  .c-cont03 .u-btn-list .u-btn {
    width: 281px;
    height: 49px;
    margin-top: 10px;
  }
  .c-cont03 .u-btn-list .u-btn .img {
    width: 120px;
    height: 14px;
    margin: 0 auto;
  }
  .c-cont03 .u-btn-list .u-btn .img2 {
    width: 115px;
    height: 29px;
    margin: 0 auto;
  }
  .c-cont03 .u-btn-list .u-btn .no-hover {
    display: none;
  }
  .c-cont03 .u-btn-list .u-btn .hover {
    display: none;
  }
  .c-cont03 .u-btn-list .u-btn:hover {
    background-color: #0000004d;
  }
  .c-cont03 .u-btn-list .u-btn:hover .no-hover {
    display: none;
  }
  .c-cont03 .u-btn-list .u-btn:hover .hover {
    display: none;
  }
  .c-cont03 .p-mf289 {
    margin-left: 0px;
  }
  .c-cont03 .p-mf39 {
    margin-left: 0px;
  }
  .c-cont03 .text-small {
    width: 100%;
    font-size: 1rem;
    margin-left: 0px;
    margin-top: 9px;
  }
  .c-cont03 .p-h50 {
    height: 50px;
  }
  .c-cont04 {
    width: 90%;
    margin: 0 auto;
  }
  .c-cont04 .u-tilte {
    margin-left: 0;
    margin-top: 0px;
    width: 290px;
    height: 34px;
    margin: 0 auto;
  }
  .c-cont04 .p-h34 {
    height: 34px;
  }
  .c-cont04 .u-infobox {
    width: 279px;
    height: 343px;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 49px;
  }
  .c-cont04 .u-infobox .u-left {
    width: 137px;
    height: 102px;
    margin-top: 14px;
    margin-left: 25%;
  }
  .c-cont04 .u-infobox .u-right {
    width: 90%;
    margin-top: 0px;
    margin-left: 0px;
  }
  .c-cont04 .u-infobox .u-right .u-textbox {
    width: 248px;
    height: 93px;
    margin-top: 36px;
    margin-left: 6%;
  }
  .c-cont04 .u-infobox .u-right .u-textbox ul {
    padding: 0;
  }
  .c-cont04 .u-infobox .u-right .u-textbox li {
    margin: 0 0 0 25px;
  }
  .c-cont04 .u-infobox .u-right .u-textbox li::before {
    margin-left: -1em;
    font-size: 2rem;
  }
  .c-cont04 .u-infobox .tilte {
    font-size: 1.6rem;
    margin-left: 29%;
    margin-top: 12px;
  }
  .c-cont04 .u-infobox p {
    margin: 0px 0 14px 16px;
  }
  .c-cont05 {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }
  .c-cont05 .u-tilte {
    margin-left: 0;
    width: 286px;
    height: 34px;
    margin: 0 auto;
  }
  .c-cont05 .u-list-img {
    margin-left: 0;
    width: 572px;
    margin: 0 auto;
    margin-top: 25px;
  }
  .c-cont05 .u-list-img .img {
    width: 137px;
    height: 102px;
    padding: 3px;
  }
  .c-cont05 .u-list-img .text {
    font-size: 0.9rem;
    margin-top: -56px;
    margin-left: 42px;
  }
  .c-cont05 .p-mf15 {
    margin-left: 0px;
  }
  .c-cont06 {
    width: 90%;
    margin: 0 auto;
    margin-top: 46px;
  }
  .c-cont06 .u-tilte {
    width: 201px;
    height: 24px;
    margin-left: 0;
    margin: 0 auto;
  }
  .c-cont06 .u-contact .g-map {
    width: 100%;
    height: 300px;
    z-index: 100;
    margin-top: 30px;
  }
  .c-cont06 .u-contact .map-size {
    width: 100%;
    height: 300px;
  }
  .c-cont06 .u-contact .tab {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
    font-size: 1.2rem;
    position: inherit;
  }
  .c-cont06 .u-contact .tab table {
    width: 90%;
    float: none;
    margin-top: 0;
    margin: 0 auto;
    text-align: center;
  }
  .c-cont06 .u-contact .tab td {
    display: block;
    border: none;
  }
  .c-cont06 .u-contact .tab tr {
    border-top: 1px solid #dddddd;
  }
  .c-information {
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
  }
  .c-information .u-tilte {
    width: 170px;
    height: 51px;
    margin-left: 0px;
    margin: 0 auto;
  }
  .c-information .u-text {
    margin-top: 26px;
    letter-spacing: 1px;
    margin-left: 0px;
  }
  .c-information .p-h96 {
    height: 45px;
  }
  .c-arrows {
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
  }
  .c-arrows .u-btn {
    margin-left: 0px;
    width: 240px;
    height: 50px;
  }
  .c-arrows .u-btn .mob {
    width: 198px;
    margin: 0 auto;
  }
  .c-arrows .p-h49 {
    height: 30px;
  }
  .c-arrows .u-text {
    margin-top: 29px;
    letter-spacing: 0.5px;
    margin-left: 0px;
  }
  .c-arrows .u-text p {
    margin: 5px 0 5px 0;
  }
  .c-copa {
    font-size: 1rem;
    font-weight: 500;
    height: 30px;
  }
  .c-copa p {
    padding: 10px;
  }
  #myBtn {
    width: 50px;
    height: 50px;
    bottom: 45px;
    right: 10px;
  }
  #myBtn i {
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    margin-top: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .c-cont05 .u-list-img {
    width: 288px;
  }
  .c-box-slider {
    margin-top: 224px;
  }
}
