@charset "UTF-8";
.web {
  display: block;
}

.mob {
  display: none;
}

.c-header {
  width: 1050px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header h1 {
  float: left;
}

.c-header ul {
  float: right;
  font-size: 1.6rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.c-header li {
  margin: 20px 20px 20px 0;
}

.c-header a {
  text-decoration: none;
  color: #333;
}

.c-navi {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.c-navi ul {
  width: 1050px;
  margin: 0 auto;
  font-size: 1.4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px solid #ccc;
}

.c-navi ul a {
  height: 40px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EFEFEF;
  color: #333;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-navi ul li {
  width: 25%;
  border-right: 1px solid #ccc;
}

.c-menu {
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
}

.c-menu ul {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-menu li {
  line-height: 1;
  font-size: 1.2rem;
}

.c-menu a {
  color: #333;
  font-weight: 500;
}

.c-menu li::after {
  content: "›";
  display: inline-block;
  margin: 0 7px;
}

.c-menu li:last-child::after {
  content: "";
}

.c-dev-tilte1, .c-dev-tilte2, .c-dev-tilte3 {
  line-height: 1;
  font-size: 1.3rem;
  padding: 6px 0 6px 15px;
  margin: 20px 0 20px 0;
  border-radius: 5px;
}

.c-dev-tilte1 {
  font-size: 1.6rem;
  background: #000;
  color: #FFF;
  margin: 40px 0 20px 0;
}

.c-dev-tilte2 {
  background: #888;
  color: #FFF;
  padding-left: 30px;
}

.c-dev-tilte3 {
  background: #DDD;
  color: #000;
  padding-left: 35px;
}

.c-breadcrumb1 {
  padding: 10px 10px;
}

.c-breadcrumb1 ul {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-breadcrumb1 li {
  line-height: 1;
  font-size: 1.2rem;
}

.c-breadcrumb1 a {
  color: #333;
  font-weight: 500;
}

.c-breadcrumb1 li::after {
  content: "›";
  display: inline-block;
  margin: 0 7px;
}

.c-breadcrumb1 li:last-child::after {
  content: "";
}

.c-breadcrumb1--topline {
  border-top: 1px solid #ccc;
}

.c-breadcrumb1--bottomline {
  border-bottom: 1px solid #ccc;
}

.c-btn {
  display: inline-block;
}

.c-btn a {
  color: #FFF;
  background: #FC6E51;
  border-radius: 30px;
  line-height: 1;
  text-align: center;
  min-width: 200px;
  padding: 13px 0;
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
}

.c-btn a:hover {
  text-decoration: underline;
}

.c-btn--color1 a {
  background: #37BC9B;
}

.c-btn--color2 a {
  background: #3BAFDA;
}

.l-btn {
  text-align: left;
}

.l-btn--center {
  text-align: center;
}

.l-btn--right {
  text-align: right;
}

.l-btn--2center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.l-btn--2center div:last-child {
  margin-left: 30px;
}

.l-btn--2between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.c-tilte4 {
  line-height: 1;
  border-bottom: 1px solid #CCC;
}

.c-tilte4 h2 {
  font-size: 2.2rem;
}

.c-tilte4 p {
  margin-top: 8px;
  font-size: 1.4rem;
}

.c-tilte4__inner {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100px;
}

.l-content {
  width: 800px;
  margin-top: 50px;
}

.c-tilte1 {
  border-left: 8px solid #8CC152;
  margin-bottom: 10px;
}

.c-tilte1 h1, .c-tilte1 h2, .c-tilte1 h3, .c-tilte1 h4, .c-tilte1 h5, .c-tilte1 h6 {
  font-size: 1.6rem;
  padding-left: 15px;
  font-weight: bold;
}

.c-tilte1--color1 {
  border-left-color: #F6BB42;
}

.c-tilte1--color2 {
  border-left-color: #E9573F;
}

.c-tilte1--color3 {
  border-left-color: #F6BB42;
}

.c-tilte1--color4 {
  border-left-color: #F6BB42;
}

.c-tilte1--textcolor1 h1 {
  color: #DA4453;
}

.c-tilte1--textcolor2 h1 {
  color: #3BAFDA;
}

.c-tilte2 {
  border-bottom: 1px solid #333;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.c-tilte2 h1, .c-tilte2 h2, .c-tilte2 h3, .c-tilte2 h4, .c-tilte2 h5, .c-tilte2 h6 {
  font-size: 1.8rem;
  font-weight: bold;
}

.c-tilte2--color1 {
  border-bottom-color: #8CC152;
}

.c-tilte2--color1 h1 {
  color: #8CC152;
}

.c-tilte3 h1, .c-tilte3 h2, .c-tilte3 h3, .c-tilte3 h4, .c-tilte3 h5, .c-tilte3 h6 {
  font-size: 1.4rem;
  font-weight: bold;
}

.c-navi1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.c-navi1 li {
  width: 180px;
}

.c-navi1 a {
  text-decoration: none;
  background: #4FC1E9;
  color: #FFF;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 38px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.c-navi1 a:before {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  margin-right: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -4px;
}

.c-imgtext1 {
  border: 1px solid #CCC;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-imgtext1--bg1 {
  background: #F5F7FA;
}

.c-imgtext1--round {
  border-radius: 10px;
}

.c-imgtext1--imgright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.c-imgtext1__img {
  width: 150px;
  margin-right: 10px;
}

.c-imgtext1__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-imgtext1__text p {
  font-size: 1.2rem;
}

img {
  vertical-align: top;
}

.c-list1__card {
  width: 185px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.c-list1__card:nth-child(4n+1) {
  margin-left: 0px;
}

.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-list1--col3 .c-list1__card {
  width: 253px;
}

.c-list1--col3 .c-list1__card:nth-child(4n+1) {
  margin-left: 20px;
}

.c-list1--col3 .c-list1__card:nth-child(3n+1) {
  margin-left: 0px;
}

.c-list1__info {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-list1__img2 {
  width: 50px;
  margin-right: 10px;
}

.c-list1__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-list1__text h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.c-list1__text p {
  font-size: 1.2rem;
}

.c-list2 ul {
  margin-left: 1.7rem;
}

.c-list2 li {
  list-style-type: disc;
  font-size: 1.4rem;
}

.c-list3 ol {
  margin-left: 1.7rem;
}

.c-list3 li {
  list-style-type: decimal;
  font-size: 1.4rem;
}

.c-list4 ul {
  border-top: 1px solid #CCC;
}

.c-list4 li {
  border-bottom: 1px solid #CCC;
}

.c-list4 a {
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  font-size: 1.3rem;
}

.c-list5 li {
  margin-top: 15px;
}

.c-list5 li:first-child {
  margin-top: 0;
}

.c-list5 a {
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  font-size: 1.3rem;
}

.c-table1 table {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  width: 100%;
  border-collapse: collapse;
}

.c-table1 thead th {
  background: #8CC152;
  color: #FFF;
  font-size: 1.4rem;
}

.c-table1 tbody th {
  font-weight: normal;
  font-size: 1.4rem;
  background: #E6E9ED;
}

.c-table1 tbody td {
  text-align: center;
  font-size: 1.4rem;
}

.c-table1 th {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
}

.c-table1 td {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
}

.c-line1 {
  position: relative;
}

.c-line1 hr {
  height: 0;
  border: 0;
  border-top: 1px solid #CCC;
  text-align: center;
}

.c-line1 hr:after {
  content: '§';
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  background: #FFF;
  color: #bbb;
  font-size: 1.4rem;
  left: 50%;
  top: 50%;
  line-height: 1;
  margin-top: -0.7rem;
  margin-left: -0.7rem;
}

.c-message1 {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 30px 10px;
}

.c-message1 p {
  text-align: center;
  font-size: 1.4rem;
}

.c-message1--color1 {
  border-color: #37BC9B;
  background: #48CFAD;
}

.c-message1--color1 p {
  color: #FFF;
}

.l-side {
  width: 220px;
  margin-top: 50px;
}

.c-sideFrame1 {
  border-radius: 5px;
  border: 1px solid #CCC;
  margin-bottom: 30px;
}

.c-sideFrame1__head {
  border-bottom: 1px solid #CCC;
  padding: 12px 10px;
  background: #E6E9ED;
}

.c-sideFrame1__head p {
  font-size: 1.4rem;
  line-height: 1;
}

.c-sideFrame1__body {
  padding: 13px 10px;
}

.c-list4 a {
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  font-size: 1.3rem;
}

.c-list5 li {
  margin-top: 15px;
}

.c-list5 li:first-child {
  margin-top: 0;
}

.c-list5 a {
  padding: 0;
}

.c-footSitemap {
  border-top: 1px solid #CCC;
  background: #EFEFEE;
  padding: 30px 0;
}

.c-footSitemap p {
  font-weight: bold;
  font-size: 1.4rem;
}

.c-footSitemap li {
  margin-top: 6px;
}

.c-footSitemap a {
  text-decoration: none;
  color: #000;
}

.c-footSitemap__inner {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footCopy {
  padding: 20px 0;
  border-top: 1px solid #CCC;
}

.c-footCopy p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
}

.l-content2 {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-main {
  width: 800px;
  margin-top: 50px;
}

.p-company1 {
  margin-bottom: 40px;
}

.p-company1 p {
  margin-bottom: 20px;
}

.p-company2 {
  margin-bottom: 40px;
}

.p-company2 .c-table1 {
  margin-bottom: 30px;
}

.p-company3 p {
  margin-bottom: 10px;
}

.p-company3 .c-list2 {
  margin-bottom: 30px;
}

.p-company3 .c-line1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.p-company3__txt1 p {
  color: #8CC152;
}

.p-company3__txt2 p {
  color: #DA4453;
  font-size: 1.2rem;
}

.c-company4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.c-company4__img {
  width: 180px;
  margin-right: 15px;
}

.c-company4__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  margin-top: 30px;
}

.u-red {
  color: #F00;
  font-weight: bold;
}

.l-side {
  width: 220px;
  margin-top: 50px;
}

.p-service .c-tilte4 {
  background: #5D9CEC;
  color: #FFF;
}

.p-service1 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.p-service2__txt1 {
  margin-bottom: 20px;
}

.p-service3 {
  margin-bottom: 40px;
}

.p-service3 .c-table1 {
  margin-bottom: 30px;
}

.p-service3 .l-btn1 {
  margin-top: 30px;
}

.p-service3 .l-btn1--center {
  text-align: center;
}

.p-service2 {
  margin-bottom: 40px;
}

.c-btn1 {
  display: inline-block;
}

.c-btn1 a {
  color: #FFF;
  background: #FC6E51;
  border-radius: 30px;
  line-height: 1;
  text-align: center;
  min-width: 200px;
  padding: 13px 0;
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
}

.p-service4 .c-title1 {
  margin-bottom: 20px;
}

.p-service4 .c-imgtext1 {
  margin-bottom: 30px;
}

.p-service4 .c-tilte3 {
  margin-bottom: 10px;
}

.p-service4 p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .web {
    display: none;
  }
  .mob {
    display: block;
  }
  .c-header {
    border-bottom: 1px solid #CCC;
    background: #FFF;
    height: 50px;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 10px;
    display: block;
  }
  .c-header ul {
    display: none;
  }
  .c-header .c-menuSP__1, .c-header .c-menuSP__2, .c-header .c-menuSP__3 {
    width: 100%;
    height: 5px;
    background: #000;
    margin: 6px auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .c-header .c-menuSP {
    width: 30px;
    height: 30px;
    top: 11px;
    right: 20px;
    cursor: pointer;
    position: absolute;
  }
  .c-header .is-open .c-menuSP__1 {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
  }
  .c-header .is-open .c-menuSP__2 {
    opacity: 0;
  }
  .c-header .is-open .c-menuSP__3 {
    -webkit-transform: rotate(-45deg) translate(8px, -8px);
    transform: rotate(-45deg) translate(8px, -8px);
  }
  .c-menulistSP {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
  }
  .c-menulistSP ul {
    background: #FFF;
  }
  .c-menulistSP li {
    border-bottom: 1px solid #CCC;
  }
  .c-menulistSP a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 10px 10px;
  }
  .c-breadcrumb1 ul {
    width: 100%;
  }
  .p-mg100 {
    margin: 100px 0 20px 0;
  }
  .l-btn--2center {
    padding-left: 10px;
    padding-right: 10px;
  }
  .l-btn--2center div {
    width: 48%;
  }
  .l-btn--2center div:last-child {
    margin-left: 2%;
  }
  .l-btn--2center a {
    min-width: 100%;
  }
  .l-btn--2between {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .l-btn--2between div {
    width: 48%;
  }
  .l-btn--2between div:last-child {
    margin-left: 2%;
  }
  .l-btn--2between a {
    min-width: 100%;
  }
  .c-tilte4__inner {
    padding: 0 10px;
    height: 70px;
    width: auto;
  }
  .l-content {
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-navi1 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .c-navi1 li {
    width: 49%;
    margin-bottom: 10px;
  }
  .c-navi1 li:nth-child(2n+1) {
    margin-left: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .c-list1__img {
    max-width: 100%;
    height: auto;
  }
  .c-list1__card {
    width: 49%;
    margin-left: 2%;
  }
  .c-list1__card:nth-child(2n+1) {
    margin-left: 0px;
  }
  .c-list1--col3 .c-list1__card {
    width: 49%;
    margin-left: 2%;
  }
  .c-list1--col3 .c-list1__card:nth-child(3n+1) {
    margin-left: 2%;
  }
  .c-list1--col3 .c-list1__card:nth-child(2n+1) {
    margin-left: 0px;
  }
  .c-table1--spBlock th {
    display: block;
  }
  .c-table1--spBlock td {
    display: block;
  }
  .l-side {
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-footSitemap {
    padding: 15px 10px 5px 10px;
  }
  .c-footSitemap__inner {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .c-footSitemap__block {
    width: 48%;
    margin-bottom: 20px;
  }
  .c-footSitemap__block:first-child {
    margin-top: 0;
  }
  .c-footCopy {
    padding: 10px 0;
  }
  .c-footCopy p {
    font-size: 1.0rem;
  }
  .l-content2 {
    width: auto;
    display: block;
  }
  .l-main {
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-tilte2 h1, .c-tilte2 h2, .c-tilte2 h3, .c-tilte2 h4, .c-tilte2 h5, .c-tilte2 h6 {
    font-size: 1.4rem;
  }
  .p-mt54 {
    margin-top: 54px;
  }
  .c-company4__img {
    width: 100px;
    margin-right: 15px;
  }
  .l-side {
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
