@charset "UTF-8";
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body{
	max-width: 1080px;
	min-width: 940px;
	margin: 0 auto;
}
.container{
	width: 940px;
	margin: 0 auto;
}