@charset "UTF-8";
/*------------------------------------------------------------
	background
------------------------------------------------------------*/
#bg-abslide{
    background-image: url("../img/ab-slider.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}  
#bg-clslide{
    background-image: url("../img/cl-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}  
#bg-ablist{
    background-color: #faf2e5;
    height: 2143px;
}
#bg-abslider01{
    background-color: #e5f5e9;
    height: 577px;
}
#bg-abslider02{
    background-color: #fbf4e6;
    height: 815px;
}
#bg-abinfo{
    background-color: #f3ebdc;
}
#bg-clcontent{
    background-color: #fbf5e7;
    height: 2841px;
}
#bg-banner{
    background-image: url("../img/cl-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 191px;
}
#bg-ftmenu{
    background-color: black;
    height: 375px;
}
#bg-ftlogo{
    background-image: url("../img/bg-ftlogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 141px;
}
#bg-evslide{
    background-image: url("../img/ev-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
#bg-evcontent{
    background-color: #faf3e5;
    height: 1374px;
}
#bg-topslide{
    background-image: url("../img/top-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
}
#bg-topmenu{
    background-color: #f9f3e4;
}
#bg-topmenu2{
    background-color: #f9f3e4;
}
#bg-topbanner1{
    background-image: url("../img/top-banner1bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#bg-topbanner2{
    background-image: url("../img/top-banner2bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-banner{
    overflow: hidden;
    .u-logo{
        float: left;
    }
    .u-phone{
        float: right;
    }
}
.c-menu{
    ul{
        display: -webkit-box;
        display: flex;
        margin-top: 22px;
    }
    li{
        width: 25%;
        border-right: 1px solid #ccc;
    }
    li:first-child{
        border-left: 1px solid #ccc;
    }
    a{
        height: 30px;
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
}
.c-abslider{
    text-align: center;
    margin-top: 19px;
    .text{
        margin-top: 96px;
    }
}
.c-clslider{
    text-align: center;
    margin-top: 19px;
    .text{
        margin-top: 96px;
    }
}
.c-ablist{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    .u-cont,.u-cont2,.u-cont3,.u-cont4{
        overflow: hidden;
        .u-left{
            width: 460px;
            float: left;
        }
        .u-right{
            margin-left: 20px;
            width: 460px;
            float: left;
        }
        .p-h61{
            height: 61px;
            
        }
    }
    .u-cont{
        .u-left{
            .tilte{
                margin-top: 34px;
            }
        }
        .u-right{
            .tilte{
                margin-top: 31px;
            }
        }
    }
    .u-cont2{
        margin-top: 32px;
        .u-left{
            .tilte{
                margin-top: 28px;
            }
        }
        .u-right{
            .tilte{
                margin-top: 29px;
            }
        }
    }
    .u-cont3{
        margin-top: 50px;
        .u-left{
            .tilte{
                margin-top: 28px;
            }
        }
        .u-right{
            .tilte{
                margin-top: 29px;
            }
        }
    }
    .u-cont4{
        margin-top: 54px;
        .u-left{
            .tilte{
                margin-top: 38px;
            }
        }
        .u-right{
            .tilte{
                margin-top: 40px;
            }
        }
    }
    p{
        text-align: justify;
        margin: 14px 0 14px 0;
        letter-spacing: 2.8px;
    }
}
.c-abslider01{
    text-align: center;
    .u-tilte{
        margin-left: 3px;
        
    }
    .p-h80{
        height: 80px;
    }
    .u-slider{
        margin-top: 61px;
        margin-left: -20px;
        .prev,.next {
            top: 80px;
        }
        .next {
            right: 50px;
          
        }
        .prev {
            left: 50px;
        }
        .dot, .dot2 {
            margin: 30px 5px;
        }
    }
}
.c-abslider02{
    text-align: center;
    .u-tilte{
        margin-left: -9px;
    }
    .p-h80{
        height: 80px;
    }
  .u-slider{
    margin-top: 38px;
    margin-left: 0px;
    .prev,.next {
        top: 215px;
    }
    .next {
        right: 50px;
      
    }
    .prev {
        left: 29px;
    }
    .dot, .dot2 {
        margin: 40px 5px;
    }
  }
}
.u-slider {
    position: relative;
    .mySlides{
        display: none;
        img{
            max-width: 700px;
            min-height: 200px;
        }
    }
    .mySlides2{
        display: none;
        img{
            max-width: 700px;
            min-height: 467px;
        }
    }
    .prev,.next {
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 40px;
        transition: 0.6s ease;
        color: #ffffff;
        font-size: 24px;
        background-color: #00634b;
    }
    .prev:hover,.next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .u-dot{
        margin-left: 0px;
    }
    .dot, .dot2 {
        cursor: pointer;
        height: 12px;
        width: 12px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active,.dot:hover {
        background-color: #00634b;
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
}
.c-abinfo{
    overflow: hidden;
    .u-plugin{
        overflow: hidden;
        .facebook{
            float: left;
        }
        .twitter{
            float: left;
            margin-top: 2px;
            margin-left: 21px;
            img{
                border-radius: 4px;
            }
        }
        .youtube{
            float: right;
            img{
                border-radius: 4px;
            }
        }
        .p-h57{
            height: 57px;
        }
    }
    &--toppage{
        overflow: hidden;
        padding-top: 48px;
        padding-bottom: 74px;
        .c-ftlistcard{
            float: left;
            width: 460px;
            overflow: hidden;
            .card{
                float: left;
                width: 220px;
                height: 220px;
                background-color: #00634b;
                border-radius: 4px;
                margin: 20px 20px 0 0;
                h3{
                    font-size: 18px;
                    color: #ffffff;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: 1px;
                    padding: 0 10px 0 10px;
                }
                img{
                    max-width: 220px;
                    max-height: 146px;
                    padding-bottom: 26px;
                }
                button{
                    width: 105px;
                    height: 25px;
                    color: #ffffff;
                    font-size: 12px;
                    background-color: #fab445;
                    position: absolute;

                }
            }
            .card:first-child{
                margin: 20px 0 0 0;
            }
            .card:nth-child(2n+1){
                margin: 20px 0 0 0;
            }
        }
        .c-plugin{
            width: 460px;
            float: right;
            margin-top: 21px;
            .banner{
                overflow: hidden;
                img{
                    float: left;
                    margin-right: 20px;
                }
                img:last-child{
                    margin-right: 0;
                }
            }
            .facebook{
                margin-top: 20px;
            }
            .banner2{
                margin-top: 20px;
                img{
                    margin-right: 20px;
                }
                img:last-child{
                    margin-right: 0;
                }
            }
           
        }
    }
}
.c-ftmenu{
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
    .u-menu{
        float: left;
    }
    h5{
        font-size: 15px;
        margin: 0 0 0 16px;
    }
    .p-h48{
        height: 48px;
    }
    .p-mf103{
        margin-left: 103px;
    }
    .p-mf80{
        margin-left: 80px;
    }
    .p-mf70{
        margin-left: 70px;
    }
    ul{
        margin: 20px 0 30px 16px;
    }
    li{
        margin: 10px 0 10px 0;
    }
    a{
        color: #ffffff;
    }
}
.c-ftlogo{
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 2px;
    p{
        margin: 0 0 4px 260px;
    }
    .p-h50{
        height: 50px;
    }
}
.c-clcontent{
    .u-list-card{
        overflow: hidden;
        .card, .card-get{
            text-align: center;
            float: left;
            width: 220px;
            height: 221px;
            background-color: #00634b;
            border-radius: 4px;
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
            margin: 0 20px 18px 0;
            button{
                width: 130px;
                height: 35px;
                font-size: 12px;
                color: #ffffff;
                border-radius: 4px;
                font-weight: bold;
                background-color: #004534;
                cursor: pointer;
            }
            button:hover{
                border: 1px solid #ffffff;
            }
            img{
                max-width: 220px;
                max-height: 120px;
            }
            p{
                letter-spacing: 2px;
                margin: 20px 0 8px 0;
            }
        }
        .card-get{
            background-color: black;
            button{
                width: 182px;
                height: 45px;
                margin-top: 10px;
                font-size: 16px;
                color: black;
                font-weight: bold;
                background-color: #fab445;
                letter-spacing: 1px;
            }
            img{
                margin-top: 24px;
            }
        }
        .card-full{
            float: left;
            width: 940px;
            height: 250px;
            background-color: #00634b;
            font-size: 14px;
            color: #ffffff;
            overflow: hidden;
            text-align: center;
            border-radius: 4px;
            .u-left{
                margin-top: 36px;
                margin-left: 14px;
                width: 460px;
                float: left; 
               h1{
                   font-size: 30px;
                   font-weight: bold;
                   margin: 16px 0 20px 0;
                   letter-spacing: 5px;
               }
               hr{
                   width: 236px;
                   margin: 0 0 28px 110px;
               }
               p{
                   text-align: justify;
                   width: 390px;
                   margin: 0 auto;
                   letter-spacing: 3px;
               }
            }
            .u-right{
                width: 460px;
                float: right;
            }
        }
        .mg0{
            margin: 0;
        }
    }
    .u-class{
        overflow: hidden;
        .class{
            float: left;
            width: 222px;
            height: 270px;
            background-color: #e5f5e9;
            text-align: center;
            margin: 38px 17px 0 0;
            p{
                font-size: 14px;
                color: black;
                font-weight: 500;
                text-align: justify;
                letter-spacing: 2px;
                margin: 0 30px 0 30px;
            }
            img{
                margin: 29px 0 29px 0;
            }
        }
        .mg0{
            margin: 38px 0 0 0;
        }
    }
    .u-table{
        margin-top: 45px;
        p{
            font-size: 14px;
            color: black;
            font-weight: 500;
            margin: 30px 0 30px 0;
            text-align: justify;
            letter-spacing: 3px;
        }
        table{
            width: 940px;
            border-collapse: collapse;
            background-color: #ffffff;
            font-size: 16px;
        }
        th, td{
            padding: 22px 26px;
            border: 1px solid #00634b;
            text-align: center
        }
        th{
            padding: 18px 20px;
            border: 1px solid #fff;
            background: #00634b;
            color: #fff
        }
        .bg{ background: #e5f5e9 !important}
        .sTxt{ font-size: 14px}
        .rTxt{ text-align: right}
        .lTxt{ text-align: left}
    }
    .u-price{
        font-size: 14px;
        color: black;
        letter-spacing: 2.8px;
        font-weight: 500;
        margin-top: 34px;
        p{
            margin: 28px 0 16px 0;
        }
        li{
            margin: 7px 0 7px 0;
        }
        .tilte02{
            margin-top: 33px;
        }
        .tab-price{
            overflow: hidden;
            margin-top: 28px;
            .tab-a{
                width: 460px;
                height: 365px;
                float: left;
                background-color: #e5f5e9;
                text-align: center;
                h3{
                    font-size: 18px;
                    font-weight: bold;
                    color: #00634b;
                    margin: 24px 0 24px 0;
                }
                p{
                    width: 410px;
                    margin: 0 auto;
                    text-align: justify;
                }
                ul{
                    margin: 30px 0 30px 0;
                }
                li{
                    text-align: left;
                    margin-left: 40px; 
                }
            }
            .tab-b{
                width: 460px;
                height: 365px;
                float: right;
                background-color: #e5f5e9;
                text-align: center;
                h3{
                    font-size: 18px;
                    font-weight: bold;
                    color: #00634b;
                    margin: 24px 0 24px 0;
                }
                p{
                    width: 410px;
                    margin: 0 auto;
                    text-align: justify;
                }
                ul{
                    margin: 30px 0 30px 0;
                }
                li{
                    text-align: left;
                    margin-left: 40px; 
                }
            }
        }
    }
    .u-banner{
        .u-btn{
            width: 350px;
            height: 65px;
            background-color: #00634b;
            cursor: pointer;
            float: right;
            margin-top: 86px;
            margin-right: 109px
        }
    }
    .p-h41{
        height: 41px;
    }
    .p-mt62{
        margin-top: 62px;
    }
    .p-h70{
        height: 70px;
    }
}
.c-evslide{
    margin-top: 20px;
    h1{
        display: flex;
        width: 1080px;
        height: 200px;
        font-size: 30px;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 4px;
        justify-content: center;
        align-items: center;
    }
}
.c-evtitle{
    padding-top: 73px;
    text-align: center;
    h1{
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        color: #00634b;
        letter-spacing: 6px;
        padding: 0 0 14px 0;
        border-bottom: 3px solid;
    }
}
.c-evtitle:first-child{
    padding-top: 54px;
}
.c-evmedia{
    overflow: hidden;
    padding-top: 40px;
    .c-left{
        float: left;
        img{
            padding-right: 20px;
        }
    }
    .c-right{
        width: 620px;
        float: left;
        p{
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 4px;
        }
    }
    .c-link{
        overflow: hidden;
        padding-top: 40px;
        img{
            float: left;
            padding-right: 8px;
        }
        a{
            float: left;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 4px;
            border-bottom: 1px solid;
            display: inline-block;
            padding-bottom: 4px;
            text-decoration: none;
            color: black;
        }
    }
    &--swap{
        .c-left{
            float: right;
            img{
                padding-left: 20px;
                padding-right: 0px;
            }
        }
        .c-right{
            float: left;
        }
    }
}
.c-topslide{
    h1{
        display: flex;
        width: 1080px;
        height: 490px;
        font-size: 24px;
        color: #ffffff;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;
    }
}
.c-topheader{
    .c-menu{
        ul{
            padding: 40px 0 40px 0;
            margin-top: 0px;
        }
        a{
            height: 40px;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
}
.c-toptitle{
    padding-bottom: 30px;
    h2 { 
        width:100%; 
        text-align:center; 
        border-bottom: 3px solid #cccccc;
        line-height:0.1em; 
        font-size: 30px;
        font-weight: bold;
        padding: 31px 0 0 0;
        letter-spacing: 2px;
       
        span { 
            background-color:#f9f3e4; 
            padding:0 30px; 
            color: #333333;
        }
        small{
            font-size: 18px;
            font-weight: 500;
            color: #333333;
        }
    } 
    &--style2{
        padding-bottom: 16px;
        h2 { 
            text-align:center; 
            border-bottom: 3px solid #cccccc;
            line-height:0.1em; 
            font-size: 22px;
            padding: 31px 0 0 0;
            letter-spacing: 2px;
            span { 
                background-color:#f4ecdc; 
                padding:0 20px; 
                color: #333333;
            }
        } 
    }
}
.c-toplistcard{
    overflow: hidden;
    .u-card{
        float: left;
        width: 220px;
        height: 220px;
        background-color: #00634b; 
        margin-top: 20px;
        border-radius: 5px;
        text-align: center;
        margin-left: 20px;
        &--bgblack{
            background-color: black; 
            button{
                width: 182px;
                height: 45px;
                font-size: 16px;
                background-color: #fab445;
                color: black;
            }
            img{
               padding: 24px 0 10px 0;
            }
        }
    }
    .u-card:first-child{
        margin-left: 0;
    }
    .u-card:nth-child(4n+1){
        margin-left: 0;
    }
    img{
        max-width: 220px;
        max-height: 120px
    }
    h3{
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        padding: 20px 0 10px 0;
        letter-spacing: 1px;
    }
    button{
        width: 130px;
        height: 35px;
        font-size: 12px;
        font-weight: bold;
        background-color: #004534;
        cursor: pointer;
        border-radius: 4px;
        color: white;
        letter-spacing: 1px;
    }
    button:hover{
        border: 1px solid #ffffff;
    }
}
.c-topbanner{
    display: -webkit-box;
    padding: 41px 0 60px 0;
    .u-banner1{
        width: 460px;
        height: 150px;
        margin-right: 20px;
        display: flex;
        display: -webkit-box;
        align-items: center;
        .u-box{
            width: 260px;
            height: 130px;
            background-color: #fab445ba;
            text-align: center;
            margin-left: 10px;
            img{
                padding: 16px 0 10px 0;
            }
        }
        button{
            width: 130px;
            height: 30px;
            background-color: black;
            color: #ffffff;
            font-size: 12px;
            letter-spacing: 1px;
            border-radius: 4px;
            margin-left: 30px;
            margin-top: 100px;
            cursor: pointer;
        }
        button:hover{
            border: 1px solid #ffffff;
        }
    }
    .u-banner2{
        width: 460px;
        height: 150px;
        img{
            display: block;
            margin-left: 32px;
            margin-top: 28px;
        }
        button{
            display: block;
            width: 130px;
            height: 30px;
            background-color: #00634b;
            border-radius: 4px;
            margin-left: 74px;
            margin-top: 16px;
            color: #ffffff;
            font-size: 12px;
            cursor: pointer;
        }
    }
}

   