@charset "UTF-8";
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body{
    border-top: 7px solid #4e4e4e;
    min-width: 1300px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}